- js do
  :javascript
    $(document).ready(function() {
      new Mf.UserMenuView({el: $('#account .account-user')});
    });

%ol#account
  - if not signed_in?
    %li.account-signup= link_to 'Sign Up', new_user_path
    %li.account-signin= link_to 'Sign In', new_user_session_path

  - elsif current_user.verified?
    %li.account-plan
      - unless current_user.pro?
        %span.time #{current_user.hours_left}h left
        = link_to pro_account_path, class: 'upgrade' do
          Upgrade to Pro!

    %li.account-user
      = link_to player_path(current_user.minecraft_player) do
        = player_avatar_tag current_user.minecraft_player, size: :small

      %ol
        %li.account-profile= link_to 'Profile', player_path(current_user.minecraft_player)
        %li.account-settings= link_to 'Settings', edit_user_path
        %li.account-sign-out= link_to 'Sign out', destroy_user_session_path, method: :delete
