%header
  %h1
    %strong Invite
    your friends to Minefold!

%p
  For every one of your friends who joins and plays on Minefold we'll give you
  = pluralize (User::FRIEND_REFERRAL_BONUS / 1.hour), 'hour', 'hours'
  and also give them
  = pluralize (User::USER_REFERRAL_BONUS / 1.hour), 'hour', 'hours'
  bonus time.

= form_for @invite do |f|
  %div
    = f.email_field :email, placeholder: 'Email', required: true
    .errors

  %div
    = f.submit 'Send an invite', disabled: true

    .count
      = current_user.referrals_left
      remaining
