!!!
%html{lang: 'en', dir: 'ltr'}
  %head
    %meta{charset: 'utf-8'}

    %title
      {block:SearchPage}
      {lang:Search results for SearchQuery} —
      {/block:SearchPage}
      {block:PostSummary}
      {PostSummary} —
      {/block:PostSummary}
      {Title}

    %meta{name: 'author', content: 'Mütli Corp <http://mutlicorp.com>'}
    {block:Description}
    %meta{name: 'description', content: '{MetaDescription}'}
    {/block:Description}

    %link{href: '{Favicon}', rel: 'shortcut icon', type: 'image/vnd.microsoft.icon'}
    = auto_discovery_link_tag :rss, '{RSS}', title: 'Mütli Corp. Blog RSS'

    /[if lt IE 9]
      %script{src: '//html5shim.googlecode.com/svn/trunk/html5.js'}
    %meta{'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge,chrome=1'}

    - if params[:dev]
      = stylesheet_link_tag 'tumblr.css', media: 'all'

    - else
      :css
        #{Rails.application.assets.find_asset('tumblr.css').to_s}

    :css
      {CustomCSS}

    // Typekit
    %script{type: 'text/javascript', src: '//use.typekit.net/qzl8aqw.js'}
    :javascript
      try{Typekit.load();}catch(e){}

  %body.l-tumblr{class: '{block:PermalinkPage}is-permalink{/block:PermalinkPage}'}
    :javascript
      var colors = ['blue', 'red', 'green', 'yellow'],
               n = Math.floor(colors.length * Math.random()),
           color = colors[n];

      document.documentElement.className += (' is-' + color);

    %header
      .navbar.navbar-static-top.container
        .navbar-inner
          .brand
            %h1= link_to '{Title}', root_path
            %h2 {Description}
          %p
            Minefold is for gamers who want simple, on-demand servers.

    .container
      .posts
        {block:Posts}
        .post

          // Photo

          {block:Quote}
          .quote-post{class: 'is-{Length}'}
            %q “{Quote}”

            {block:Source}
            %cite.post-caption &mdash; {Source}
            {/block:Source}
          {/block:Quote}

          // Photo

          {block:Photo}
          .photo-post
            {LinkOpenTag}
            %img{src: '{PhotoURL-500}', alt: '{PhotoAlt}'}
            {LinkCloseTag}

            {block:Caption}
            %p.post-caption {Caption}
            {/block:Caption}
          {/block:Photo}


          // Photoset

          {block:Photoset}
          .photoset-post
            {Photoset-500}
            {block:Caption}
            %p.post-caption {Caption}
            {/block:Caption}
          {/block:Photoset}


          // Video

          {block:Video}
          .video-post
            {Video-500}
            {block:Caption}
            %p.post-caption {Caption}
            {/block:Caption}
          {/block:Video}

          // Link

          {block:Link}
          .link-post
            %h2
              %a{href: '{URL}'} {Name}
            {block:Description}
            %p.post-body {Description}
            {/block:Description}
          {/block:Link}


          // Text

          {block:Text}
          .text-post
            {block:Title}
            %h2
              %a{href: '{Permalink}'} {Title}
            {/block:Title}
            .post-body {Body}
            {block:More}
            %p.post-read-more
              %a{href: '{Permalink}'} {lang:Read more}
            {/block:More}
          {/block:Text}

          .meta
            .avatar
              %img{src: '{PostAuthorPortraitURL-24}', width: 24, height: 24}
            .details
              By <a href="{PostAuthorURL}" title="{PostAuthorTitle}">{PostAuthorName}</a>{block:Date}
              on <a href="{Permalink}" title="Permalink">{DayOfMonth} {Month}, {Year}</a>{/block:Date}.
        {/block:Posts}


        {block:Pagination}
        .pagination
          %ul
            {block:NextPage}
            %li
              %a{href: '{NextPage}'} {lang:Next page}
            {/block:NextPage}

            {block:PreviousPage}
            %li
              %a{href: '{PreviousPage}'} {lang:Previous page}
            {/block:PreviousPage}

          %p.pagination-guide {lang:CurrentPage of TotalPages}
        {/block:Pagination}


    %footer
      %ul.unstyled.social
        %li.twitter= link_to 'Follow @minefold on Twitter', 'https://twitter.com/minefold'
        %li.facebook= link_to 'Like Minefold on Facebook', 'https://facebook.com/minefold'

      %ul.unstyled
        %li= link_to 'Minefold', 'https://minefold.com'
        %li= link_to 'Archive', '/archive'

      %p.copyright
        &copy;
        %a{href: 'http://mutlicorp.com'} Mütli Corp.
        Made for fun in San Francisco.

    // Gauges
    :javascript
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '4ef95acaf5a1f528f100000b');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
