%ol#session
  - if user_signed_in?
    %li.username= current_user.username
    - if current_user.special?
      %li
        = link_to credits_path, class: 'credits' do
          = number_with_delimiter current_user.format_credits
          cr
    %li= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'signout'
  - else
    %li= link_to 'Sign In', new_user_session_path
