:javascript
  window.pusher = new Pusher(#{Pusher.key.to_json});
  window.channel = pusher.subscribe(#{world.channel.name.to_json});

%header
  %h1
    = world.name
    - if not world.public?
      %img{src: asset_path('lock.png'), width: 9, height: 12}

#nav
  %aside
    - if signed_in?
      .connection
        - if current_user.world == world
          %p
            Connect to
            %strong= world.host
        - else
          = button_to 'Join World', [:activate, world]

  %ul
    %li.activity
      = link_to 'Activity', world
    %li.map
      = link_to 'Map', [:map, world]
    %li.photos
      = link_to 'Photos', [:photos, world]
    %li.videos
      %a.disabled Videos
    %li.stats
      %a.disabled Stats
    - if not world.public? and signed_in? and world.creator == current_user
      %li.edit
        = link_to 'Settings', [:edit, world]
