%h1
  = link_to world.name, world

%aside
  - if signed_in?
    .meta
      - if world.member?(current_user)
        - if current_user.current_world == world
          .connection-info
            Connect to
            %strong= current_user.host
          .help
            = link_to help_page_path(anchor: 'connecting') do
              Don't know how to connect?
        - else
          = button_to 'Play in this world', [:play, world], method: :put

      - else
        - if world.invites.where(from: current_user).exists?
          .connection-info Waiting for #{world.owner.username} to let you play…
        - else
          = button_to 'Ask to play here', [world, :players], method: :put


%ol#subnav
  %li.chat
    = link_to 'Chat', world

  %li.map
    = link_to 'Map', [:map, world]

  %li.players
    = link_to 'Players', [world, :players]

  - if signed_in? and world.creator == current_user
    %li.edit
      = link_to 'Settings', [:edit, world]
