- head do
  %meta{property: 'og:title', content: world.name}
  %meta{property: 'og:type',  content: 'fold'}
  %meta{property: 'og:url', content: world_path(world)}
  %meta{property: 'og:image', content: image_path('logo-48.png')}

- masthead do
  - if not signed_in?
    #welcome
      %aside
        = link_to new_user_path, class: 'btn' do
          Sign up now!
          %span (First 10 hrs free)
    
      %p
        %strong= world.creator.username
        - unless world.whitelisted_players.length.zero?
          and
          = pluralize world.whitelisted_players.length, 'friend', 'friends'
          are
        - else
          is
        playing Minecraft here. You can too, just sign up!
  
  %nav
    %ol
      %li.activity= link_to 'Activity', world
      %li.map= link_to 'Map', map_world_path(world)

      - if world.opped?(current_user)
        %li.settings= link_to 'Settings', edit_world_path(world)
