- masthead do
  %h1
    = link_to world.name, world

  %aside
    - if signed_in?
      - if world.whitelisted?(current_user)
        - if current_user.current_world == world
          %p
            Connect to
            %strong= current_user.host
          %p.hint
            = link_to help_page_path(anchor: 'connecting') do
              Don't know how to connect?
        - else
          = button_to 'Play here', [:play, world], method: :put

      - else
        - if world.play_requests.where(user: current_user).exists?
          %p Waiting for #{world.creator.username}
        - else
          = button_to 'Ask to play here', [:ask, world, :players], method: :post

    - else
      %p.hint
        - if world.whitelisted_players.size.zero?
          #{world.creator.username} is playing here.
        - else
          #{world.players.size} other people are playing here.

      = link_to 'Join them by signing up now', plans_page_path, class: 'button'

- subhead do
  %ol#subnav
    %li.chat
      = link_to 'Chat', world

    %li.map
      = link_to 'Map', [:map, world]

    %li.players
      = link_to 'Players', [world, :players]

    - if signed_in? and world.creator == current_user
      %li.edit
        = link_to 'Settings', [:edit, world]
