- content_for :masthead do
  %h1= link_to world.name, world

  %aside
    - if signed_in?
      .meta
        - if current_user.current_world == world
          .connection-info
            Connect to
            %strong= current_user.host
          .help
            = link_to help_page_path(anchor: 'connecting') do
              Don't know how to connect?

  %ol#subnav
    %li.activity
      = link_to 'Activity', world
    %li.map
      = link_to 'Map', [:map, world]
