- head do
  %meta{property: 'og:title', content: world.name}
  %meta{property: 'og:type',  content: 'fold'}
  %meta{property: 'og:url', content: world_path(world)}
  %meta{property: 'og:image', content: image_path('logo-48.png')}

- masthead do
  - if not signed_in?
    #welcome
      %aside
        = link_to new_user_path, class: 'btn' do
          Sign up now!
          %span (First 10 hrs free)
      
      %h2 Hey you!
      
      %p
        %strong= world.creator.username
        - unless world.whitelisted_players.length.zero?
          and
          = pluralize world.whitelisted_players.length, 'friend', 'friends'
          are
        - else
          is
        playing Minecraft here.
        You join in too, it just takes 30s to sign up.
  
  - if signed_in? and not current_user.played?
    #welcome
      %h2 Congratulations! Follow these steps to ephiphany:
      %ol
        %li
          - if current_user.referrer
            Join
          - else
            Create
          a world.
        %li
          Invite 3 of your friends
        
        %li
          Play!
          
  
  %nav
    %ol
      %li.activity= link_to 'Activity', world
      %li.map= link_to 'Map', map_world_path(world)
      %li.photos= link_to 'Photos', world_photo_sets_path(world)

      - if world.opped?(current_user)
        %li.settings= link_to 'Settings', edit_world_path(world)
