- head do
  %meta{property: 'og:title', content: world.name}
  %meta{property: 'og:type',  content: 'fold'}
  %meta{property: 'og:url', content: world_path(world)}
  %meta{property: 'og:image', content: image_path('logo-48.png')}

- masthead do
  - # TODO: Potential confusion: current_user.current_world == world?
  - if signed_in? and can?(:play, world) and not current_user.played?
    .instructions
      You need to add the server
      %strong= current_user.host
      to Minecraft before you can play on Minefold.

      = link_to help_page_path(anchor: 'connecting') do
        Want some help?


  .attribution
    %h1= world.name

    %p
      by #{link_to world.creator.username, world.creator, rel: 'author'}
      - if world.clone?
        and cloned from
        = link_to world.parent.creator.username, world.parent.creator
        \/
        = link_to world.parent.name, world.parent

  %ol.actions
    - if can? :edit, world
      %li.settings
        = link_to edit_world_path(world) do
          = image_tag 'icons/settings.png', width: 20, height: 20

    %li.members
      = link_to world_members_path(world) do
        = image_tag 'icons/friends.png', width: 30, height: 20

    - if not signed_in? or can? :clone, world
      %li.clone
        = button_to 'Clone', clone_user_world_path(world.creator, world), method: :put

    - if can? :play, world
      %li.play
        - if current_user.current_world == world
          = button_to 'Playing here', nil, disabled: true
        - else
          = button_to 'Play here', join_user_world_path(world.creator, world), method: :put

    - else
      %li.membership-request
        - if signed_in? and world.membership_requests.include_user?(current_user)
          = button_to 'Request sent', nil, disabled: true
        - else
          = button_to 'Ask to play here', world_membership_requests_path(world), method: :post

  %ul.stats
    - if world.children.any?
      %li.stat.members
        %span.val= number_with_delimiter world.children.size
        %span.label= pluralize_text world.children.size, 'clone', 'clones'

    %li.stat.views
      %span.val= number_with_delimiter world.pageviews
      %span.label= pluralize_text world.pageviews, 'view', 'views'

    %li.stat.mins
      %span.val= number_with_delimiter world.minutes_played
      %span.label= pluralize_text world.minutes_played, 'min', 'mins'

    %li.stat.members
      %span.val= number_with_delimiter world.memberships.size
      %span.label= pluralize_text world.memberships.size, 'member', 'members'
