:javascript
  window.pusher = new Pusher(#{Pusher.key.to_json});
  window.channel = pusher.subscribe(#{@world.channel.name.to_json});

%header
  %h1= @world.name
  %aside
    - if signed_in?
      .connection
        - if current_user.world == @world
          %p
            Connect to
            %strong= @world.host
        - else
          = button_to 'Join World', [:activate, @world]


%ul#nav
  %li.activity
    = link_to 'Activity', @world
  %li.map
    = link_to 'Map', [:map, @world]
  %li.photos
    %a.disabled Photos
  %li.videos
    %a.disabled Videos
  %li.stats
    %a.disabled Stats
  - if signed_in? and @world.creator == current_user
    %li.settings
      = link_to 'Settings', [:edit, @world]
