- masthead do
  - if not signed_in? and false
    %section.upsell
      %p
        %strong
          #{world.creator.username} is playing Minecraft here.

        You can create a server just like this too. #{link_to 'Sign up now', new_user_path} and play <em>FREE</em> for 10 hours each month.

  / ---

  %aside
    %ol.actions
      - if can? :edit, world
        %li.settings
          = link_to 'Settings', edit_player_world_path(world.creator.minecraft_player, world), class: 'btn'

      %li.members
        = link_to 'Players', player_world_players_path(world.creator.minecraft_player, world), class: 'btn'

      - if not signed_in? or can? :clone, world
        %li.clone
          = button_to 'Clone', clone_player_world_path(world.creator.minecraft_player, world), method: :put

        %li.membership-request
          - if signed_in? and world.membership_requests.include_user?(current_user)
            = button_to 'Request sent', nil, disabled: true
          - else
            = button_to 'Ask to play here', player_world_membership_requests_path(world.creator.minecraft_player, world), method: :post

  %h1.world
    %span.creator= world.creator.username
    %span.slash> /
    %strong.name= world.name

  %h2= world.host
