- if not signed_in? and false
  %section.upsell
    %p
      %strong
        #{world.creator.username} is playing Minecraft here.

      You can create a server just like this too. #{link_to 'Sign up now', new_user_path} and play <em>FREE</em> for 10 hours each month.

/ ---

.page-header
  .row
    .span6
      %h1
        %span.creator= world.creator.username
        %span.slash> /
        %strong.name= world.name
      %h3= world.host

    .span6
      .btn-group.pull-right
        - if not signed_in? or can? :clone, world
          = link_to 'Clone', clone_player_world_path(player, world), method: :put, class: %w(btn)

        - if signed_in? and world.membership_requests.include_user?(current_user)
          = link_to 'Request sent', nil, disabled: true, class: %w(btn)
        - elsif not can?(:play, world)
          = link_to 'Ask to play here', player_world_membership_requests_path(player, world), method: :post, class: %w(btn)
        - if signed_in? and world.creator == current_user
          = link_to 'Download', player_world_path(player, world, format: :zip), class: %w(btn)

      %div{style: 'clear:both'}

      %ul.nav.nav-pills.pull-right
        - if can? :update, world
          %li.pull-right
            = link_to 'Settings', edit_player_world_path(player, world)

        %li.pull-right
          = link_to 'Players', player_world_players_path(player, world)

        %li.pull-right.active
          = link_to 'Map', player_world_path(player, world)

        - if can? :update, world
          %li.pull-right
            = link_to 'Invite Friends', invite_player_world_path(player, world)
