- title "Settings for #{world.name}"
- masthead do
  %h1 #{world.name} settings
  %p
    = link_to "← back to #{world.name}", world

#page
  = form_for world do |f|
    = render partial: 'form', object: f