- title "#{world.name} settings"

.page-header
  %h1 #{world.name} settings
  %p
    = link_to player_world_path(player, world) do
      ← Back to #{world.name}

%section
  = form_for world, url: player_world_path(player, world), html: {id: 'edit-world'} do |f|
    = render partial: 'form', object: f

    .form-actions
      = f.submit 'Update settings', tabindex: 8, class: %w(btn btn-primary)
      = link_to 'Cancel', player_world_path(player, world), class: %w(btn)

      - if can? :destroy, world
        .pull-right
          = button_to "Delete this world", player_world_path(player, world), method: 'delete', form_class: 'delete', confirm: 'Are you sure you want to delete this world?', class: %w(btn btn-danger)
