- title "#{world.name} Settings" do
  = render partial: 'header'

= form_for world do |f|
  %section.name
    %h3
      = f.label :name

    %fieldset
      = f.text_field :name
      .note
        %strong Note:
        Renaming your world will break any external links.

  %section.game-mode
    %h3 Game Mode

    %fieldset.inline
      %div
        = f.radio_button :game_mode, 0
        = f.label :game_mode_0, 'Survival'

      %div
        = f.radio_button :game_mode, 1
        = f.label :game_mode_1, 'Creative'

  %section.difficulty
    %h3 Difficulty

    %fieldset.inline
      %div
        = f.radio_button :difficulty, 0
        = f.label :difficulty_0, 'Peaceful'

      %div
        = f.radio_button :difficulty, 1
        = f.label :difficulty_1, 'Easy'

      %div
        = f.radio_button :difficulty, 2
        = f.label :difficulty_2, 'Normal'

      %div
        = f.radio_button :difficulty, 3
        = f.label :difficulty_3, 'Hard'

  %section.game-settings
    %h3 Game Settings

    %fieldset
      %div
        = f.check_box :pvp
        = f.label :pvp, 'Player vs. Player'

      %div
        = f.check_box :spawn_monsters
        = f.label :spawn_monsters, 'Spawn monsters'

      %div
        = f.check_box :spawn_animals
        = f.label :spawn_animals, 'Spawn animals'

  %section.privacy
    %h3 Privacy

    %fieldset
      %div
        = f.check_box :public_activity
        = f.label :public_activity, 'Public activity stream'

  %section.players
    %h3 Who Can Play

    %fieldset
      %div
        = f.radio_button :invite_only, false
        = f.label :invite_only_false, 'Anybody'
      %div
        = f.radio_button :invite_only, true
        = f.label :invite_only_true, 'Only whitelisted players'

  %section.whitelist{style: (world.invite_only? ? nil : 'display:none')}
    %h3 Whitelist

    %fieldset
      %ul.whitelisted-players
        %li.owner{id: world.owner.id}

          %img{src: world.owner.avatar_url(width: 18), width: 18, height: 18}
          = world.owner.username
          (owner)
        - world.whitelist.each do |player|
          %li
            %input{type: 'hidden', name: 'world[fucking_whitelist_ids][]', value: player.id}
            %img{src: player.avatar_url(width: 18), width: 18, height: 18}
            = player.username
            %a.remove Remove
      %input.autocomplete{type: 'search', data: {source: search_users_path}, placeholder: 'Username'}
      .autocomplete-results

  :coffeescript
    inviteOnly = $('.players input:radio[name=world[invite_only]]')
    whitelist = $('.whitelist')
    inviteOnly.change -> whitelist.toggle()
    whitelist.find('input.autocomplete').autocomplete()

    $('.whitelisted-players .remove').live 'click', ->
      $(@).parent().remove()

  .submit
    = f.submit 'Save settings'

    - unless world.connected_players_count.zero?
      .note
        %strong Note:
        Settings will be applied next time the server is empty.

