- title "#{world.name} settings" do
  = render partial: 'header'

= form_for world do |f|
  %section.name
    %h3
      = f.label :name

    %fieldset
      = f.text_field :name

  %section.game-mode.disabled
    %h3 Game Mode

    %fieldset.inline
      %div
        = f.radio_button :game_mode, 0, disabled: true
        = f.label :game_mode_0, 'Survival'

      %div
        = f.radio_button :game_mode, 1, disabled: true
        = f.label :game_mode_1, 'Creative'

  %section.difficulty
    %h3 Difficulty

    %fieldset.inline
      %div
        = f.radio_button :difficulty_level, 0
        = f.label :difficulty_level_0, 'Peaceful'

      %div
        = f.radio_button :difficulty_level, 1
        = f.label :difficulty_level_1, 'Easy'

      %div
        = f.radio_button :difficulty_level, 2
        = f.label :difficulty_level_2, 'Normal'

      %div
        = f.radio_button :difficulty_level, 3
        = f.label :difficulty_level_3, 'Hard'

  %section.game-settings
    %h3 Game Settings

    %fieldset
      %div
        = f.check_box :pvp
        = f.label :pvp, 'Player vs. Player'

      %div
        = f.check_box :spawn_monsters
        = f.label :spawn_monsters, 'Spawn monsters'

      %div
        = f.check_box :spawn_animals
        = f.label :spawn_animals, 'Spawn animals'

  .submit
    = f.submit 'Save settings'

    - unless world.current_players_count.zero?
      .note
        %strong Note:
        Settings will be applied next time the server is empty.

