- title "#{world.name} Settings" do
  = render partial: 'header'

= form_for world do |f|
  %section.game-settings
    %h3 Game Settings

    %fieldset
      %div
        = f.check_box :pvp
        = f.label :pvp, 'Player vs. Player'

      %div
        = f.check_box :spawn_monsters
        = f.label :spawn_monsters, 'Spawn monsters'

      %div
        = f.check_box :spawn_animals
        = f.label :spawn_animals, 'Spawn animals'

      - unless world.connected_players_count.zero?
        .hint
          %strong NOTE
          Settings will be applied when the world is empty.

  %section.privacy
    %h3 Privacy

    %fieldset
      %div
        = f.check_box :public_activity
        = f.label :public_activity, 'Public activity stream'

  %section.players
    %h3 Players

    %fieldset
      %div
        = f.radio_button :invite_only, false
        = f.label :invite_only_false, 'Anybody can play'
      %div
        = f.radio_button :invite_only, true
        = f.label :invite_only_true, 'Only whitelisted players can play'

  %section.whitelist{style: (world.invite_only? ? nil : 'display:none')}
    %h3 Whitelist

    %fieldset
      %ul.whitelisted-players
        %li.owner{id: world.owner.id}

          %img{src: world.owner.gravatar_url(width: 18, height: 18), width: 18, height: 18}
          = world.owner.username
          (owner)
        - world.whitelist.each do |player|
          %li
            %input{type: 'hidden', name: 'world[fucking_whitelist_ids][]', value: player.id}
            %img{src: player.gravatar_url(width: 18, height: 18), width: 18, height: 18}
            = player.username
            %a.remove Remove
      %input.autocomplete{type: 'search', data: {source: search_user_path}, placeholder: 'Username'}
      .autocomplete-results

  :coffeescript
    inviteOnly = $('.players input:radio[name=world[invite_only]]')
    whitelist = $('.whitelist')
    inviteOnly.change -> whitelist.toggle()
    whitelist.find('input.autocomplete').autocomplete()

    $('.whitelisted-players .remove').live 'click', ->
      $(@).parent().remove()


  .submit
    = f.submit 'Save settings'
