- title "#{world.name} invites"

.page-header
  %h1
    %span Invite Friends
    - if flash[:new_world]
      = link_to 'Done adding friends', player_world_path(player, world), class: 'skip btn'

  %p.back
    = link_to player_world_path(player, world) do
      ← back to #{world.name}


%section#invite_friends
  %p Minecraft is better with friends! Invite some to your new world.

  #fb-ui-wrapper
    #fb-root

  #invites
  #friends

  - friends = current_user.friend_users.sort_by{|u| u.username.downcase }
  - players = world.players

  - content_for :tail do
    :javascript
      app.on('fb:init', function() {
        var friends = #{friends.map{ |u|
                          { id: u.id,
                            username: u.username,
                            avatar_url: u.minecraft_player.avatar.medium.url,
                            added: players.include?(u.minecraft_player)
                          }
                        }.to_json};

        var friendUids = #{friends.map{|u| u.facebook_uid }.compact.to_json};

        friendsView = new Application.FriendsAddView({
          friends: new Application.WorldMembersCollection(friends, {
            worldUrl: #{player_world_path(player, world).to_json}
          })
        });
        friendsView.setElement($('#friends')[0]);
        friendsView.render();

        var pendingFbInvites = #{
          current_user.invites.reject(&:claimed?).map{|i|
            i.facebook_uid
          }.to_json};

        invitesView = new Application.FacebookInvitesView({
          friendUids: friendUids,
          inviteUids: pendingFbInvites,
          inviteUrl: "https://minefold.com#{player_world_path(player, world, i: current_user.invite_token)}"
        });
        invitesView.setElement($('#invites')[0]);
        invitesView.render();

      });
