- title "#{world.name} map" do
  %h1= world.name

= render partial: 'header'

- if world.mapped?
  = javascript_include_tag '//maps.google.com/maps/api/js?sensor=false'

  %article#world_map
    :javascript
      $(function(){
        $('#page article#world_map').world_map({ path:'#{world.map_assets_url}'})
      })

- else
  .placeholder
    = image_tag 'marvin.png', width: 192
    %h1 Marvin is still mapping this world
    %p He apologises and is working as fast as his little robot hands can go.
