- title "#{world.name} Map" do
  = render partial: 'header'

- if world.mapped?
  #map
  - map_asset_path = "#{Rails.configuration.map_tiles_url}/#{world.id}"

  = javascript_include_tag 'https://maps.google.com/maps/api/js?sensor=false'

  :coffeescript
    $.world_map path:'#{map_asset_path}'

- else
  %p#nomap
    %strong Hold your horses!
    Our gremlins are still mapping this world. In the mean time can we tempt you with this delicious video?

  = youtube_vid
