- title "#{world.name} map" do
  %h1= world.name

= render partial: 'header'

- if world.mapped?
  = javascript_include_tag '//maps.google.com/maps/api/js?sensor=false'
  = javascript_include_tag 'world_map'
  
  %article#world_map
    :javascript
      $(function(){
        $('#page article#world_map').world_map({ path:'#{world.map_assets_url}'})
      })

- else
  %center
    %h1 Marvin is still mapping this world!
    %p He apologises and whispers that he's folding as fast as his little hands can go. Perhaps you can help him out by playing here for a couple of minutes?

    = image_tag 'marvin.png'
