- title "#{world.name} map" do
  = render partial: 'header'

- if world.mapped?
  #map
  - map_asset_path = "#{Rails.configuration.map_tiles_url}/#{world.id}"

  = javascript_include_tag 'https://maps.google.com/maps/api/js?sensor=false'

  :coffeescript
    $.world_map path:'#{map_asset_path}'

- else
  %p#nomap
    %strong Our gremlins are still mapping this world!
    You can make them go faster by playing for 5 minutes, they like that! In the mean time can we distract you with this video?

  = youtube_vid
