= flash[:errors].to_json if flash[:errors]

%header
  %h1
    %strong Create
    a new world

= form_for @world do |f|
  .name
    = f.text_field :name, placeholder: 'Name'

  %section.game-options
    %h3 Game options

    %fieldset
      %div
        = check_box_tag 'world[options][pvp]', 'pvp', checked: @world.options['pvp']
        = label_tag 'world[options][pvp]', 'Player vs. Player'

      %div
        = check_box_tag 'world[options][spawn-monsters]', 'spawn-monsters', checked: @world.options['spawn-monsters']
        = label_tag 'world[options][spawn-monsters]', 'Spawn monsters'

      %div
        = check_box_tag 'world[options][spawn-animals]', 'spawn-animals', checked: @world.options['spawn-animals']
        = label_tag 'world[options][spawn-animals]', 'Spawn animals'


  %section.level-seed
    %h3 Level seed
    %fieldset
      %div
        = text_field_tag 'world[options][level-seed]'
        .hint
          %strong Advanced:
          Leave blank if you don't know what it does.

  .submit
    = f.submit 'Create world'
