= flash[:errors].to_json if flash[:errors]

%header
  %h1
    %strong Create
    a new world

= form_for @world do |f|
  .name
    = f.text_field :name, placeholder: 'Name'

  %section.privacy
    %h3 Privacy

    %fieldset
      %div
        = f.radio_button :private, true
        = f.label :private_true, 'Private'

        = f.radio_button :private, false
        = f.label :private_false, 'Public'

        .hint
          Any Minefold player can join a public world.

  %section.game-options
    %h3 Game options

    %fieldset

      %div
        = f.check_box :pvp
        = f.label :pvp, 'Player vs. Player'

      %div
        = f.check_box :spawn_monsters
        = f.label :spawn_monsters, 'Spawn monsters'

      %div
        = f.check_box :spawn_animals
        = f.label :spawn_animals, 'Spawn animals'

  %section.level-seed
    %h3 Level seed
    %fieldset
      %div
        = f.text_field :seed
        .hint
          %strong Advanced:
          Leave blank if you don't know what it does.

  .submit
    = f.submit 'Create world'
