= flash[:errors].to_json if flash[:errors]

%header
  %h1
    %strong Create
    a new world

= form_for @world do |f|
  .name
    = f.text_field :name, placeholder: 'Name'

  %section.privacy
    %h3 Privacy

    %fieldset
      %div
        = f.radio_button :private, true
        = f.label :private, 'Private'

        = f.radio_button :private, false
        = f.label :private, 'Public'

        .hint
          Only the people you specify can play in private worlds.

  %section.game-options
    %h3 Game options

    %fieldset
      = f.fields_for(:options, id: false) do |o|

        %div
          = o.check_box :pvp, checked: true
          = o.label :pvp, 'Player vs. Player'

        %div
          = o.check_box 'spawn-monsters', checked: true
          = o.label 'spawn-monsters', 'Spawn monsters'

        %div
          = o.check_box 'spawn-animals', checked: true
          = o.label 'spawn-animals', 'Spawn animals'

  %section.level-seed
    %h3 Level seed
    %fieldset
      = f.fields_for(:options, id: false) do |o|
        %div
          = o.text_field 'level-seed'
          .hint
            %strong Advanced:
            Leave blank if you don't know what it does.

  .submit
    = f.submit 'Create world'
