= flash[:errors].to_json if flash[:errors]

%header
  %h1
    %strong Create
    a new world

= form_for world, :url => '/worlds' do |f|
  .name
    = f.text_field :name, placeholder: 'Name'

  %section.privacy
    %h3 Privacy

    %fieldset
      %div
        = f.check_box :visible, checked: true
        = f.label :visible, 'Anybody can spectate'

        = f.check_box :public, checked: false
        = f.label :public, 'Anybody can play'
      .hint
        These settings can be changed later.



  %section.game-options
    %h3 Game options

    %fieldset

      %div
        = f.check_box :pvp
        = f.label :pvp, 'Player vs. Player'

      %div
        = f.check_box :spawn_monsters
        = f.label :spawn_monsters, 'Spawn monsters'

      %div
        = f.check_box :spawn_animals
        = f.label :spawn_animals, 'Spawn animals'

  %section.level-seed
    %h3 Level seed
    %fieldset
      %div
        = f.text_field :seed
        .hint
          %strong Advanced:
          Leave blank if you don't know what it does.

  .submit
    = f.submit 'Create world'
