- title_and_masthead 'Create a new world'

#page
  %aside
    %p.note 
      Have a world already? Upload a zip file of the world and start playing instantly.
      %br/
      = link_to 'How do I zip my world?', instructions_upload_path, target: '_blank'

    = render partial: 'upload'

  = form_for world do |f|
    = f.hidden_field :world_upload_id
    = render partial: 'form', object: f
