:javascript
  // Enable pusher logging - don't include this in production
  Pusher.log = function(message) {
    if (window.console && window.console.log) window.console.log(message);
  };

  var pusher = new Pusher(#{Pusher.key.to_json});
  var channel = pusher.subscribe(#{@world.channel.name.to_json});
  channel.bind('chat:create', displayChatMessage);

  function displayChatMessage(data) {

    stream = $('#stream');

    item = $('<div/>').addClass('item').addClass('chat');

    item.append(
      $('<div/>').addClass('avatar').append(
        $('<img/>').attr({'src': data['user']['gravatar_url'], width: 48, height: 48})
      )
    ).append(
      $('<div/>').addClass('user').append(
        $('<span/>').addClass('username').text(data['user']['username'])
      )
    ).append(
      $('<div/>').addClass('bodyg').text(data['body'])
    );

    stream.prepend(item);
  }

%header
  %h1= @world.name
  %aside
    .connection
      - if current_user.world == @world
        %p
          Connect to
          %strong= @world.host
      - else
        = button_to 'Join World', [:activate, @world]


%ul#nav
  %li
    %a Activity
  %li
    %a.disabled Map
  %li
    %a.disabled Photos
  %li
    %a.disabled Videos
  %li
    %a.disabled Stats

#stream
  %aside
    %section
      %h2 People online
      %ul
        %li
          = link_to current_user.username, '/people/chrislloyd'

  #share
    = form_for [:chat, @world], method: :post do |f|
      %p.submit-advice
        %strong ENTER
        to chat,
        %strong SHIFT-ENTER
        for a new line.
      .user
        %span.username= current_user.username

      = text_area_tag :body, '', rows: 2, autofocus: true

  - @world.wall_items.each do |item|
    .item[item]
      - case item
      - when Chat
        .avatar
          = image_tag item.user.gravatar_url(size: 48), width: 48, height: 48
        .user
          %span.username= item.user.username
        .body
          = item.body
      - when Activity
        .user
          %span.username
        .action= item.action

    - prev = item.user


:javascript
  var f = $('#stream form');

  f.submit(function(e){
    e.preventDefault();

    var body = f.find('textarea').val();
    $.post(f.attr('action'), {body: body});
    f.find('textarea').val('');
  });

  f.find('textarea')
    .keydown(function(e) {
      if(e.keyCode == 13 && !e.shiftKey && !e.ctrlKey && !e.altKey) {
        e.preventDefault();
        f.submit();
      }
    })
    .focus(function(){
      f.find('.submit-advice').removeClass('hidden');
    })
    .blur(function(){
        f.find('.submit-advice').addClass('hidden');
      });
