%header
  %h1= @world.name

- if user_signed_in? && current_user.special?
  .info
    - if current_user.world == @world
      %p In Minecraft, please connect to <strong>#{@world.host}</strong>.
    - else
      = button_to 'Activate World', [:activate, @world]

#stream
  - if @world.wall_items.empty?
    .empty No chat messages
  - else
    - @world.wall_items.each do |post|
      - if post.is_a? ChatMessage
        .item[post]
          .author
            %span.username #{post.username}:
          .msg= post.message
