:javascript
  // Enable pusher logging - don't include this in production
  Pusher.log = function(message) {
    if (window.console && window.console.log) window.console.log(message);
  };

  var pusher = new Pusher(#{Pusher.key.to_json});
  var channel = pusher.subscribe(#{@world.channel.name.to_json});
  channel.bind('chat:create', displayChatMessage);

  function displayChatMessage(data) {

    stream = $('#stream');

    item = $('<div/>').addClass('item').addClass('chat');

    item.append(
      $('<div/>').addClass('avatar').append(
        $('<img/>').attr({'src': data['user']['gravatar_url'], width: 48, height: 48})
      )
    ).append(
      $('<div/>').addClass('user').append(
        $('<span/>').addClass('username').text(data['user']['username'])
      )
    ).append(
      $('<div/>').addClass('bodyg').text(data['body'])
    );

    stream.prepend(item);
  }

%header
  %h1= @world.name

%ul#nav
  %li Chat
  %li Map
  %li Stats
  %li History

#share
  = form_for [:chat, @world], method: :post do |f|
    .avatar
      = image_tag current_user.gravatar_url(size: 48), width: 48, height: 48


    = text_area_tag :body, '', rows: 2, autofocus: true

    %p.submit-advice
      ENTER to submit, SHIFT-ENTER for a new line.


:javascript
  var f = $('#share form');

  f.submit(function(e){
    e.preventDefault();

    var body = f.find('textarea').val();
    $.post(f.attr('action'), {body: body});
    f.find('textarea').val('');
  });

  f.find('textarea')
    .keydown(function(e) {
      if(e.keyCode == 13 && !e.shiftKey && !e.ctrlKey && !e.altKey) {
        e.preventDefault();
        f.submit();
      }
    })
    .focus(function(){
      f.find('.submit-advice').removeClass('hidden');
    })
    .blur(function(){
      f.find('.submit-advice').addClass('hidden');
    });

#stream
  - @world.wall_items.each do |item|
    .item[item]
      - case item
      - when Chat
        .avatar
          = image_tag item.user.gravatar_url(size: 48), width: 48, height: 48
        .user
          %span.username= item.user.username
        .body
          = item.body
      - when Activity
        .user
          %span.username
        .action= item.action

    - prev = item.user

/ %aside.right
/   .info
/     - if current_user.world == @world
/       %p In Minecraft, please connect to <strong>#{@world.host}</strong>.
/     - else
/       = button_to 'Activate World', [:activate, @world]
