= render partial: 'worlds/header'

#stream
  %aside
    %section
      %h2
        %strong= pluralize @world.connected_players_count, 'person', 'people'
        playing here now
      %ul
        - @world.connected_players.each do |player|
          %li
            = link_to '#', do
              .username
                = player.username


  - if signed_in?
    #share
      = form_tag world_wall_items_path(@world), method: :post do |f|
        %p.submit-advice ENTER to chat, SHIFT-ENTER for a new line.
        .user
          %span.username= current_user.username

        .avatar
          = image_tag current_user.gravatar_url(size: 36), width: 36, height: 36
        = text_area_tag :body, '', rows: 2, autofocus: true
    
  #wall-items
  
- template 'chat-message' do
  :plain
    <div id="chat_{{id}}" class="chat item">
      {{#user}}
      <div class="avatar">
        <img src="{{gravatar_url}}" />
      </div>
      <div class="user">
        <span class="username">{{username}}</span>
        {{/user}}
        <span class="timestamp">{{created_ago}} ago</span>
      </div>
      <div class="body">{{{body}}}</div>
      <div class="media">
        {{#media}}
        <a href="{{url}}"><img class="thumbnail" src="{{thumbnail_url}}" /></a>
        {{/media}}
      </div>
    </div>
        
:javascript
  $(function(){
    var chatMessages = #{@wall_items.map{|wi| {
        id: wi.id,
        user: { username:wi.user.username, gravatar_url: wi.user.gravatar_url(size: 36) },
        created_ago:time_ago_in_words(wi.created_at),
        body: wi.html ? wi.html.html_safe : wi.raw,
        media: wi.media
      } }.to_json};
    
    $wallItems = $('#wall-items');
    
    function appendChatMessages(chatMessages) {
      $.each(chatMessages, function(){
        $wallItems.append(Mustache.to_html(Mustache.templates['chat-message'], this));
      });
    }
    
    appendChatMessages(chatMessages);
    
    $wallItems.moar({
      url: '/worlds/#{@world.slug}/wall_items/page/:page',
      load: function(chatMessages, e) {
        appendChatMessages(chatMessages);
      }
    })
    
    
    
  });
