%header
  %h1= @world.name

  .status
    - if user.world == @world
      = button_to 'Spawning here', [:activate, @world], disabled: true
    - else
      = button_to 'Spawn here', [:activate, @world]

#stream
  -# @world.chat_messages do |msg|
  - 20.times do |i|
    .entry
      .author
        / = msg[:username]
        chrislloyd
      .msg
        / = msg[:msg]
        So I told them I was Mike D. It was like "Gee, I don't know, he might be".

- content_for :aside do
  .avatar
    / %img{width: 120, height: 120, src: '/world-default-big.png'}

  %section.info
    %h2 Info
    .option
      .key Host
      .val= @world.host

    - [:spawn_monsters, :spawn_animals, :allow_flight, :spawn_protection, :seed].each do |option|
      .option
        .key= option.to_s.humanize
        .val= @world.options[option]

  - if !@world.admins.empty?
    %section.admins
      %h2 Admins
      %ul
        - @world.admins.each do |admin|
          %li= admin.username

  %section.players
    %h2 Currently Playing
    .count= @world.players.count
    %ul
      - @world.players.each do |player|
        %li= player.username
        
  %section.actions
    =raw s3_swf_upload_tag
    .upload
      %input(id="uploadWorld" type="button" value="Import World")
    .uploading(style="display:none")
      Uploading...

- content_for :javascript do
  :plain
    $(function(){ 
      var world_id = '#{@world.id}';
      var currentFile;
      $('#uploadWorld').click(function(){
        $('section.actions .upload').hide();
        $('section.actions .uploading').show();
        s3_swf_1_object.startUploading();
      });
      
      s3_swf_1_object.onFileAdd = function(file) {
        currentFile = file;
      };
      
      s3_swf_1_object.onUploadComplete = function(options, event) {
        $('section.actions .uploading').hide();
        $('section.actions .upload').show();
        
        $.post('/world_imports', {
          world_import: { world_id: world_id, filename: currentFile.name }
        });
      };
      
    });