%header
  %h1= world.name

#stream
  - world.chat_messages do |msg|
    .entry
      .author chrislloyd
      .detail
        So I told them I was Mike D. It was like "Gee, I don't know, he might be".

- content_for :aside do
  %img{width: 240, height: 240, src: '/shadow.png'}

  %section.info
    %h2 Info
    - [:host, :spawn_monsters, :spawn_animals, :allow_flight, :spawn_protection, :seed].each do |option|
      .option
        .key= option.to_s.humanize
        .val=  world.options[option]

  - if !world.admins.empty?
    %section.admins
      %h2 Admins
      %ul
        - world.admins.each do |admin|
          %li= admin.username

  %section.players
    %h2 Currently Playing
    .count= world.players.count
    %ul
      - world.players.each do |player|
        %li= player.username