:javascript
  window.pusher = new Pusher(#{Pusher.key.to_json});
  window.channel = pusher.subscribe(#{@world.channel.name.to_json});

%header
  %h1= @world.name
  %aside
    - if signed_in?
      .connection
        - if current_user.world == @world
          %p
            Connect to
            %strong= @world.host
        - else
          = button_to 'Join World', [:activate, @world]


%ul#nav
  %li
    %a Activity
  %li
    %a.disabled Map
  %li
    %a.disabled Photos
  %li
    %a.disabled Videos
  %li
    %a.disabled Stats

#stream
  %aside
    %section
      %h2
        %strong= pluralize @world.connected_players_count, 'person', 'people'
        playing here now
      %ul
        - @world.connected_players.each do |player|
          %li
            = link_to '#', do
              .username
                = player.username


  - if signed_in?
    #share
      = form_tag world_wall_items_path(@world), method: :post do |f|
        %p.submit-advice ENTER to chat, SHIFT-ENTER for a new line.
        .user
          %span.username= current_user.username

        .avatar
          = image_tag current_user.gravatar_url(size: 36), width: 36, height: 36
        = text_area_tag :body, '', rows: 1, autofocus: true

  - @world.wall_items.each do |item|
    .item[item]
      - case item
      - when Chat
        .avatar
          = image_tag item.user.gravatar_url(size: 36), width: 36, height: 36
        .user
          %span.username= item.user.username
        .body
          = item.body
      - when Activity
        .user
          %span.username
        .action= item.action
