%p Hi #{@owner.username},

%p #{@requestor.username} would like to play in "#{link_to @world.name, world_url(@world)}". You can let them play in your world by going to

%blockquote
  = link_to edit_world_url(@world), edit_world_url(@world)

%p and adding #{@requestor.username} to the list of players. You can also stalk #{@requestor.username} first at

%blockquote= link_to user_url(@requestor), url_for(@requestor)
