- title 'Settings'

.page-header
  %h1 Settings

.account-form-section.row
  .section-label.span3
    %h3 Profile
    / %ul.nav.nav-tabs.nav-stacked
    /   %li.active= link_to 'Profile', '#profile', data: {toggle: 'tab'}
    /   %li= link_to 'Notifications', '#notifications', data: {toggle: 'tab'}
    /   %li= link_to 'Billing', '#billing', data: {toggle: 'tab'}
    /   %li= link_to 'Password', '#password', data: {toggle: 'tab'}

    / %p You can change your avatar at #{link_to 'Minecraft.net', 'http://minecraft.net/profile', target: '_blank'}. If you do, it may take up to 24 hours to update.


  .span9
    = form_for resource, method: :put do |f|
      .control-group
        .controls
          = f.text_field :username, placeholder: 'Username'

      .control-group
        .controls
          = f.text_field :first_name, placeholder: 'First name'
          = f.text_field :last_name, placeholder: 'Last name'

      .form-actions
        = f.submit 'Save', class: %w(btn btn-mini)


.account-form-section.row
  .section-label.span3
    %h3 Accounts

  .span9


.account-form-section.row
  .section-label.span3
    %h3 Notifications

  .span9
    = form_for resource, method: :put do |f|

      .control-group
        .controls
          = f.label :server_emails, class: %w(checkbox) do
            = f.check_box :server_emails
            Server emails

          = f.label :membership_emails, class: %w(checkbox) do
            = f.check_box :membership_emails
            Membership emails

          = f.label :membership_request_emails, class: %w(checkbox) do
            = f.check_box :membership_request_emails
            Membership Request emails

          = f.label :session_emails, class: %w(checkbox) do
            = f.check_box :session_emails
            Session emails

      .form-actions
        = f.submit 'Save', class: %w(btn btn-mini)


.account-form-section.row
  .section-label.span3
    %h3 Billing
  .span9
    = credits_with_image current_user.credits
    &middot;
    = link_to_buy_credits

.account-form-section.row
  .section-label.span3
    %h3 Password

  .span9
    = form_for resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, class: %w(form-horizontal) do |f|

      .control-group
        .controls
          = f.password_field :current_password, placeholder: 'Current password'

      .control-group
        .controls
          = f.password_field :password, placeholder: 'New password'

      .control-group
        .controls
          = f.password_field :password_confirmation, placeholder: 'Confirm new password'

      .form-actions
        = f.submit 'Save', class: %w(btn btn-mini)
