<p>Hi <%= @referral.email %>!</p>

<p><%= @referral.creator.username %> has invited you to play Minecraft on Minefold. Minefold makes playing Minecraft with your friends super simple.</p>

<p>To get started sign up at:</p>

<blockquote><%= link_to new_user_url, new_user_url(code: @referral.code) %></blockquote>

<p><small>(If you don't have a Minecraft username already, you can get one at <a href='http://minecraft.net'>http://minecraft.net</a>)</small></p>

<p>You'll then be able to log in and view all the worlds. If you click on "<%= link_to @world.name, @world %>" you can see our personal world.</p>

<p>If you've been playing single player you can import your own world when you create a new world from the dashboard.</p>

<p>A few things to note:</p>


<h3>Minefold is beta!</h3>
<p>Things are bound to break. We'd appreciate it if you tell us about any problems, thoughts or suggestions you may have. Our contact details are:</p>

<ul>
  <li>Dave - <a href="mailto:dave@minefold.com">dave@minefold.com</a>, <a href="tel:+61415473249">04 1547 3249</a>, <a href="http://twitter.com/whatupdave">@whatupdave</a></li>
  <li>Chirs - <a href="chris@minefold.com">chris@minefold.com</a>,<a href="tel:+61424121343">04 2412 1343</a>, <a href="http://twitter.com/chrislloyd">@chrislloyd</a></li>
</ul>

<p>It may take a while (up to 2 minutes) to connect to your game. This is an known issue that we are working on.</p>


<h3>Worlds are public</h3>
<p>Everybody in the beta has access to any world you create. We aren't going to have any permissions whilst we are in beta, as we have a lot of trust in the community. Just please be nice and don't grief other people's worlds.</p>


<h3>You'll need credits to play</h3>
<p>In the upper right hand side of the screen you'll see "<%= pluralize(User::FREE_HOURS, 'hour', 'hours') %>" which means you can play for <%= pluralize(User::FREE_HOURS, 'hour', 'hours') %> for free.</p>

<p>And lastly…</p>


<h3>Have fun and show us what you make!</h3>
<p>We'd love to see what you create, so let us know when you have something ready to show off.</p>

<p>We are really excited about Minefold and hope it'll help make playing Minecraft with your friends super simple.</p>

<p>Lots of love,</p>

<p>Dave and Chris</p>

<p>PS. <a href="http://twitter.com/minefold">Follow us on Twitter</a> or <a href="http://minefold.tumblr.com">our blog</a> for the latest updates.</p>

