%div.shot
  %div.img-wrap
    %img{src: shot.file.quart.url}

  = form_tag "/shots/#{shot.id}", method: :put, name: "shot_#{shot.id}" do
    %input{type: "hidden", name: "public", value: shot.public? ? 1 : 0}
    %input{type: "text", placeholder: "Title/description/caption", name: "title", value: shot.title}

    %br
    Album:
    = select_tag "shot_album_id", options_from_collection_for_select(@shot_albums, "id", "name", shot.shot_album_id), :include_blank => true, :id => nil

  %div.controls
    - if not shot.public?
      %button{onclick: "$(shot_#{shot.id}).find('[name=public]').val(1); shot_#{shot.id}.submit()"} Save and Publish

    %button{onclick: "shot_#{shot.id}.submit()"} Save

    - if shot.public?
      %button{onclick: "$(shot_#{shot.id}).find('[name=public]').val(0); shot_#{shot.id}.submit()"} Make Private

    = form_tag "/shots/#{shot.id}", method: :delete do
      %button{type: "submit"} Delete