%h1= "Shots by #{@user.username}"

%p
  = "Albums by #{@user.username}: "
  - for shot_album, idx in @shot_albums
    %a{href: "/shots/#{@user.slug}/#{shot_album.slug}"}=shot_album.name
    = "," unless shot_album == @shot_albums.last


%div.shots
  - for shot in @shots
    %div.shot
      %a.shot-link{href: "/shots/#{shot.id}-#{shot.slug}"}
        %img{src: shot.file.quart.url, width: 240}
        - unless shot.title.blank?
          %h3.title= shot.title
        / todo: format
        %h5.date= shot.created_at
        - if shot.shot_album
          %h4.album
            %a.album{href: "/shots/#{shot.creator.slug}/#{shot.shot_album.slug}"}= shot.shot_album.name