:css
  body {
    font-family: 12px/24px Helvetica;
  }
  td {
    border-bottom: 1px solid #EEE;
    margin-bottom: 5px;
  }

%h1 Users

%table
  %thead
    %tr
      %td #
      %td ID
      %td Username
      %td Email
      %td Credits
      %td World

  - @users.each_with_index do |user, i|

    %tr
      %td= i
      %td= user.id
      %td= user.username
      %td= user.email
      %td
        %strong #{user.format_credits}cr
        (#{user.credits})
      %td
        - if user.world?
          = link_to user.world.name, user.world

%p= @users.map {|u| u.email}.join(', ')

%h1 Beta Users

%table
  %thead
    %tr
      %td #
      %td Email

  - @beta_users.each_with_index do |user, i|

    %tr
      %td= i
      %td= user.email

%p= @beta_users.map {|u| u.email}.join(', ')
