:css
  td {
    line-height: 24px;
    border-bottom: 1px solid #EEE;
    margin-bottom: 5px;
  }
  .active {
    background-color: #FFC;
  }

%h1 Users

%table
  %thead
    %tr
      %td #
      %td ID
      %td Username
      %td Email
      %td Credits
      %td World

  - @users.each_with_index do |user, i|

    %tr
      %td= i
      %td= user.id
      %td= user.username
      %td= user.email
      %td
        = user.format_credits
        %strong= user.credits
      %td
        - if user.world?
          = link_to user.world.name, user.world

%h1 Beta Users

%table
  %thead
    %tr
      %td #
      %td Email

  - @beta_users.each_with_index do |user, i|

    %tr
      %td= i
      %td= user.email
