:css
  body {
    font-family: 12px/24px Helvetica;
  }
  td {
    border-bottom: 1px solid #EEE;
    margin-bottom: 5px;
  }

%h1 Users

%table
  %thead
    %tr
      %td #
      %td ID
      %td Username
      %td Email
<<<<<<< HEAD
      %td Minutes
      %td Minutes Played
=======
      %td Credits
      %td Total Minutes
>>>>>>> b7ccb516c9e8d2d4223fbf9e9220400e24486bcc
      %td World

  - @users.each_with_index do |user, i|
    %tr
      %td= i
      %td= user.id
      %td= user.username
      %td= user.email
<<<<<<< HEAD
      %td= user.credits
=======
      %td
        = user.format_credits
        %strong= user.credits
>>>>>>> b7ccb516c9e8d2d4223fbf9e9220400e24486bcc
      %td= user.minutes_played
      %td
        - if user.world?
          = link_to user.world.name, user.world

%h2 Email List
%p= @users.map {|u| u.email}.join(', ')

%h1 Invites

%table
  %thead
    %tr
      %td #
      %td Invitee
      %td Email

  - @invites.each_with_index do |invite, i|

    %tr
      %td= i
      %td= invite.creator.username
      %td= invite.email

%h2 Email List
%p= @invites.map {|i| i.email}.join(', ')
