!!!
%html
  %head
    %meta{charset: 'utf-8'}
    %title Minefold Admin
    = stylesheet_link_tag 'admin'
    = csrf_meta_tags

    %meta{name: 'pusher_key', content: Pusher.key}

    = javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js'

  %body
    %header
      %ol
        %li
          %p Current Players
          %h2= @current_players_count

        %li
          %p Total users
          %h2= User.count

        %li
          %p Total Worlds
          %h2= World.count

        %li
          %p Total Minutes Played
          %h2= User.all.inject(0) {|total, user| total + user.minutes_played}

        %li
          %p Total Income
          %h2= number_to_currency Order.total_income

    #page

      %section#users
        %table
          %thead
            %tr
              %th ID
              %th Username
              %th Email

              %th Host
              %th World

              %th Credits
              %th Played

              %th Created

          %tbody
            - @users.each do |user|
              %tr
                %td.id= user.id
                %td.username= link_to user.username, user
                %td.email= mail_to user.email

                %td= link_to user.host, user.host
                %td= link_to user.current_world.name, user.current_world

                %td= user.credits
                %td= user.minutes_played

                %td= time_ago_in_words user.created_at
