<header class="server-header">
  <h1>
    <a href="<%= user_path(server.creator) %>" class="server-owner">
      <%= server.creator.username %>
    </a>
    <span class="divider">/</span>
    <a href="<%= server_path(server) %>" class="server-name">
      <%= server.name %>
    </a>
  </h1>
  <nav>
    <ol>
      <li>
        Watch
        <div classjs-social-count= server.watchers.count

      </li>
      <li>Settings</li>
    </ol>
  </nav>
</header>

<div class="server-meta">
  <div class="funpack">
    <%= server.funpack.name %>
  </div>
</div>
