<div class="server-list">
  <% list.each do |server| %>
    <a class="item primary-action" href="<%= server_path(server) %>">
      <h2 class="name"><%= server.name %></h2>
      <div class="player-counts">
        <div class="player-count current" data-toggle="tooltip" title="Online players">
          <%= PartyCloud.count_players_online(server.party_cloud_id) %>
        </div>
        <div class="player-count max" data-toggle="tooltip" title="Max players">
          <%= server.max_players %>
        </div>
      </div>
      <div class="meta">
        <span class="game"><%= server.funpack.name %></span>
      </div>
    </a>
  <% end %>
</div>

<% content_for(:tail) do %>
  <script>
    $('.player-counts .player-count').tooltip();
  </script>
<% end %>
