- if server.description?
  .server-description
    = markdown(server.description)

  - if can?(:update, server)
    %p
      (
      %a{href: edit_server_path(server)}> Edit description
      )

- else
  .server-description.muted No description for this server.
  - if can?(:update, server)
    %p
      %a{href: edit_server_path(server)} Add a description

%br

- if server.persistent? and can?(:update, server)
  #server-control-view-el

  :javascript
    app.serverControlView = new App.ServerControlView({
      model: app.server
    });
    app.serverControlView.setElement($('#server-control-view-el'));
    app.serverControlView.render();


.player-list
  - online = PartyCloud.players_online(server.party_cloud_id)
  - server.player_accounts.each do |username, account|
    .player{class: online.include?(username) && "is-online"}
      - href = nil
      - if account and account.user
        - href = user_path(account.user)

      %a.avatar(data-toggle="tooltip"){title: username, href: href}
        = image_tag "//d3811j97z0k4bc.cloudfront.net/helm/#{username}/30.png", alt: username, width: 30, height: 30

- if signed_in?
  .alert.alert-info
    = link_to invitation_path(current_user.invitation_token) do
      Invite a friend to play here an earn an extra
      %strong= time_left Bonuses::Referred.coins
      each.

%dl
  %dt Address
  %dd#server-address-view-el.server-address-view= render partial: 'server_address', locals: {server: server}

  %dt Owner
  %dd= server.creator.username

  %dt Game
  %dd= server.funpack.name

  %dt Created
  %dd= l server.created_at, :format => :date
