- title 'Servers'
- layout :server

%hr.hidden

.row
  .span2.user-profile
    .avatar
      = image_tag current_user.avatar.large.url, class: 'avatar'

    .identity
      - if current_user.name?
        %h2.name= current_user.name
        %h3.username= current_user.username
      - else
        %h2.username= current_user.username

    .info
      %p
        Joined on <strong>#{l current_user.created_at, :format => :date}</strong>


  .span8
    .activity-stream
      = render partial: current_user.activity_stream, :as => :activity, layout: 'activities/activity'

    / .server-list
    /   - if @servers.empty?
    /     .empty
    /       %h2 You don't have any servers. Create a new server to start the party!
    /
    /   - else
    /
    /     - @servers.each do |game, servers|
    /       .divider
    /         .game.pull-left= game.name
    /         .count.pull-right= pluralize servers.size, 'server', 'servers'
    /
    /       - servers.each do |server|
    /         .item{class: "is-#{server.state}"}
    /           %ul.nav.nav-pills.pull-right
    /             %li= link_to 'Settings', edit_server_path(server)
    /
    /           .primary-action.pull-left
    /             %a.name{href: server_path(server)}= server.name
    /
    /   .new
    /     = link_to 'Create a new server', new_server_path, class: %w(btn btn-small btn-primary)
    /
