- title 'Servers'
- layout :server

.page-header
  %h1 Servers

%ul.server-list.unstyled
  - current_user.servers.group_by {|s| s.funpack.game }.each do |game, servers|
    %li.divider= game.name
    - servers.each do |server|
      %li.item
        
        %a.primary-action{href: server_path(server)}
          
          %h2.name
            .server-status{class: ('running' if server.running?)}
            = server.name

        %ul.nav.nav-pills.nav-pills-images.pull-right
          - if server.funpack.game.name == 'Minecraft'
            %li
              = link_to image_tag('101.png', width: 24, height: 24), map_server_path(server)
          
          - if can? :update, server
            %li
              %a{href: edit_server_path(server)}
                = image_tag '265.png', width: 24, height: 24

  - if can? :create, Server
    %li.new= link_to 'Create a new server', new_server_path, class: %w(btn btn-success)
