- title 'Servers'
- layout :servers

.container
  .row
    .span2.offset1.user-profile
      .avatar
        = image_tag current_user.avatar.large.url, class: 'avatar'

      .identity
        - if current_user.name?
          %h2.name= current_user.name
          %h3.username= current_user.username
        - else
          %h2.username= current_user.username

      .info
        %p
          Joined on <strong>#{l current_user.created_at, :format => :date}</strong>


    .span8
      .server-list
        - if @servers.empty?
          .empty
            %h2 You don't have any servers. Create a new server to start the party!

        - else

          - @servers.each do |game, servers|
            .divider
              .game.pull-left= game.name
              .count.pull-right= pluralize servers.size, 'server', 'servers'

            - servers.each do |server|
              .item{class: "is-#{server.state}"}
                .primary-action.span6
                  %a.name{href: server_path(server)}= server.name

                %ul.nav.nav-pills.span1
                  %li= link_to 'Settings', edit_server_path(server)
                %ul.nav.players.pull-right
                  %li== #{PartyCloud.count_players_online(server.party_cloud_id)} / #{server.player_uids.size}


        .new
          = link_to 'Create a new server', new_server_path, class: %w(btn btn-primary)

