- title 'Servers'
- layout :server

.page-header
  %h1 Servers

.server-list
  - if @servers.empty?
    .empty
      %h2 You don't have any servers. Create a new server to start the party!

  - else

    - @servers.each do |game, servers|
      .divider= game.name
      - servers.each do |server|
        .item{class: "is-#{server.state}"}

          %a.primary-action{href: server_path(server)}
            %h2.name= server.name
            .state
              - case server.state
              - when :up, :shared
                %span.server-address= server.address
              - else
                (not running)

          %ul.nav.nav-pills.nav-pills-images.pull-right
            - if server.world and server.world.mapped?
              %li
                %a{href: map_server_path(server), title: 'Browse map', data: {icon: 'm'}}

            - if can? :update, server
              %li
                %a{href: edit_server_path(server), title: 'Edit settings', data: {icon: 's'}}

  - if can? :create, Server
    .new= link_to 'Create a new server', new_server_path, class: %w(btn btn-success)
