- title 'Servers'
- layout :servers

.container
  .row
    .span8.offset1
      .server-list
        - if @created_servers.empty?
          .empty
            %h2 You don't have any servers. Create a new server to start the party!

        - else

          - @created_servers.each do |server|
            .item{class: "is-#{server.state}"}
              %a.primary-action{href: server_path(server)}
                %h2.name
                  = server.name
                .player-counts
                  .current.player-count{data: {:toggle => :tooltip, title: 'Online players'}}= PartyCloud.count_players_online(server.party_cloud_id)
                  .max.player-count{data: {:toggle => :tooltip, title: 'Max players'}}= server.max_players
              %nav.meta{role: 'navigation'}
                %ul
                  %li.funpack= link_to server.funpack.name, game_funpack_path(server.game, server.funpack)
                  %li.settings= link_to 'Settings', edit_server_path(server)
                  %li.server-address= ServerAddress.new(server)

      - content_for :tail do
        :javascript
          $('.player-counts .player-count').tooltip();

      %br
      = link_to 'Create a new server', new_server_path, class: %w(btn btn-primary)

    .span2.user-profile
      .avatar
        = image_tag current_user.avatar.large.url, class: 'avatar'

      .identity
        - if current_user.name?
          %h2.name= PersonalName.new(current_user).full
          %h3.username= current_user.username
        - else
          %h2.username= current_user.username

      .info
        %p
          Joined on <strong>#{l current_user.created_at, :format => :date}</strong>
