- title "#{server.name} Server logs", "#{server.game.name} Server #{server.id}"
- layout :servers

= track 'Viewed server', name: server.name, url: server_url(server)
= track_landing_type 'server'

- content_for :tail do
  %script(src="//cdnjs.cloudflare.com/ajax/libs/datejs/1.0/date.min.js")

  :javascript
    app.logsView = new App.LogsView({
      serverId: '#{server.id}',
      u: '#{current_user.authentication_token}', 
      endpoint: '#{ENV['MINEFOLD_API']}'
    });
    app.logsView.setElement($('#logs'));
    app.logsView.render();

.container
  .page-header
    %h1= link_to server.name, server_path(server)
    
    :css
      #logs {
        height: 600px;
        overflow: scroll;
      }

      #logs,
      #logs pre,
      #logs pre code {
        background-color: #000;
        color: #fff;
      }
      
      #logs .ts {
        color: rgb(129, 129, 129);
      }

      #logs .event {
        width: 4em;
        color: yellow;
      }

      #logs .event.started {
        color: rgb(41, 197, 60);
      }
      #logs .event.stopping {
        color: rgb(209, 52, 52);
      }
    
    #logs
      %pre
        %code= "Loading..."
