- title "#{server.name} Map", "#{server.game.name} Server #{server.id}"
- layout :servers, :map

- track_landing_type 'map'

- provide :foo_bar do
  .navbar-text
    Back to
    = link_to server.name, server_path(server)

#map-view-el.map-view

- if server.world and server.world.mapped?
  - content_for :tail do
    = javascript_include_tag '//maps.google.com/maps/api/js?sensor=false'
    :javascript
      $(document).ready(function() {
        var map = new Application.World(#{server.world.to_h.to_json}),
            mapView = new Application.MapView({model: map});
        mapView.setElement($('#map-view-el'));
        mapView.render();
      });

- else
  %center.container{style: 'margin-top: 40px;width:400px'}
    %p
      The map for
      %a{href: server_path(server)}= server.name
      hasn't been rendered yet.

      - if server.shared?
        Maps are rendered once a day when nobody is playing.
      - else
        Maps are rendered once a day when the server is stopped.

      Render times depend on the size of your world.

