- title 'Map'
- layout :server
= render partial: 'page_header', locals: {server: server}

%ul.nav.nav-horizontal.nav-server
  %li= link_to 'Activity', server
  - if server.funpack.game.minecraft?
    %li.active= link_to 'Map', [:map, server]
  - if can? :update, server
    %li= link_to 'Settings', [:edit, server]


/ --

#world-map-view-el.world-map-view
  - if server.world and server.world.mapped?
    - content_for :tail do
      = javascript_include_tag '//maps.google.com/maps/api/js?sensor=false'
      :javascript
        $(document).ready(function() {
          var world = new Application.World(#{server.world.to_h.to_json}),
              worldMapView = new Application.WorldMapView({model: world});

          worldMapView.setElement($('#world-map-view-el'));
          worldMapView.render();
        });

  - else
    .coming-soon
      The map for this server hasn't been rendered yet.

      - if server.shared?
        Maps are rendered once a day when nobody is playing.
      - else
        Maps are rendered once a day when the server is stopped.

      Render times depend on the size of your world.
