- title 'Create a new server'

- # TODO Hack!
- @funpack = Funpack.first

:css
  fieldset, .tab-pane, .tab-content {
    overflow: visible;
  }

.row
  .span6.offset1
    = form_for server, html: {class: 'tab-content'} do |f|

      / Game
      / --

      %fieldset.tab-pane.active#game
        %ol.progressmeter.progressmeter-3
          %li.active
            %a Game
          %li Settings
          %li Billing

        %center
          %h2 What game would you like?

        - @games.each do |game|
          .control-group
            %h4.control-label= game.name
            .controls
              - game.funpacks.each do |funpack|
                %label.radio{for: "server_funpack_id_#{funpack.id.to_s}", style: 'margin-bottom:20px'}
                  %input{type: 'radio', name: 'server[funpack_id]', value: funpack.id.to_s, id: "server_funpack_id_#{funpack.id.to_s}"}

                  %strong.name{style: 'margin-right:10px'}
                    = funpack.name
                  %small= link_to "Official Site", funpack.info_url, target: '_blank'
                  .description= markdown(funpack.description)

        .form-actions
          %a.btn.btn-primary.pull-right#game-next-button{href: '#settings', disabled: true} Settings &rarr;

        %hr

        %center.muted
          Do you have a custom server or want more different mods?
          %a{href: "http://partycloud.com/?email=#{u(current_user.email)}"} Sign up at the Party Cloud
          to get early access to Minefold's developer platform.

      - content_for :tail do
        :javascript
          $('input[name="server[funpack_id]"]').change(function() {
            var $this = $(this),
                funpackId = $this.val(),
                url = #{new_funpack_settings_servers_path.to_json};

            $.ajax(url, {
              accepts: 'text/html',
              data: { funpack_id: funpackId },
              dataType: 'html',
              type: 'GET'
            }).
            error(function() {
              // console.log('error');
            }).
            done(function(html) {
              $('#new_funpack_settings').html(html);
              $('#game-next-button').
              click(function(e) {
                  e.preventDefault();
                  $(this).tab('show');
                }).
              attr('disabled', false);
            });

          });


      / Settings
      / --

      %fieldset.tab-pane#settings
        %ol.progressmeter.progressmeter-3
          %li.previous
            %a Game

          %li.active
            %a Settings

          %li Billing


        = f.control_group :name do
          .controls
            = f.text_field :name, placeholder: 'Name', style: 'width:100%'

        - content_for :tail do
          :javascript
            $(document).ready(function() {
              var $name = $('#settings input#server_name'),
                  $btn = $('#settings .btn.btn-primary'),
                  fn = function() {
                    if($name.val() !== '') {
                      $btn.removeClass('disabled').attr('href', '#billing');
                    } else {
                      $btn.addClass('disabled').attr('href', null);
                    }
                  };

              $name.keydown(fn).change(fn);
            });

        %hr.large

        #new_funpack_settings

        .form-actions
          %a.btn.pull-left{href: '#game', data: {toggle: 'tab'}} &larr; Game
          %a.btn.btn-primary.pull-right.disabled{data: {toggle: 'tab'}} Billing &rarr;


      / Billing
      / --

      %fieldset.tab-pane#billing
        %ol.progressmeter.progressmeter-3
          %li.previous
            %a Game

          %li.previous
            %a Settings

          %li.active
            %a Billing

        %center
          %h2 How would you like to pay?

        - if not can_create_shared_servers?(current_user, @funpack)
          - if not current_user.minecraft_linked?
            .alert
              You need to
              = link_to 'link your Minecraft account', edit_user_registration_path
              before you can create or play on shared servers.

          - # TODO Alert if the funpack doesn't support shared servers


        = f.control_group :shared do
          %table.table.server-types-table{class: ('is-shared-disabled' unless can_create_shared_servers?(current_user, @funpack))}
            %thead
              %tr
                %th
                %th.normal
                  Normal
                  %br
                  %small You pay the cost
                %th.shared
                  Shared
                  %br
                  %small Split cost with friends


            %tbody
              %tr.availability-row
                %td Availability
                %td.normal
                  On-demand
                  %br
                  %small Manual start and stop
                %td.shared
                  Always up
                  %br
                  %small The server is running 24/7

              %tr.who-pays-row
                %td Who pays?
                %td.normal
                  You
                  %br
                  %small (only while it's running)
                %td.shared
                  Players
                  %br
                  %small (only while they're playing)

              %tr.how-much-row
                %td How much?
                %td.normal
                  %span.num 5 coins
                  %small per min
                %td.shared
                  %span.num 1 coin
                  %small per minute each

              %tr.checkbox-row
                %td
                %td.normal
                  - # TODO %p is a hack
                  %p= f.radio_button :shared, false, checked: false
                %td.shared
                  %p= f.radio_button :shared, true, checked: false, disabled: (!can_create_shared_servers?(current_user, @funpack))

        .form-actions
          %a.btn.pull-left{href: '#settings', data: {toggle: 'tab'}} &larr; Settings
          = f.submit 'Create server', class: %w(btn btn-primary pull-right), id: 'final-submit', disabled: true

        - content_for :tail do
          :javascript
            $(document).ready(function() {
              var table = $('.server-types-table'),
                  submit = $('#final-submit'),
                  colHover = function(col) {
                    return function() {
                      table.find("."+col).toggleClass('hover', !$(this).hasClass('hover'));
                    }
                  },
                  colSelect = function(col) {
                    return function() {
                      submit.attr('disabled', false);
                      table.find('th,td').removeClass('is-active');
                      table.find('.'+col).addClass('is-active');
                      table.find('.'+col+' input[type=radio]').attr({checked: true});
                    }
                  };

              table.find('.normal').
                hover(colHover('normal')).
                click(colSelect('normal')).click(function() {
                  submit.attr('disabled', false).val('Create a normal server');
                });

              if(!table.hasClass('is-shared-disabled')) {
                table.find('.shared').
                  hover(colHover('shared')).
                  click(colSelect('shared')).click(function() {
                    submit.val('Create a shared server');
                  });
              }

              // table.find('.normal').click();
            });
