- title 'Create a new server'

.page-header.center
  %h1 Create a server

.page
  = form_for server, html: { class: 'form-horizontal' } do |f|
    = f.hidden_field :funpack_id

    = f.label :name, 'Choose a name for your server'

    = f.control_group :name do
      = f.text_field :name, autocomplete: 'off', class: ['input-large', 'input-block-level'], maxlength: 254

    = f.label :game, 'Choose a game'
    = render partial: 'funpacks/picker', object: funpacks

    = f.submit 'Start your server', class: %w(btn btn-primary btn-large), disabled: true

- content_for :tail do
  :javascript
    $(document).ready(function() {
      var form = $('#new_server');

      // Set the funpack id when the picker changes
      $('.funpack-picker').on('changed', function(e, id) {
        form.find('#server_funpack_id').val(id);
      }).trigger('change', form.find('#server_funpack_id').val());

      var validateForm = function(serverForm) {
        var funpack = serverForm.find('#server_funpack_id').val(),
            name = serverForm.find('#server_name').val();
        return (funpack !== '') && (name !== '') && (name.length >= 2) && (name.length <= 255);
      }

      form.on('change keyup', function(e) {
        form.find('input[type=submit]').attr('disabled', !validateForm(form));
      });
    });
