- title 'Create a new server'

- # TODO Hack!
- @funpack = Funpack.first

:css
  fieldset, .tab-pane, .tab-content {
    overflow: visible;
  }

.row
  .span6.offset1
    = form_for server, html: {class: 'tab-content'} do |f|

      / Game
      / --

      %fieldset.tab-pane.active#game
        %ol.progressmeter.progressmeter-3
          %li.active
            %a{href: '#game', data: {toggle: 'tab'}} Game
          %li Settings
          %li Billing

        - @games.each do |game|
          .control-group
            .control-label= game.name
            .controls
              - game.funpacks.each do |funpack|
                %label.radio{for: "server_funpack_id_#{funpack.id.to_s}"}
                  = funpack.name
                  %input{type: 'radio', name: 'server[funpack_id]', value: funpack.id.to_s, id: "server_funpack_id_#{funpack.id.to_s}"}


        %center.alert
          Want other mods?
          %a{href: "http://partycloud.com/?email=#{u(current_user.email)}"} Sign up at the Party Cloud
          to get first access to Minefold's developer platform.

        .form-actions
          %a.btn.btn-primary.pull-right#game-next-button{href: '#settings', disabled: true} Settings &rarr;

      - content_for :tail do
        :javascript
          $('input[name="server[funpack_id]"]').change(function() {
            var $this = $(this),
                funpackId = $this.val(),
                url = #{new_funpack_settings_servers_path.to_json};

            $.ajax(url, {
              accepts: 'text/html',
              data: { funpack_id: funpackId },
              dataType: 'html',
              type: 'GET'
            })
            .error(function() {
              console.log('error');
            })
            .done(function(html) {
              $('#new_funpack_settings').html(html);
              $('#game-next-button')
                .click(function(e) {
                  e.preventDefault();
                  $(this).tab('show');
                })
                .attr('disabled', false);
            });

          });


      / Settings
      / --

      %fieldset.tab-pane#settings
        %ol.progressmeter.progressmeter-3
          %li.previous
            %a{href: '#game', data: {toggle: 'tab'}} Game

          %li.active
            %a{href: '#settings', data: {toggle: 'tab'}} Settings

          %li Billing

        %hr

        = f.control_group :name do
          .controls
            = f.text_field :name, placeholder: 'Name', style: 'width:100%'

        %hr.large

        #new_funpack_settings

        .form-actions
          %a.btn.pull-left{href: '#game', data: {toggle: 'tab'}} &larr; Game
          %a.btn.btn-primary.pull-right{href: '#billing', data: {toggle: 'tab'}} Billing &rarr;


      / Billing
      / --

      %fieldset.tab-pane#billing
        %ol.progressmeter.progressmeter-3
          %li.previous
            %a{href: '#game', data: {toggle: 'tab'}} Game

          %li.previous
            %a{href: '#settings', data: {toggle: 'tab'}} Settings

          %li.active
            %a{href: '#settings', data: {toggle: 'tab'}} Billing

        = f.control_group :super_server do
          .controls
            %label.radio
              = f.radio_button :super_server, false
              %strong Normal Server
              %p It costs you (the owner) <strong>5 cr</strong> an hour to run the server. Any member can play on the server without costing them any credits. You choose when to start and stop the server.
              %p Reccomended for families and schools.

            %label.radio{class: ('muted' if !@funpack.game.super_servers?)}
              = f.radio_button :super_server, true, disabled: !@funpack.game.super_servers?
              %strong Super Server
              %p It costs each person <strong>1cr</strong> an hour to play on the server. The server is always running.
              %p Reccomended for groups of friends.

              - if !@funpack.game.super_servers?
                .alert
                  #{@funpack.game.name} doesn't support individual billing.


        .form-actions
          %a.btn.pull-left{href: '#settings', data: {toggle: 'tab'}} &larr; Settings
          = f.submit 'Create server', class: %w(btn btn-primary pull-right)
