- title 'Create a new server'

.row
  .span8.offset2
    .page-header
      %h1 Create a new server

    = form_for server, html: { class: 'form-horizontal' } do |f|
      = f.control_group :name do
        = f.label :name, 'Server Name', class: 'control-label'
        .controls
          = f.text_field :name, class: 'input-block-level'

      .control-group
        .control-label Game
        .controls
          - @games.each do |game|
            %label.radio{for: "server_funpack_id_#{game.default_funpack.id}", style: 'margin-bottom:20px'}
              %input{type: 'radio', name: 'server[funpack_id]', value: game.default_funpack.id.to_s, id: "server_funpack_id_#{game.default_funpack.id}", checked:(params[:server] and params[:server][:funpack_id].to_s == game.default_funpack.id.to_s)}

              %strong.name{style: 'margin-right:10px'}
                = game.default_funpack.name

            .funpacks{style: 'margin-left: 20px'}
              - game.funpacks.reject {|fp| fp == game.default_funpack }.each do |funpack|
                = f.label "funpack_id_#{funpack.id}", class: 'radio', style: 'margin-bottom:20px' do
                  = f.radio_button :funpack_id, funpack.id

                  %strong.name
                    = funpack.name
                  .info
                    = markdown(funpack.description)
                    = link_to "More information", funpack.info_url, target: '_blank'


          %p.muted
            Do you have a custom server or want other mods? Have your say by
            %a{href: "https://docs.google.com/a/minefold.com/spreadsheet/viewform?formkey=dEhlY3dZU0hDaVpEbWI3ZFE3V3lYRVE6MQ#gid=0", target: '_blank'} filling out our quick poll.


        = f.control_group :shared do
          = f.label 'shared_false', class: 'control-label' do
            Pay for?

          .controls
            = f.label 'shared_false', class: 'radio' do
              = f.radio_button :shared, false
              Everybody

              .help-block.muted
                You pay 1 coin every minute for each person who is playing. If there are 5 people playing, the server will cost you 5 coins per minute.
                %span{style: 'color:#666'} No matter how many people are playing, the cost to you is capped at 10 coins per minute.

            = f.label 'shared_true', class: 'radio' do
              = f.radio_button :shared, true
              Only me

              .help-block.muted
                It will cost you 1 coin per minute to play.
                %span{style: 'color:#666'} Every player needs a Minefold account with a linked Minecraft account to play.

        .form-actions
          = f.submit 'Create server', class: %w(btn btn-primary)
