<% title 'Create a new server' %>

<div class="page">
  <div class="page-header">
    <h1>Create a server</h1>
  </div>

  <div class="page-section">
    <%= form_for server, html: { class: 'form-horizontal' } do |f| %>
      <%= f.hidden_field :funpack_id %>

      <%= f.label :name, 'Choose a name for your server' %>

      <%= f.control_group :name do %>
        <%= f.text_field :name, autocomplete: 'off', class: ['input-large', 'input-block-level'], maxlength: 254 %>
      <% end %>

      <%= render partial: 'funpacks/picker', object: funpacks %>

      <%= f.submit 'Start your server', class: %w(btn btn-primary btn-large), disabled: true %>
    <% end %>
  </div>
</div>

<script>
  $(document).ready(function() {
    var form = $('#new_server'),
        picker = $('.funpack-picker'),
        nameField = form.find('#server_name')
        funpackIdField = form.find('input#server_funpack_id');

    var validateForm = function() {
      var funpackId = funpackIdField.val(),
          name = nameField.val();
      return (funpackId !== '') && (name !== '') && (name.length >= 2) && (name.length <= 255);
    }

    // Set the funpack id hidden field when the picker changes
    picker.on('changed', function(e, el) {
      var $el = $(el);
      funpackIdField.val($el.data('id'));

      // TODO This is putting style into the JS. Not very pretty :(
      form.find('input[type=submit]').val("Start your " + $el.data('name') + " server");
    });

    // Set the picker from the funpack id initially
    picker.trigger('change', funpackIdField.val());

    // Validate the form when it changes
    form.on('change keyup', function(e) {
      form.find('input[type=submit]').attr('disabled', !validateForm());
    });
  });
</script>
