- title server.name, "#{server.funpack.name} Server #{server.id}"
- layout :servers

= track 'Viewed server', name: server.name, url: server_url(server)
= track_landing_type 'server'

.container
  = render partial: 'header'

  - if !server.sessions.any? and server.funpack.instructions?

    %ul.nav.nav-tabs.ab-control
      %li.active= link_to 'Activity', server
      - if server.funpack.maps?
        %li= link_to 'Map', server_map_path(server)
      - if can? :update, server
        %li= link_to 'Settings', [:edit, server]

    .row.ab-control
      .span8
        = render partial: 'activity'

      .span4
        = render partial: 'sidebar'

    %ul.nav.nav-tabs.ab-variant
      %li.active= link_to 'Getting Started', server
      - if can? :update, server
        %li= link_to 'Settings', [:edit, server]

    .row.ab-variant
      .span8
        = render partial: "funpacks/getting_started/#{server.funpack.slug}"

    = ab_test 'New server page', 'Show getting started'

  - else

    - content_for :tail do
      :javascript
        Abba('New server page', { persist: true }).complete()

    %ul.nav.nav-tabs
      %li.active= link_to 'Activity', server
      - if server.funpack.maps?
        %li= link_to 'Map', server_map_path(server)
      - if can? :update, server
        %li= link_to 'Settings', [:edit, server]

    .row
      .span8
        = render partial: 'activity'

      .span4
        = render partial: 'sidebar'
