- title server.name
- layout :server

.page-header.page-header-server
  %h1= server.name


%ul.nav.nav-horizontal.nav-server
  %li.active= link_to 'Overview', server
  - if server.funpack.game.minecraft?
    %li= link_to 'Map', [:map, server]
  %li= link_to 'Players', [server, :memberships]
  - if can? :edit, server
    %li= link_to 'Settings', [:edit, server]
    

- if server.individual?
  Server is running!
- else
  Server <strong>isn't</strong> running.

  %p
    Run the server for
    %select
      - (1..24).each do |hour|
        %option= pluralize hour, 'hour', 'hours'
  %p
    This will cost <strong>10 credits</strong>. (You have #{current_user.credits} cr)
    It will stop running at #{5.hours.from_now}
  %p
    %a.btn.btn-primary{href: '#'} Start
