<% title server.name, "#{server.funpack.name} Server #{server.id}" %>
<% layout :servers %>

<%= track 'Viewed server', name: server.name, url: server_url(server) %>
<%= track_landing_type 'server' %>

<script>
  app.server = new Server(<%= render(server, :format => :json) %>);
  var channel = pusher.subscribe("server-" + app.server.get('id'));
  channel.bind('server:started', app.server.onStarted);
  channel.bind('server:stopped', app.server.onStopped);
</script>

<% if flash[:abba_complete] %>
  <script>Abba('Sign up url', { persist: true }).complete()</script>
<% end %>

<div class="page">
  <%= render partial: 'header', locals: {active: 'home'} %>
  <%= render partial: 'nav' %>

  <% if false %>
    <div class="page-section">
      <a class="btn btn-large btn-block btn-primary" href="<%= edit_server_path(server) %>">Change gameplay settings</a>
      <br />
      <%= render partial: "funpacks/getting_started/minecraft" %>
    </div>
  <% end %>

  <% if false %>
    <%= javascript_include_tag '//maps.google.com/maps/api/js?sensor=false' %>
    <div class="page-box map-view" id="map-view-el"></div>
    <script>
      app.map = new App.Map({"id":12934,"serverId":12934,"host":"//d14m45jej91i3z.cloudfront.net","zoomLevels":7,"tileSize":384,"lastMappedAt":"2012-12-05T10:35:24+00:00","createdAt":"2012-11-27T23:04:55+00:00","updatedAt":"2012-12-05T10:35:44+00:00","spawn":{"x":0,"y":66,"z":0}});
    </script>
    <script>
      app.mapView = new App.MapView({model: app.map});
      $(document).ready(function() {
        app.mapView.setElement($('#map-view-el'));
        app.mapView.render();
      });
    </script>
  <% end %>

  <div class="page-section">
 <!--    <% if can?(:edit, server) %>
      <div class="server-controls pull-right">
        <% if server.playable? %>
          <a class="btn">Restart</a>
        <% elsif server.starting? %>
          Starting…
        <% else %>
          <a class="btn btn-success">Start server</a>
        <% end %>
      </div>
    <% end %> -->

    <div class="server-address">
      <label>Server Address</label>
      <% if server.playable? %>
        <input type="text" value="<%= server.address %>" />
      <% else %>
        (No address yet)
      <% end %>
    </div>
  </div>

  <% if server.description? %>
    <div class="page-section">
      <%= markdown(server.description) %>
    </div>
  <% end %>

  <ul class="stats-tabs">
    <li class="stat">0 <span>players now</span></li>
    <li class="stat">0 <span>players ever</span></li>
    <li class="stat">0 <span>server hours</span></li>
    <li class="stat">0 <span>player hours</span></li>
  </ul>

 <!--  <div class="page-section">
    <%= form_for [server, Post.new], :method => :post do |f| %>
      <div class="control-group">
        <%= f.text_area :body, rows: 2, placeholder: "Leave a note", class: "input-block-level" %>
      </div>
      <%= f.submit 'Post your note', class: %w(btn) %>
    <% end %>
  </div> -->

  <div class="activity-stream">
    <%= render partial: server.activity_stream.page(0), :as => :activity %>
  </div>

</div>

<!-- / .row
/   .span8
/     - if signed_in?
/       .pull-left{style: 'margin-right: 20px'}
/         = image_tag current_user.avatar.medium.url, width: 40, height: 40
/
/       .pull-left{style: 'margin-bottom: 20px'}
/         = form_for [server, Post.new], :method => :post do |f|
/           .control-group
/             = f.text_area :body, rows: 2, placeholder: 'Write a post', class: 'span7'
/           = f.submit 'Write post', class: %w(btn btn-small)
/
/     .activity-stream
/       = render partial: server.activity_stream.page(0), :as => :activity
/
/
/ - if !server.sessions.any? and server.funpack.instructions?
/   = render partial: "funpacks/getting_started/#{server.funpack.slug}"
/   %hr
/
/   .row.ab-control
/     .span8
/       = render partial: 'activity'
/
/     .span4
/       = render partial: 'sidebar'
/
/
/   %ul.nav.nav-tabs.ab-variant
/     %li.active= link_to 'Getting Started', server
/     - if can? :update, server
/       %li= link_to 'Settings', [:edit, server]
/
/   .row.ab-variant
/     .span8
/       = render partial: "funpacks/getting_started/#{server.funpack.slug}"
/
/   = ab_test 'New server page', 'Show getting started'
/
/ - else
/
/   - content_for :tail do
/     :javascript
/       Abba('New server page', { persist: true }).complete()
/
/   %ul.nav.nav-tabs
/     %li.active= link_to 'Activity', server
/     - if server.funpack.maps?
/       %li= link_to 'Map', server_map_path(server)
/     - if can? :update, server
/       %li= link_to 'Settings', [:edit, server]
/
/   .row
/     .span8
/       = render partial: 'activity'
/
/     .span4
/       = render partial: 'sidebar' -->
