- title server.name
- layout :servers
- track 'Viewed server', name: server.name, url: server_url(server)

- provide :breakout do
  .page-header
    .container
      .title-bar
        %h1.title= link_to server.name, server_path(server)

    .subnav
      .container
        %ul.nav.nav-table
          %li.active= link_to 'Activity', server
          - if server.game.maps?
            %li= link_to 'Map', [:map, server]
          - if can? :update, server
            %li= link_to 'Settings', [:edit, server]

.row
  .span8
    - if signed_in?
      .alert.alert-info
        = link_to invitation_path(current_user.invitation_token) do
          Invite a friend to play here an earn an extra
          %strong= pluralize Bonuses::Referred.coins, 'coin', 'coins'
          each.

    = form_for [server, Post.new], :method => :post do |f|
      .control-group
        = f.text_area :body, rows: 2, placeholder: 'Write a post', class: 'span8'
      = f.submit 'Create post', class: %w(btn btn-small)

    .activity-stream
      - server.posts.each do |post|
        .activity
          .avatar
            = image_tag post.author.avatar.medium.url, width: 40, height: 40
          .main
            .info
              .author= post.author.username
              .date= l post.created_at

            .body= markdown post.body

  .span4
    .player-list
      - online = PartyCloud.players_online(server.party_cloud_id)
      - server.player_uids.each do |username|
        .player{class: online.include?(username) && "is-online"}
          .avatar
            = image_tag "https://minotar.net/helm/#{username}/30.png", alt: username, width: 30, height: 30

    %dl
      %dt Owner
      %dd= server.creator.username

      %dt Game
      %dd= server.funpack.game.name

      %dt Funpack
      %dd= server.funpack.name

      %dt Created
      %dd= l server.created_at, :format => :date

      - if server.up?
        %dt Address
        %dd.server-address= server.address

    - if not server.shared?
      .alert.alert-success
        %strong= server.creator.username
        is sponsoring this server.
