- title server.name
- layout :server
- track 'Viewed server', name: server.name, url: server_url(server)

- provide :breakout do
  .page-header
    .container
      .title-bar
        .actions
        %h1.title= link_to server.name, server_path(server)

    .subnav
      .container
        %ul.nav.nav-table
          %li.active= link_to 'Activity', server
          - if server.game.maps?
            %li= link_to 'Map', [:map, server]
          - if can? :update, server
            %li= link_to 'Settings', [:edit, server]


.server-meta
  .tidbits
    .tidbit
      %strong.key.highlight{style: 'color:black'}
        - if server.shared?
          Minefold account needed to play
        - else
          #{server.creator.username} is paying for everybody

    .tidbit
      %span.key Owner
      %span.val= server.creator.username

    .tidbit
      %span.key Game
      %span.val= server.funpack.game.name

    .tidbit
      %span.key Funpack
      %span.val= server.funpack.name

    .tidbit
      %span.key Created
      %span.val= l server.created_at, :format => :date

    - if server.up?
      .tidbit
        %span.key Address
        %span.val.server-address= server.address

  - # TODO: Hack for Minecraft!
  .player-list
    - online = PartyCloud.players_online(server.party_cloud_id)
    - server.player_uids.each do |username|
      .player{class: online.include?(username) && "online"}
        = image_tag "https://minotar.net/helm/#{username}/24.png", class: 'image-circle', alt: username, width: 24, height: 24


.comments
  - if signed_in?
    = form_for [server, Comment.new], method: 'POST', html: {class: %w(new-comment-form row)} do |f|
      .span1
        = image_tag current_user.avatar.medium.url, width: 60, height: 60

      .span7
        .comment-meta
          %span.comment-author= current_user.username
        .control-group
          .controls
            = f.text_area :body, height: 4, class: %w(span5)

        .form-actions
          = f.submit 'Post comment', class: %w(btn)

  - server.comments.each do |comment|
    .comment.row
      .span1
        = image_tag comment.author.avatar.medium.url, width: 60, height: 60
      .span7
        .comment-meta
          %span.comment-author= comment.author.username
          %span.comment-date
            at
            = comment.created_at.strftime('%l:%M%P on %-d/%-m/%Y')
        .comment-body
          = markdown comment.body
