- title server.name
- layout :server
- track 'Viewed server', name: server.name, url: server_url(server)

- provide :breakout do
  .page-header
    .container
      .title-bar
        .actions
        %h1.title= link_to server.name, server_path(server)

    .subnav
      .container
        %ul.nav.nav-table
          %li.active= link_to 'Activity', server
          - if server.funpack.game.minecraft?
            %li= link_to 'Map', [:map, server]
          - if can? :update, server
            %li= link_to 'Settings', [:edit, server]


.row
  .span7
    .activity-stream
      = render partial: server.activity_stream, :as => :activity, layout: 'activities/activity'

  %aside.span3
    .stats
      %ul
        %li.members
          %strong 53
          members
        %li.watchers
          %strong 180
          watchers
