- content_for :masthead do
  %h1 Dashboard

- content_for :after do
  - if current_user.first_sign_in?
    .welcome-notice
      .heart &hearts;
      %h2
        G'day mate!
      %p
        It's great to see you here.
        We are working super hard but things may still break. If something seems odd <a href='mailto:support@minefold.com'>shoot us an email</a>.

  .create-world
    = link_to 'Create a new world', new_world_path, class: 'new'
    .or — or —
    = link_to 'Import an existing world', new_world_path, class: 'import'


= link_to @current_world, class: 'current-world' do
  %p You are currently spawning in
  %h2= @current_world.name

  .players
    - if @current_world_players_count.zero?
      Nobody is playing right now.
    - else
      = @current_world_players_count
      people playing right now.

.explore-worlds
  %h2 Explore
  %ul
    - @worlds.each do |world|
      %li{class: (current_user.current_world == world ? 'active' : nil)}
        = link_to world do
          = world.name
          .players
            = pluralize world.connected_players_count, 'player', 'players'
