- title  'Dashboard'

- if current_user.first_sign_in? and not (current_user.current_world or current_user.playable_worlds)
  .welcome
    .heart &hearts;
    %h2
      G'day #{current_user.username}
    %p
      It's great to see you here! If you haven't played Minecraft before or are new to multiplayer we have #{link_to 'a short guide', help_page_path} to help you out. However, if you are ready to start playing you can either create a new world, or upload one of your single player worlds.

  .create-world.attention
    = link_to 'Create a new world', [:new, :world], class: 'new'
    = link_to 'Upload an existing world', [:upload, :worlds], class: 'import'

- else
  .dshbrd
    .worlds
      %h2 Your worlds
      %ul
        - current_user.owned_worlds.each do |world|
          %li{class: (current_user.current_world == world ? 'active' : nil)}
            = link_to world do
              - if world == current_user.current_world
                .current
              %span.user= world.owner.username
              %span.slash /
              %strong= world.name

    .worlds
      %h2 Friend's worlds
      - if current_user.whitelisted_worlds.empty?
        %p You haven't been whitelisted in any other worlds yet.
      - else
        %ul
          - current_user.whitelisted_worlds.each do |world|
            %li{class: (current_user.current_world == world ? 'active' : nil)}
              = link_to world do
                - if world == current_user.current_world
                  .current
                %span.user= world.owner.username
                %span.slash /
                %strong= world.name

  .create-world
    = link_to 'Create a new world', [:new, :world], class: 'new'
    = link_to 'Upload an existing world', [:upload, :worlds], class: 'import'

