- title_and_masthead 'Account Settings'

%section
  %article
    = form_for current_user, url: update_user_path, method: :put do |f|
      %fieldset.minecraft-player
        %h3= current_user.minecraft_player.username
        = player_avatar_tag current_user.minecraft_player, size: :large
        .username

        .hint Change your avatar at #{link_to 'Minecraft.net', 'http://minecraft.net/profile', target: '_blank'}

      %fieldset.email
        %h3= f.label :email

        = f.text_field :email
        = error_messages_for(f.object, :email)

      %fieldset.notifications
        %h3 Receive emails when
        = f.fields_for :notifications do |n|

          = setting n, :world_membership_added, 'You are added to a world'
          = setting n, :world_membership_request_created, 'Someone asks to join your world'
          = setting n, :world_started, 'A friend starts playing'
          = setting n, :credits_reset, 'Your monthly time is reset'

          = setting n, :campaign, 'Minefold releases new features'



      - if current_user.pro?
        %fieldset
          %h3 Pro Account
          - if current_user.beta?
            Enjoy your Beta account bro!
          - else
            Expires in #{time_ago_in_words current_user.plan_expires_at} from now (#{current_user.plan_expires_at.strftime("%d/%m/%Y")}).


      %fieldset.submit
        = f.submit 'Update account'
