- title_and_masthead 'Account Settings'

= render partial: 'nav'

= form_for current_user, url: '/user', method: :put do |f|
  = f.fields_for current_user.minecraft_player do |f|
    %fieldset.username
      %h3= f.label :username, 'Minecraft Username'

      = f.text_field :username, maxlength: 16
      = error_messages_for(f.object, :username)
      = error_messages_for(f.object, :safe_username)

  %fieldset.email
    %h3= f.label :email

    = f.text_field :email
    = error_messages_for(f.object, :email)

  %fieldset.avatar
    %h3= f.label :avatar

    = player_avatar_tag current_user.minecraft_player, size: :large
    .hint Change your avatar at #{link_to 'Minecraft.net', 'http://minecraft.net/profile', target: '_blank'}

  - if current_user.pro?
    %fieldset
      %h3 Pro Account
      - if current_user.beta?
        Enjoy your Beta account bro!
      - else
        Expires in #{time_ago_in_words current_user.plan_expires_at} from now (#{current_user.plan_expires_at.strftime("%d/%m/%Y")}).


  %fieldset.submit
    = f.submit 'Update account'
