= form_for @user do |f|
  %h2 Please Note

  %p#email
    = f.label :email
    = f.email_field :email

  %p#username
    = f.label :username, 'Minecraft Username'
    = f.text_field :username

  %p#password
    = f.label :password
    = f.password_field :password

  %p#password_confirmation
    = f.label :password_confirmation
    = f.password_field :password_confirmation

  %p#invite
    = f.label :invite, 'Invitation Code'
    = f.text_field :invite, :size => 6

  %p
    %button Create account
