- title  'Sign Up'

= form_for @user do |f|
  - unless @user.errors.empty?
    .errors
      %p
        %strong Whoops!
        Your:
      %ol
      - @user.errors.each do |key, desc|
        %li
          %strong= key
          = desc

  %p
    = f.label :email
    = f.email_field :email

  %p
    = f.label :username, 'Minecraft Username'
    = f.text_field :username

  %p
    = f.label :password
    = f.password_field :password

  %p
    = f.label :password_confirmation
    = f.password_field :password_confirmation

  %p
    = f.submit "Sign up"
