- track 'visited new user page'
- title  'Create your account'

.page-header
  %h1 Create an account

.row
  .span4
    = form_for user do |f|
      %fieldset
        .control-group
          = f.label :email, class: 'control-label'
          .control
            = f.email_field :email, class: %w(span4)

        .row
          .span2
            .control-group
              = f.label :password, class: 'control-label'
              .control
                = f.password_field :password, class: %w(span2)

          .span2
            .control-group
              = f.label :password_confirmation, class: 'control-label'
              .control
                = f.password_field :password_confirmation, class: %w(span2)

        .form-actions
          = f.submit 'Create account', class: %w(btn btn-primary)
