- track 'visited new user page'
- title  'Create your account'

.row
  .span4.offset4
    %center
      .page-header
        %h1 Sign up for Minefold
      = link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook), class: %w(btn btn-large btn-primary)

    %hr

    = form_for user do |f|
      %fieldset
        .control-group
          = f.label :email, class: 'control-label'
          .control
            = f.email_field :email, class: %w(span4)

        .row
          .span2
            .control-group
              = f.label :password, class: 'control-label'
              .control
                = f.password_field :password, class: %w(span2)

          .span2
            .control-group
              = f.label :password_confirmation, class: 'control-label'
              .control
                = f.password_field :password_confirmation, class: %w(span2)

        .form-actions
          = f.submit 'Sign up', class: %w(btn btn-primary)
          = link_to 'Cancel', root_path, class: %w(btn)
