- title user.username
- masthead do
  .avatar= image_tag user.avatar.large.url
  %h1= user.username
  .meta
    = pro_link(user)
    %span.created-at Member since #{user.created_at.strftime("%-d %b, %Y")}

%h2 Worlds

- user.worlds.each do |world|
  %p= link_to strong_world_fullname(world), user_world_path(world.creator, world)
