- title user.username

.container
  .row
    .span2.offset1.user-profile
      .avatar
        = image_tag user.avatar.large.url, class: 'avatar'

      .identity
        - if user.name?
          %h2.name= PersonalName.new(user).full
          %h3.username= user.username
        - else
          %h2.username= user.username

      .info
        %p
          Joined on <strong>#{l user.created_at, :format => :date}</strong>


    .span8
      = render partial: 'servers/list', object: user.servers
