- title  'Create your account'
- masthead do
  %h1 We just need your Minecraft username!

  = form_for current_user, url: account_path do |f|
    %fieldset
      %section.username
        = f.text_field :username, tabindex: 1, placeholder: 'notch'
        = error_messages_for(f.object, :safe_username)
        = error_messages_for(f.object, :username)

    %fieldset.submit
      = f.submit 'Set it!', tabindex: 5
