- title 'Verify your Minecraft account'
- masthead do
  %ol.verification-steps
    %li.step.is-done
      Sign up

    %li.step
      Verify

    %li.step.is-pending
      Play!

%section.verification-status.is-waiting
  .status
  %p.notice Waiting for Minecraft account verification

.noop

%section.verification-instructions
  - if $rollout.active?(:verify_screenshot, current_user)
    %p We need to link your Minecraft account. Open Minecraft and connect to:

    %pre
      %code.host= current_user.verification_host

    = image_tag "verify.png"

  - else
    %p Before you can continue, we need to verify your Minecraft account. If you are playing already please type the command:

    %pre
      %code.cmd /verify #{current_user.verification_token}

    %p Otherwise open Minecraft and connect to:

    %pre
      %code.host= current_user.verification_host

- js do
  :javascript
    var onVerify = function(data) {
      $('.verification-instructions').slideUp();

      $('.verification-status')
        .removeClass('is-waiting')
        .addClass('is-verified');

      setTimeout(function(){
        window.location = '/';
      }, 3000)
    };

    $(document).ready(function() {
      var channelName = #{current_user.private_channel_key.to_json};
      var channel = mf.pusher.subscribe(channelName);
      channel.bind('verified', onVerify);
    });

