%p= flash[:alert]
%p= flash[:notice]

%p= @user.errors.to_json

= form_for @user, url: user_registration_path do |f|
  = f.hidden_field :invite_code, value: params[:code]

  %h2 Sign Up

  / %p Invite #{@user.invite.code} sent by #{@invite.creator.username}

  %p#email
    = f.label :email
    = f.email_field :email, value: (@invite && @invite.email)

  %p#username
    = f.label :username, 'Minecraft Username'
    = f.text_field :username,  autocomplete: :off

  %p#password
    = f.label :password
    = f.password_field :password

  %p#password_confirmation
    = f.label :password_confirmation
    = f.password_field :password_confirmation

  %p
    %button Create account
