<footer>
  <div class="container">
    <nav>
      <ul role="navigation">
        <li><%= link_to 'Pricing', pricing_page_path %></li>
        <li><%= link_to 'Help & Support', support_page_path %></li>
        <li><%= link_to 'About', about_page_path %></li>
        <li><%= link_to 'Developers', developers_page_path %></li>
        <li><%= link_to 'Servers', list_servers_path %></li>
        <li><%= link_to 'Blog', root_path(subdomain: 'blog') %></li>
      </ul>
    </nav>
    <p class="copyright">
      &copy; <a href="http://mutlicorp.com">Mütli Corp.</a>
    </p>
  </div>
</footer>
