- if signed_in?
  %ul.nav

    - if !current_user.active_subscription?
      %li.coins
        %a{href: time_page_path} #{time_left(current_user.coins)} left

    - else
      %li.coins
        %a{href: plans_page_path} #{current_user.subscription.plan.name} plan

    %li.divider-vertical

    %li.servers.dropdown
      %a.dropdown-toggle{href: servers_path, data: {toggle: 'dropdown'}}
        Servers
        %b.caret

      %ul.dropdown-menu.pull-right
        - current_user.created_servers.order(:updated_at).reverse_order.limit(10).each do |server|
          %li.server
            %a{href: server_path(server)}
              = server.name

        - if current_user.created_servers.count > 10
          %li.more-servers
            %a{href: servers_path} More…

        %li.divider
        %li
          %a{href: new_server_path}
            %i.icon-plus
            Start a new server

    %li.user.dropdown
      %a.dropdown-toggle{href: '#', data: {toggle: 'dropdown'}}
        = current_user.username
        %b.caret

      %ul.dropdown-menu.pull-right
        %li= link_to 'Settings', edit_user_registration_path
        %li= link_to 'Get more time', time_page_path
        %li= link_to 'Sign out', destroy_user_session_path, method: :delete

- else
  %ul.nav
    %li.pricing= link_to 'Pricing', pricing_page_path
    %li.sign-up= link_to 'Sign up', new_user_registration_path
    %li.divider-vertical
    %li.sign-in= link_to 'Sign in', new_user_session_path
