%ol#nav
  - if user_signed_in?
    %li= link_to 'Dashboard', user_root_path

  %li= link_to 'Blog', 'http://blog.minefold.com'
  %li= link_to 'Feedback', 'http://getsatisfaction.com/minefold'

  .pipe

  - if user_signed_in?
    %li.time
      - if current_user.unlimited?
        = link_to "&infin;h".html_safe, billing_account_path
      - else
        = link_to "#{current_user.hours_left}h", billing_account_path

    %li.account
      = link_to 'Settings', account_path

    %li.sign-out
      = link_to 'Logout', destroy_user_session_path, method: :delete

    %li.profile<
      = link_to current_user do
        = image_tag current_user.avatar_url(:head, :s24), width: 24, height: 24

  - else
    %li.login= link_to 'Login', new_user_session_path
