%ol#nav
  - if user_signed_in?
    %li= link_to 'Worlds', user_root_path
  - else
    %li= link_to 'Pricing and Signup', root_path(anchor: 'plans')

  %li= link_to 'Blog', 'http://blog.minefold.com'
  %li= mail_to 'feedback@minefold.com', 'Feedback'

  .pipe

  - if user_signed_in?
    - if current_user.pro?
      %li.pro Pro!

    - else
      %li.free
        = time_left_for current_user
        left

      %li.go-pro
        = link_to 'Go Pro', [:edit, current_user], class: 'button'



    %li.account
      = link_to 'Account', [:edit, current_user]

    %li.sign-out
      = link_to 'Logout', destroy_user_session_path, method: :delete

    %li.profile<
      = link_to current_user do
        = image_tag current_user.avatar_url(:head, :s24), width: 24, height: 24

  - else
    %li.login= link_to 'Login', new_user_session_path
