- if signed_in?
  %ul.nav
    %li.gift= link_to 'Give Minefold for Xmas', xmas_promo_path
    %li.servers= link_to 'Servers', servers_path

    %li.divider-vertical

    %li.coins
      %a{href: getcoins_page_path}
        = pluralize current_user.coins, 'coin', 'coins'

    %li.user.dropdown
      %a.dropdown-toggle{href: '#', data: {toggle: 'dropdown'}}
        = current_user.username
        %b.caret

      %ul.dropdown-menu.pull-right
        %li= link_to 'Settings', edit_user_registration_path
        %li= link_to 'Get more coins', getcoins_page_path
        %li= link_to 'Sign out', destroy_user_session_path, method: :delete

- else
  %ul.nav
    %li.gift= link_to 'Give Minefold for Xmas', xmas_promo_path
    %li.pricing= link_to 'Pricing', pricing_page_path
    %li.sign-up= link_to 'Sign up', new_user_registration_path
    %li.divider-vertical
    %li.sign-in= link_to 'Sign in', new_user_session_path
