<% if signed_in? %>
  <ul class="menu">
    <% if current_user.active_subscription? %>
    <li class="nav-subscription">
      <%= "#{current_user.subscription.plan.name} Plan" %>
    </li>
    <% end %>
    <li class="nav-servers">
      <%= link_to 'Servers', dashboard_path %>
    </li>

    <li class="nav-user dropdown">
      <a href="<%= user_path(current_user) %>" class="dropdown-toggle" data-toggle="dropdown">
        <%= current_user.username %>
      </a>

      <ul class="dropdown-menu pull-right">
        <li><%= link_to 'Profile', user_path(current_user) %></li>
        <li><%= link_to 'Settings', edit_user_registration_path %></li>
        <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
      </ul>
    </li>
  </ul>
<% else %>
  <ul class="menu">
    <li class="sign-in">
      <%= link_to 'Sign in', new_user_session_path %>
    </li>
  </ul>
<% end %>

<% if signed_in? and current_user.trial? %>
  <%= render partial: 'shared/navbar/trial_meter' %>
<% end %>

<% if signed_in? and current_user.subscription %>
  <%= render partial: 'shared/navbar/subscription_meter' %>
<% end %>
