- if signed_in?
  %ul.nav

    - if current_user.trial?
      %li.nav-trial-time
        %p
          = time_left current_user.trial_time_left
          of trial time left

        / %hr.divider-horizontal
        .progressbar
          .bar{style: 'width:100%'}

        %p
          = link_to 'Upgrade to a plan', plans_page_path
          or
          = link_to 'score free time', bonuses_path

      %li.divider-vertical

    %li.nav-servers
      = link_to 'Servers', dashboard_path

    %li.nav-user.dropdown
      %a.dropdown-toggle{href: '#', data: {toggle: 'dropdown'}}
        = current_user.username
        %b.caret

      %ul.dropdown-menu.pull-right
        %li= link_to 'Settings', edit_user_registration_path
        %li= link_to 'Get more time', bonuses_path
        %li= link_to 'Sign out', destroy_user_session_path, method: :delete

- else
  %ul.nav
    %li.pricing= link_to 'Plans & Pricing', plans_page_path
    %li.sign-up= link_to 'Sign up', new_user_registration_path
    %li.divider-vertical
    %li.sign-in= link_to 'Sign in', new_user_session_path
