%li.gift= link_to 'Give Minefold for Xmas', xmas_promo_path
%li.servers= link_to 'Servers', servers_path
%li.support= link_to 'Support', support_page_path

%li.divider-vertical

%li.coins
  %a{href: getcoins_page_path}
    = pluralize current_user.coins, 'coin', 'coins'

%li.user.dropdown
  %a.dropdown-toggle{href: '#', data: {toggle: 'dropdown'}}
    = current_user.username
    %b.caret

  %ul.dropdown-menu.pull-right
    %li= link_to 'Settings', edit_user_registration_path
    %li= link_to 'Get more coins', getcoins_page_path
    %li= link_to 'Sign out', destroy_user_session_path, method: :delete

- content_for :tail do
  :javascript
    app.coinsView = new Application.CoinsView({
      model: app.currentUser,
      el: $('header .coins .cr')
    });
