= f.control_group :gamemode do
  .control-label Mode
  .controls
    = f.label :game_mode_0, class: 'radio' do
      = f.radio_button :game_mode, 0, checked: fuck_you_select_bitch(f, :game_mode, '0', true)
      Survival
      %p.help-block
        Search for resources, crafting, gain levels, health and hunger

  .controls
    = f.label :game_mode_1, class: 'radio' do
      = f.radio_button :game_mode, 1, checked: fuck_you_select_bitch(f, :game_mode, '1', false)
      Creative
      %p.help-block
        Unlimited resources, free flying and destroy blocks instantly

  .controls
    = f.label :game_mode_2, class: 'radio' do
      = f.radio_button :game_mode, 2, checked: fuck_you_select_bitch(f, :game_mode, '2', false)
      Adventure
      %p.help-block
        Explorers only, cannot place or destroy blocks.

= f.control_group 'level_type' do
  .control-label Level type
  .controls
    = f.label 'level_type_default', class: 'radio' do
      = f.radio_button 'level_type', 'DEFAULT', checked: fuck_you_select_bitch(f, 'level_type', 'DEFAULT', true)
      Default
      %p.help-block
        Standard world with hills, valleys, water etc.

  .controls
    = f.label 'level_type_flat', class: 'radio' do
      = f.radio_button 'level_type', 'FLAT', checked: fuck_you_select_bitch(f, 'level_type', 'FLAT', false)
      Flat
      %p.help-block
        A flat world with no features, meant for building

  .controls
    = f.label 'level_type_largebiomes', class: 'radio' do
      = f.radio_button 'level_type', 'LARGEBIOMES', checked: fuck_you_select_bitch(f, 'level_type', 'LARGEBIOMES', false)
      Large biomes
      %p.help-block
        Same as default but all biomes are larger


= f.control_group :seed do
  .control-label Map Seed
  .controls
    = f.text_field :seed

:javascript
  var seed = document.getElementById('server_settings_seed');
  if (seed.value === '') {
    seed.value = new Date().getTime();
  }


= f.control_group :difficulty do
  .control-label Difficulty
  .controls
    = f.select :difficulty, [['Peaceful', '0'], ['Easy', '1'], ['Normal', '2'], ['Hard', '3']]


.control-group
  .controls
    = f.label :pvp, class: 'checkbox' do
      = f.check_box :pvp, checked: fuck_you_checkbox_cunt(f, :pvp, true)
      Player vs. Player

  .controls
    = f.label 'spawn_monsters', class: 'checkbox' do
      = f.check_box 'spawn_monsters', checked: fuck_you_checkbox_cunt(f, 'spawn_monsters', true)
      Spawn monsters

  .controls
    = f.label 'spawn_animals', class: 'checkbox' do
      = f.check_box 'spawn_animals', checked: fuck_you_checkbox_cunt(f, 'spawn_animals', true)
      Spawn animals

  .controls
    = f.label 'spawn_npcs', class: 'checkbox' do
      = f.check_box 'spawn_npcs', checked: fuck_you_checkbox_cunt(f, 'spawn_npcs', true)
      Spawn npcs

  .controls
    = f.label 'allow_nether', class: 'checkbox' do
      = f.check_box 'allow_nether', checked: fuck_you_checkbox_cunt(f, 'allow_nether', true)
      Nether

  .controls
    = f.label 'enable-command-block', class: 'checkbox' do
      = f.check_box 'enable-command-block', checked: fuck_you_checkbox_cunt(f, 'enable-command-block', true)
      Command blocks

- players = current_user.accounts.mojang.collect(&:uid).join("\n")

= f.control_group :whitelist do
  %span.pull-right.help-inline One username per line
  .control-label
    Whitelist
  .controls
    - whitelist = f.object.whitelist || players
    = f.text_area :whitelist, value: whitelist, rows: (whitelist.lines.to_a.length + 3), style: 'width:100%', class: %w(span6)

= f.control_group :ops do
  .control-label Ops
  .controls
    - ops = f.object.ops || players
    = f.text_area :ops, value: ops, rows: (ops.lines.to_a.length + 3), style: 'width:100%', class: %w(span6)
