= f.control_group :game_mode do
  .control-label Mode
  .controls
    = f.label :game_mode_0, class: 'radio' do
      = f.radio_button :game_mode, 0, tabindex: 3, checked: true
      Survival
      %p.help-block
        Search for resources, crafting, gain levels, health and hunger

  .controls
    = f.label :game_mode_1, class: 'radio' do
      = f.radio_button :game_mode, 1, tabindex: 3
      Creative
      %p.help-block
        Unlimited resources, free flying and destroy blocks instantly

  .controls
    = f.label :game_mode_2, class: 'radio' do
      = f.radio_button :game_mode, 2, tabindex: 4
      Adventure
      %p.help-block
        Explorers only, cannot place or destroy blocks.

%hr

= f.control_group :seed do
  .control-label Map Seed
  .controls
    = f.text_field :seed, tabindex: 2

:javascript
  var seed = $('input#server_settings_seed');
  if (seed.val() === '') {
    seed.val(new Date().getTime());
  }

%hr

.row
  .span2
    = f.control_group :difficulty do
      .control-label Difficulty
      - %w(peaceful easy normal hard).each_with_index do |level, i|
        .controls
          = f.label "difficulty_#{i}", class: 'radio' do
            = f.radio_button :difficulty, i, tabindex: 4, checked: (level == 'normal')
            = level.to_s.titlecase


  = f.control_group :pvp, :spawn_monsters, :spawn_animals do
    .span2
      .control-label Gameplay

      .controls
        = f.label :pvp, class: 'checkbox' do
          = f.check_box :pvp, tabindex: 5, checked: true
          Player vs. Player

      .controls
        = f.label :spawn_monsters, class: 'checkbox' do
          = f.check_box :spawn_monsters, tabindex: 6, checked: true
          Spawn monsters

      .controls
        = f.label :spawn_animals, class: 'checkbox' do
          = f.check_box :spawn_animals, tabindex: 7, checked: true
          Spawn animals

      .controls
        = f.label :spawn_npcs, class: 'checkbox' do
          = f.check_box :spawn_npcs, tabindex: 8, checked: true
          Spawn animals

    .span2
      %br
      .controls
        = f.label :allow_nether, class: 'checkbox' do
          = f.check_box :allow_nether, tabindex: 9, checked: true
          Nether

%hr.large

- players = current_user.players.minecraft.collect(&:uid).join("\n")

= f.control_group :whitelist do
  %span.pull-right.help-inline One username per line
  .control-label
    Whitelist
  .controls
    - whitelist = f.parent_builder.object.settings['whitelist'] || players
    = f.text_area :whitelist, value: whitelist, rows: (whitelist.lines.to_a.length + 1), style: 'width:100%', class: %w(span6)

= f.control_group :ops do
  .control-label Ops
  .controls
    - ops = f.parent_builder.object.settings['ops'] || players
    = f.text_area :ops, value: ops, rows: (ops.lines.to_a.length + 1), style: 'width:100%', class: %w(span6)
