- title  'Worlds'

- if current_user_needs_help?
  - subhead do
    .welcome
      .heart &hearts;
      %h2
        G'day #{current_user.username}!
      %p
        %strong It's great to see you here.
        If you haven't played Minecraft before or are new to multiplayer we have #{link_to 'a short guide', help_page_path} to help you out. If you are ready to jump in and start playing you can either create a new world or upload one of your single player worlds.
      %p If you have any feedback or problems, please email us anytime at #{mail_to 'support@minefold.com'}.

- subhead do
  .callout
    Want to show off your amazing builds with other Minefold players? #{mail_to 'team@minefold.com', 'Send us some screenshots'} to have your world be in the running to be our first featured world!

.worlds
  - if current_user.worlds.empty?
    %p
      %strong Sad panda.
      You don't have any worlds you can play in. You can either #{link_to 'create one', new_world_path} or #{link_to 'upload an existing world', upload_path}.
  - else
    %ul
      - current_user.worlds.each do |world|
        %li{class: (current_user.current_world == world ? 'active' : nil)}
          = link_to world do
            - if world == current_user.current_world
              .current Playing here
            %span.user= world.creator.username
            %span.slash /
            %strong= world.name

- after do
  .create
    = link_to 'Create a new world', new_world_path, class: ['new', 'button']
    = link_to 'Upload an existing world', new_upload_path, class: ['import', 'button']