- title  'Worlds'

- if current_user_needs_help?
  .welcome
    .heart &hearts;
    %h2
      G'day #{current_user.username}!
    %p
      %strong It's great to see you here.
      If you haven't played Minecraft before or are new to multiplayer we have #{link_to 'a short guide', help_page_path} to help you out. If you are ready to jump in and start playing you can either create a new world or upload one of your single player worlds.

  .create
    = link_to 'Create a new world', new_worlds_path, class: ['new', 'button']
    = link_to 'Upload an existing world', new_upload_path, class: ['import', 'button']


- else
  .worlds
    - if current_user.worlds.empty?
      %p
        %strong Sad panda.
        You don't have any worlds you can play in. You can either #{link_to 'create one', new_worlds_path} or #{link_to 'upload a single player world', upload_path}.
    - else
      %ul
        - current_user.worlds.each do |world|
          %li{class: (current_user.current_world == world ? 'active' : nil)}
            = link_to world do
              - if world == current_user.current_world
                .current
              %span.user= world.creator.username
              %span.slash /
              %strong= world.name
  - after do
    .create
      = link_to 'Create a new world', new_worlds_path, class: ['new', 'button']
      = link_to 'Upload an existing world', new_upload_path, class: ['import', 'button']