- content_for :masthead do
  .top
    - @usernames[0...10].each do |username|
      = image_tag "http://minotar.net/avatar/#{username}/60.png", width: 60, height: 60, alt: username
  .left
    - @usernames[10...16].each do |username|
      = image_tag "http://minotar.net/avatar/#{username}/60.png", width: 60, height: 60, alt: username

  .center
    %h1 Play Minecraft with friends!

    .copy
      %p
        Minefold is an online community for friends who play Minecraft.
      %p
        We make it super simple to play together: no more nerdy stuff.

    .signup
      - if User.free_spots?
        = link_to 'Sign up now', new_user_path

        %p.spots
          Only
          %strong= number_with_delimiter User.free_spots
          free spots left


      - else
        = form_tag 'http://minefold.createsend.com/t/r/s/qjhfu', method: :post, class: 'puturnamedown' do
          %div
            %p
              %strong We're full up!
              Pop your email down and you'll be next in line.

            = email_field_tag 'cm-qjhfu-qjhfu', nil, placeholder: 'email@example.com', id: 'qjhfu-qjhfu'

            %button
              = ['Algebraic!', 'Rhombus!', 'Mathematical!'].shuffle.first

  .right
    - @usernames[16...22].each do |username|
      = image_tag "http://minotar.net/avatar/#{username}/60.png", width: 60, height: 60, alt: username

  - @usernames[22...32].each do |username|
    = image_tag "http://minotar.net/avatar/#{username}/60.png", width: 60, height: 60, alt: username
