- content_for :masthead do
  .top
    = image_tag 'home/1-1-whatupdave.png', width: 60, height: 60, alt: 'whatupdave', id: 'img-1-1'
    - 9.times do |x|
      = placekitty width: 60, height: 60
  .left
    = image_tag 'home/2-1-twe4ked.png', width: 60, height: 60, alt: 'twe4ked'
    - (2 * 3 - 1).times do |x|
      = placekitty width: 60, height: 60

  .center
    %h1 Play Minecraft with friends!

    .copy
      %p
        Minefold is an online community for friends who play Minecraft.
      %p
        We make it super simple to play together: no more nerdy stuff.

    .signup
      - if User.free_spots?
        = link_to 'Sign up now', new_user_path

        %p.spots
          Only
          %strong= number_with_delimiter User.free_spots
          out of #{number_with_delimiter User::SPOTS} spots left


      - else
        = form_tag 'http://minefold.createsend.com/t/r/s/qjhfu', method: :post, class: 'puturnamedown' do
          %div
            %p
              %strong We're full up!
              Pop your email down and you'll be next in line.

            = email_field_tag 'cm-qjhfu-qjhfu', nil, placeholder: 'email@example.com', id: 'qjhfu-qjhfu'

            %button
              = ['Algebraic!', 'Rhombus!', 'Mathematical!'].shuffle.first

  .right
    - (2 * 3).times do |x|
      = placekitty width: 60, height: 60


  - 10.times do |x|
    = placekitty width: 60, height: 60
