- head do
  %script{src: 'https://js.stripe.com/v1'}
  :coffeescript
    Stripe.setPublishableKey #{ENV['STRIPE_PUBLISHABLE'].to_json}


%section.card-number
  = label_tag :number, 'Card Number'
  = text_field_tag :number, '', name: nil, size: 20, autocomplete: 'off', class: %w{stripe number}


%p.card-types
  We accept <span class="visa">Visa</span>, <span class="mastercard">MasterCard</span>, <span class="american-express">American Express</span>, <span class="discover">Discover</span>, <span class="jcb">JCB</span> and <span class="diners-club">Diners Club</span>.

:coffeescript
  $('input.stripe.number').keyup (e) ->
    target = $(e.target)
    cardType = Stripe.cardType(target.val())
      .toLowerCase()
      .replace(/\s/,'-')

    $('.card-types span')
      .toggleClass('unknown', cardType isnt 'unknown')
      .removeClass('active')
      .filter(-> $(@).hasClass(cardType))
      .addClass('active')

%section.card-cvc
  = label_tag :cvc, 'CVC'
  = text_field_tag :cvc, '', name: nil, size: 4, autocomplete: 'off', class: %w{stripe cvc}

%section.card-expiration
  = label_tag :expiry_month, 'Expiration (MM/YYYY)'
  = text_field_tag :expiry_month, '', name: nil, size: 2, class: %w{stripe expiry-month}
  %span /
  = text_field_tag :expiry_year, '', name: nil, size: 4, class: %w{stripe expiry-year}

  :coffeescript
    # Skip to the next field

    $('input.stripe.expiry-month').keyup (e) ->
      return unless 48 <= e.keyCode <= 57

      target = $(e.target)
      $('input.stripe.expiry-year').focus() if target.val().length is parseInt(target.attr('size'), 10)

%a#secured-by{href: 'https://stripe.com', target: '_blank'}
  Secured by
  = image_tag 'stripe.png', width: 72, height: 31





