%header
  %h1
    You have
    %strong= pluralize current_user.credits, 'minute', 'minutes'
    left.

%h2 Select how many credits you want to top up your account with.

= form_tag ENV['PAYPAL_URL'] do
  = hidden_field_tag :cmd, '_s-xclick'

  = hidden_field_tag :hosted_button_id, ENV['PAYPAL_BUTTON_ID']

  = hidden_field_tag :item_number, @order.id
  = hidden_field_tag :custom,      @order.id

  = hidden_field_tag :notify_url, order_url
  = hidden_field_tag :cancel_return, cancel_order_url

  = hidden_field_tag :return, successful_order_url

  = hidden_field_tag :on0, 'Credits'

  %ul#products
    %li.active
      %label{for: 'os0-24'}
        .credits
          24
          %span credits
        .time
          = 24.hours / 1.minute
          %span minutes
        .cost $12

      %input#os0-24{type: 'radio', name: 'os0', value: 24, style: 'display:none', checked: true}

    %li
      %label{for: 'os0-48'}
        .credits
          48
          %span credits
        .time
          = 48.hours / 1.minute
          %span minutes
        .cost $22

      %input#os0-48{type: 'radio', name: 'os0', value: 48, style: 'display:none'}

    %li
      %label{for: 'os0-72'}
        .credits
          72
          %span credits
        .time
          = 72.hours / 1.minute
          %span minutes
        .cost $30

      %input#os0-72{type: 'radio', name: 'os0', value: 72, style: 'display:none'}


  %input{type: 'image', src: 'https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif', border: 0, name: 'submit', alt: 'PayPal - The safer, easier way to pay online!'}

  -# TODO: Investigate wether this is needed
  %img{alt: '', border: 0, src: 'https://www.paypalobjects.com/en_AU/i/scr/pixel.gif', width: 1, height: 1}

:javascript
  var products = $('#products li');
  products.click(function(e) {
    var self = $(e.currentTarget);
    products.removeClass('active');
    self.addClass('active').find('input:radio').click();
    e.preventDefault();
  });
