- title 'Billing Details'

.credit-pack-picker
  - @credit_packs.each do |pack|
    .credit-pack
      %h4.credits= format_credits pack.credits
      .price= number_to_currency(pack.cents / 100)
      %p.rate #{(pack.cents_per_credit * 100).ceil}¢ for 100 credits

/ :javascript
/   $('input.stripe.number').keyup (e) ->
/     target = $(e.target)
/     cardType = Stripe.cardType(target.val())
/       .toLowerCase()
/       .replace(/\s/,'-')
/ 
/     $('.card-types span')
/       .toggleClass('unknown', cardType isnt 'unknown')
/       .removeClass('active')
/       .filter(-> $(@).hasClass(cardType))
/       .addClass('active')

%form.credit-card-form{hidden}
  
  .control-group
    %label.control-label{for: 'asdf'} Full name
    .controls
      %input{type: 'text', name: nil, autocomplete: false}
  
  .control-group
    %label.control-label{for: 'asdf'} Card Number
    .controls
      %input{type: 'text', name: nil, autocomplete: false}
    
  .control-group
    %label.control-label{for: 'asdf'} CVC
    .controls
      %input{type: 'number', name: nil, size: 4, autocomplete: false, min: 0}
  
  .control-group
    %label.control-label{for: 'asdf'} Expiration (MM/YYYY)
    .controls
      %input{type: 'number', name: nil, size: 2, min: 0}
      %span /
      %input{type: 'number', name: nil, size: 4, min: 0}
  
  .form-actions
    .pull-left
      %a.btn.btn-cancel Cancel
    
    .pull-right
      %a.btn.btn-primary
        Pay
        %span.price
  
  .security
    %i.icon-lock
    %a{href: 'https://stripe.com', target: '_blank'}
      Secured by Stripe

:javascript
  var $modal = $('#buy-credits-modal'),
    $form = $modal.find('form');
  
  $(document).ready(function() {
    $modal.find('.credit-pack').click(function() {
      var $this = $(this);
      
      $form.find('.form-actions .btn-primary .price').text($this.find('.price').text());
      $form.slideDown();
      $modal.find('.modal-header h3').text('Checkout');
      $this.siblings().removeClass('active');
      $this.addClass('active');
    });
    
    $form.find('.form-actions .btn.btn-cancel').click(function(){
      $form.slideUp();
      $modal.find('.credit-pack').removeClass('active');
    });
  });


:javascript
  var aside, form, creditPacks, timePacksData;

  timePacks = $('.time-packs a');

  form = $('form#new-order');

  aside = form.find('aside');

  timePacksData = #{CreditPack.all.to_json};

  timePacks.click(function(e) {
    e.preventDefault();

    var months, pack, price;
    pack = $(this);
    timePacks.removeClass('active');
    pack.addClass('active');
    price = pack.data('amount') / 100;
    months = pack.data('months');
    form.find('.dollar-amount').text("$" + price);
    form.find('.months').text(months);
    form.find('input[name=months]').val(months);
    return form.show();
  });

  form.find('button[type=reset]').click(function() {
    timePacks.removeClass('active');
    return form.hide();
  });

  form.submit(function(e) {
    var amount, card, months, pack, selectedPack, submitButton;
    e.preventDefault();
    submitButton = form.find('input[type=submit]').attr({
      disabled: true
    });
    card = {
      number: form.find('#card-number').val(),
      cvc: form.find('#card-cvc').val(),
      exp_month: form.find('#card-exp-month').val(),
      exp_year: form.find('#card-exp-year').val()
    };
    selectedPack = timePacks.filter('.active');
    months = parseInt(selectedPack.data('months'), 10);
    pack = _(timePacksData).find(function(pack) {
      return pack.months === months;
    });
    amount = pack.cents;
    if (amount == null) {
      return alert('Nice try buddy');
    }
    return Stripe.createToken(card, amount, function(status, response) {
      var token;
      if (status !== 200) {
        submitButton.attr({
          disabled: false
        });

        var errorMsg = $('<p></p>').addClass('help-block').text(response.error.message);

        $('.control-group.'+response.error.param)
          .addClass('error')
          .find('.controls').append(errorMsg)

      } else {
        token = response.id;
        $('<input></input>').attr({
          type: 'hidden',
          name: 'stripe_token'
        }).val(token).appendTo(form);
        $('<input></input>').attr({
          type: 'hidden',
          name: 'pack_id'
        }).val(pack.id).appendTo(form);
        return form.get(0).submit();
      }
    });
  });

:javascript
  form = $('form.edit_user')

  form.submit (e) ->
    e.preventDefault()

    button = form.find('input[type=submit]')

    button.attr(disabled: true)
    form.find('.spinner').show()

    card =
      number:    $('#stripe-number').val()
      cvc:       $('#stripe-cvc').val()
      exp_month: $('#stripe-exp-month').val()
      exp_year:  $('#stripe-exp-year').val()


    Stripe.createToken card, #{@amount.to_i.to_json}, (status, response) ->
      if status isnt 200
        button.attr(disabled: false)

        $('<p></p>')
          .addClass('stripe')
          .text(response.error.message)
          .appendTo form.find('.errors').empty()

      else
        token = response.id
        $('<input></input>')
          .attr(type: 'hidden', name: 'user[stripe_token]')
          .val(token)
          .appendTo(form)

        form.get(0).submit()