- title 'Billing Details'

%p You are about to switch to the <strong class="highlight">#{@plan.name}</strong> plan. It will cost you <strong class="highlight">#{number_to_currency(@plan.price.to_f / 100)} per month</strong>.

%p.hint When you purchase this plan your account will be automatically pro-rated and the first change will be immediate. We <em>don't offer refunds</em>, but you <em>can</em> downgrade at any time.

= form_tag orders_path, method: :post, id: 'new_order' do
  = hidden_field_tag :plan, @plan.stripe_id

  - if not @plan.free?
    %h2 Credit Card
    .errors

    - unless current_user.card.nil?
      %p
        We already have a card on file for you (#{current_user.card.type}, **** **** #{current_user.card.last4}). #{link_to 'Use a different card', '#', id: 'stripe-reveal'}.

    #stripe{style: ('display:none' unless current_user.card.nil?)}= render 'card'

    :coffeescript
      $('#stripe-reveal').click (e) -> $('#stripe').show()

    :coffeescript
      form = $('form#new_order')
      form.stripe
        amount: #{@plan.price}
        guard: ->
          $('#stripe').is(':hidden')
        submit: ->
          form.find('input:submit').attr('disabled', true)
        error: (status, response) ->
          form.find('.errors').text(response.error.message)
          form.find('input').attr('disabled', false)

  = submit_tag "#{plan_change_action(current_user, @plan)} your plan"

%p.security
  Minefold's payments are secured by 256-bit SSL and Stripe. #{link_to "Read more", 'https://stripe.com/help/security', target: '_blank'}.
