- title  'About'

- before do
  %nav.about-page= render partial: 'pages/nav'

%p.story Minefold was founded in mid 2011 by Dave Newman and Chris Lloyd, two software developers with a love of Minecraft.

%p We happily played Minecraft together for months. Being nerds we had rented a server, SSH'd in, configured a RAM disk, run the JVM and oh God my brain hurts. It was all too complicated. It was just a matter of time before Chris mistyped a command and all our hard work was lost.

%p From that moment on we decided to rid the world of Minecraft servers and let people focus on having fun and building awesome stuff!

%h2 The Founders

.founder.dave
  = image_tag 'dave-portrait.png', width: 48, height: 48
  %p <strong>Dave</strong> is the closest thing you'll find to the “rockstar programmer” cliché. When not immersing himself in various programming languages and working on tricky back-end problems, he can often be found shirtless in #{link_to 'Ding Dong Dang', 'http://www.au.timeout.com/sydney/bars/venues/2178/ding-dong-dang'} singing karaoke with his eyes closed.

  %p.contact
    = link_to '@whatupdave', '//twitter.com/whatupdave'
    = mail_to 'dave@minefold.com'

.founder.chris
  = image_tag 'chris-portrait.png', width: 48, height: 48
  %p <strong>Chris</strong> has always seen himself as a slashie. That's Designer / Developer, not the other way around. Chris is passionate about clean design, minimalism and hipster music.

  %p.contact
    = link_to '@chrislloyd', '//twitter.com/chrislloyd'
    = mail_to 'chris@minefold.com'


%h2 Logo

%ol
  %li= link_to 'Raster (PNG)', image_path('minefold-logo.png')
  %li= link_to 'Vector (EPS)', image_path('minefold-logo.eps')
