- title  'About Minefold'
- layout :page

.page-header
  %h1 About Minefold
  %h2 We make it easier to play games with your friends.


%p We love games so much it hurts. Having fun with your friends should be quick and easy. We found that it's too difficult to setup servers so we nerded out and made our own game server platform. Now, running a game server has never been simpler.

%p In December 2011, Minefold moved from Sydney to Mountain View to join the <a href="http://ycombinator.com">Y Combinator</a> Winter 2012 batch. We are now having a blast kicking ass in Hayes Valley, San Francisco.

%p For press enquiries please email #{mail_to 'press@minefold.com'}.

%hr.x-large

= image_tag 'about/office.jpg', width: 620, height: 134

%hr

.row
  .span6
    = image_tag 'about/a.jpg', width: 460, height: 345
    
    %hr
    
    <iframe width="460" height="345" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?hl=en&amp;q=270+Linden+St,+San+Francisco,+CA&amp;ie=UTF8&amp;output=embed"></iframe>
        
  .span2
    = image_tag 'about/b.jpg', width: 140, height: 105
    %hr.small
    = image_tag 'about/c.jpg', width: 140, height: 105
    %hr
    = image_tag 'about/d.jpg', width: 140, height: 105
    %hr
    = image_tag 'about/e.jpg', width: 140, height: 105