- title  'Contact'

- before do
  %nav.contact-page= render partial: 'pages/nav'

%p
  The best way to get in contact with us at Minefold is to end us an email at #{mail_to 'team@minefold.com'}. You can also email Dave or Chris directly at #{mail_to 'dave@minefold.com'} and #{mail_to 'chris@minefold.com'} respectively.

%p
  For bite sized status updates you can #{link_to 'follow us on Twitter', '//twitter.com/minefold'} or read about our adventures on #{link_to 'our blog', '//blog.minefold.com'}.

.address
  %h2 Address
  .location
    Minefold,
    %br
    Tamarama,
    %br
    NSW  2026,
    %br
    Australia

    %p.abn ABN: 37068433851

  %script{src: 'http://maps.googleapis.com/maps/api/js?sensor=false'}
  #map_canvas
  :coffeescript
    new google.maps.Map $('#map_canvas')[0],
      zoom: 14
      center: new google.maps.LatLng(-33.899692, 151.27062)
      mapTypeId: google.maps.MapTypeId.ROADMAP
      disableDefaultUI: true
