- title 'Get more credits'

- provide :hero_unit do
  %h1 Get more credits
  %p You currently have #{pluralize current_user.credits, 'credit', 'credits'}.


.bonus-list
  %a.bonus.row{href: pricing_page_path}
    .span1{data: {icon: 'c'}}
    .description.span5
      %h2.name Buy credit
      %p The fastest way to get lots of credits.
    .reward.span2
      .credits= pluralize @small_credit_pack.credits, 'credit', 'credits'
      .conditions credits or more

  - # False is an awesome feature flag
  - if false
    %a.bonus.row{href: '#'}
      .span1{data: {icon: '♥'}}
      .description.span5
        %h2.name Refer friends to Minefold
        %p Spread the love to your friends and family.
      .reward.span2
        .credits= pluralize Bonuses::ReferredFriend.credits, 'credit', 'credits'
        .conditions 240 credits per friend

  %a.bonus.bonus-mini.row{href: edit_user_registration_path(anchor: 'accounts')}
    .description.span5.offset1
      %h2.name Linking with Facebook
    .reward.span2
      .credits= pluralize Bonuses::LinkedFacebook.credits, 'credit', 'credits'

  %a.bonus.bonus-mini.row{href: edit_user_registration_path(anchor: 'accounts')}
    .description.span5.offset1
      %h2.name Linking with Minecraft
    .reward.span2
      .credits= pluralize Bonuses::LinkedMinecraft.credits, 'credit', 'credits'
