- title 'Get more coins'
- layout :referrals

- provide :hero_unit do
  %h1 Get more coins
  %p You currently have #{pluralize current_user.coins, 'coin', 'coins'}.


.bonus-list
  %a.bonus.row{href: pricing_page_path}
    .span1{data: {icon: 'c'}}
    .description.span5
      %h2.name Buy coin
      %p The fastest way to get lots of coins.
    .reward.span2
      .coins= pluralize @small_coin_pack.coins, 'coin', 'coins'
      .conditions or more

  %a.bonus.row{href: url_for(:controller => :invitations, :action => :show, id: current_user.invitation_token)}
    .span1{data: {icon: '♥'}}
    .description.span5
      %h2.name Refer friends to Minefold
      %p Spread the love to your friends and family.
    .reward.span2
      .coins= pluralize Bonuses::ReferredFriend.coin_limit, 'coin', 'coins'
      .conditions #{pluralize Bonuses::ReferredFriend.coins, 'coin', 'coins'} per friend

  %a.bonus.bonus-mini.row{href: edit_user_registration_path(anchor: 'accounts')}
    .description.span5.offset1
      %h2.name Linking with Facebook
    .reward.span2
      .coins= pluralize Bonuses::LinkedFacebook.coins, 'coin', 'coins'

  %a.bonus.bonus-mini.row{href: edit_user_registration_path(anchor: 'accounts')}
    .description.span5.offset1
      %h2.name Linking with Minecraft
    .reward.span2
      .coins= pluralize Bonuses::LinkedMinecraft.coins, 'coin', 'coins'
