- title  'Help'

- before do
  %nav.help-page= render partial: 'pages/nav'


%p.note
  If you are having problems that are not covered here, email
  = mail_to 'support@minefold.com'
  and we'll get back to you straight away.

%dl#faq
  %dt#username It keeps on saying the connection was terminated
  %dd
    Check that the username you've entered on Minefold is the same as the username you're using in Minecraft. If it's not you can change your username in the account tab.

  %dt#connecting How do I play in a world I've joined?
  %dd
    %p First make sure you have purchased and downloaded a copy of #{link_to 'Minecraft', '//minecraft.net'}.

    %p
      To connect to the world you have joined on the website, run Minecraft, select multiplayer and add the server with the address on the world page.
      - if signed_in?
        For you this will be <strong><code>#{current_user.host}</code></strong>.

    %p When you connect to this server you'll be connected to whatever world you have selected on the website.

    = image_tag 'help/join.png', width: '100%'

  %dt#howtoplay So I'm in the game, what do I do now?
  %dd
    Minecraft is all about exploration and creativity. We recommend you build a small house so you can survive your first night. There is a great #{link_to 'series of videos', '//minecraft.net/game/howtoplay'} on the Minecraft website.


  %dt#spawnprotection Blocks keep on reappearing
  %dd Make sure you aren't digging too close to where your player spawns. Minecraft makes sure this area doesn't get tampered with. Sometimes nasty people put lava where you spawn so you die as soon as you spawn.

  %dt#chunkerrors Big chunks of the world are missing
  %dd Chunk errors happen sometimes but you can still play the game if you just walk around them. To fix them you can try waiting it out or disconnecting and reconnecting. As a last resort you can try killing your player by pressing <code>T</code> and entering <code>/kill</code>. Be careful before you do this or obvious reasons!

