- title_and_masthead  'Help & FAQ'.html_safe
- track_pageview

= render partial: 'pages/nav'

-# TODO This: http://jsfiddle.net/ufewB

.row
  %article
    .note
      If you have any problems or questions that are not covered here, please email #{mail_to 'support@minefold.com'} and we'll get back to you straight away.

    %h3#minecraft Do I need a copy of Minecraft to play?
    %p Yes. You can buy a copy for €19.95 from #{link_to 'http://minecraft.net/store', 'http://minecraft.net/store'}.

    %h3#friends Do all my friends need to pay too?
    %p Yes. Minefold makes paying for multiplayer simpler as everybody only pays for what they <em>individually</em> play. If you rent a traditional server by the month you have to collect donations or shout all your friends. If you prepay for your own time, you don't have to pay for all the time that Frank spends playing in your world.

    %h3#connecting How do I play in a world?
    - if signed_in? and current_user.current_world
      %p To connect to #{link_to current_user.current_world.name, current_user.current_world} you need to open Minecraft, select “Multiplayer” and add a server with the address #{link_to current_user.host, "http://#{current_user.host}"} and the name “Minefold”.

    - else
      %p When you select a world to play in, you'll be given an address to connect to. Open Minecraft, select “Multiplayer” and add a server with that same address.

    %p You only need to do this once, even if you change the world you are playing in.

    %h3#avatar How do I change my avatar?
    %p You can change it at #{link_to 'http://minecraft.net/profile', 'http://minecraft.net/profile'}.

    %h3#firstnight So I'm in the game, what do I do now?
    %p Minecraft is all about exploration and creativity. You can do anything! It's a good idea to build a small house so that you can survive the first night. For more detailed help, there is a #{link_to 'series of videos', '//minecraft.net/game/howtoplay'} on the official Minecraft website.

    %h3#version What version of Minecraft are you using?
    %p We currently support Minecraft 1.1.0.

    %h3#updating What happens when a new version of Minecraft comes out?
    %p Minefold automatically updates to the latest version of Minecraft the next time your world is emptied.

    %h3#bukkit Can I run a Bukkit server?
    %p No. We do plan on supporting Bukkit, but for the moment we only support the offical Notchian server.

    %h3#spawnprotection Why do blocks keep reappearing?
    %p This happens if you dig too close to where you spawned. Minecraft does this to ensure the area doesn't get “griefed”. Sometimes people will do nasty things like placing a big lava pool there so other players die as soon as they join. Ouch!

    %h3#chunkerrors Big chunks of the world are missing
    %p Chunk errors can happen sometimes but they don't affect your world. You can simply walk around them and everything should be fine. You can try and fix them by either waiting it out or disconnecting and reconnecting to the world. You can also try killing your player by typing <code>t</code> and entering the <code>/kill</code> command. Only do this as a last resort!
