- title 'Simple game servers'
- layout :home

- provide :header do
  %h1 Minefold

= track 'Viewed homepage'
= track_landing_type 'home'
= track 'Viewed landing page', type: 'home'

.jumbotron
  .jumbotron-inner
    %h1 Simple game servers
    %h2 Available instantly. Free to start.

.game-library
  .container
    .row
      - @games.each do |game|
        - if game.published?
          %a.item.game.span2{href: game_path(game)}
            = image_tag "homepage_games/#{game.slug}.png"
            - if game.new?
              .label.label-success New!
            .name= game.name
        - else
          .item.game.coming-soon.span2
            = image_tag "homepage_games/#{game.slug}.png"
            .label Coming soon
            .name= game.name

%article.page.box
  %section.feature-list
    .row
      .feature.span4
        %h3 Fast setup
        %p It takes seconds to start playing with your friends. No tech mumbo-jumbo required: just pick your settings and go.

      .feature.span4
        %h3 Lag free
        %p Minefold uses cutting-edge cloud technology to give you the smoothest gaming experience possible.

      .feature.span4
        %h3 Instant community
        %p Every server gets its own site. Chat with your friends, browse interactive maps and even brag about your last win.

      .feature.span4
        %h3 Pay when you play
        %p You're only charged when you <em>actually</em> play. You can choose to split the cost or cover your friends too.

      .feature.span4
        %h3 Grief control
        %p Secure your server so that only your friends can play. Mess up? Rollback your server to an earlier backup.

      .feature.span4
        %h3 Friendly support
        %p We care deeply about your experience. Every employee at Minefold does support and we only hire lovely people!


  %section.call-to-action
    .row
      .span6.offset3
        %p
          Sign up now and play for #{Bonuses::GettingStarted.coins} minutes <strong>free</strong>!

        %a.btn.btn-large.btn-block.btn-success{href: new_user_registration_path}
          Sign up now!


  %section.press
    %p As seen on…

    .row
      %a.span2.offset3{href: 'http://techcrunch.com/2012/03/12/minefold-launch', title: 'Y Combinator-Backed Minefold Launches Affordable, On-Demand Platform For Game Hosting'}
        = image_tag 'techcrunch.png'

      %a.span2{href: 'http://kotaku.com/5846894/minefold-offers-hosted-minecraft-servers-for-you-and-your-friends', title: 'Minefold Offers Hosted Minecraft Servers for You and Your Friends'}
        = image_tag 'kotaku.png'

      %a.span2{href: 'http://www.gamasutra.com/view/news/165765/Minefold_launches_with_accessible_Minecraft_server_hosting.php', title: 'Minefold launches with accessible Minecraft server hosting'}
        = image_tag 'gamasutra.png'

