- title 'Simple Minecraft servers'
- layout :home
- track_pageview

- # A/B Testing with no B
- if false
  - content_for :pre do
    #paper

  - content_for :tail do
    %script{src: 'https://raw.github.com/DmitryBaranovskiy/raphael/master/raphael.js'}

    :javascript
      var paper, colors, makeYouRandy, circle, rect, zigzag, triangle, shapes;

      paper = Raphael($('#paper')[0]);

      colors = ['#F34', '#5C2', '#06C', '#FD0', '#CCC'];

      makeYouRandy = function(shape) {
        shape.translate(rand(paper.width - 100), rand(paper.height - 400));
        scale = Math.random();
        shape.scale(scale, scale);
        shape.rotate(rand(360));

        shape.attr({
          stroke: colors[rand(colors.length)],
          'stroke-width': 5+rand(10),
          opacity: Math.random() * 0.1
        });
      }


      // Shapes

      circle = function() {
        return paper.circle(50, 50, 50);
      }

      rect = function() {
        return paper.rect(0, 0, 50+rand(50), 100+rand(100));
      }

      zigzag = function() {
        return paper.path("M0,0 L100,100 L0,200 L100,300 L0,400");
      }

      triangle = function() {
        return paper.path("M0,0 L100,100 L0,200 Z");
      }

      shapes = [circle, rect, zigzag, triangle];

      for(var i = 0; i<(20 + rand(30)); i++) {
        var shape = shapes[rand(shapes.length)]();
        makeYouRandy(shape);
      }


.hero-unit
  %h1 Simple game servers.
  %h2 Available instantly. Free to get started.

%section.games-list
  - @featured_games.each do |game, servers_count|
    .game
      %h3= game.name
      %p= pluralize servers_count, 'server', 'servers'

  - @coming_soon_games.each do |game|
    .game.coming-soon
      %h3= game
      %p Coming soon!


%section.feature-list
  .row
    .feature.span4
      %h4 Fast setup
      %p It takes seconds to start a playing with your friends. No tech mumbo-jumbo required: just pick your settings and go.

    .feature.span4
      %h4 Lag free
      %p Minefold uses cutting-edge cloud technology to give you the smoothest gaming experience possible.

    .feature.span4
      %h4 Instant community
      %p Every server gets it's own site. Chat with your friends, browse interactive maps and even brag about your last win.

    .feature.span4
      %h4 Split costs
      %p Don't want to pay for a full server? Split the cost with shared servers: everybody pays as they play.

    .feature.span4
      %h4 Grief control
      %p Secure your server so that only your friends can play. Mess up? Rollback your server to an earlier backup.

    .feature.span4
      %h4 Friendly support
      %p We care deeply about your experience. Every employee at Minefold does support and we only hire lovely people!


%section.call-to-action
  .row
    .span6.offset3
      %p Sign up now and get <span class="cr">#{User::FREE_CREDITS}</span> for <strong>free</strong>!
      %a.btn.btn-super.btn-block.btn-success{href: new_user_registration_path}
        Sign up now!


%section.press
  %p We don't like to brag, but… everyone is talking about us:
  %hr

  .row
    %a.span2.offset3{href: 'http://techcrunch.com/2012/03/12/minefold-launch', title: 'Y Combinator-Backed Minefold Launches Affordable, On-Demand Platform For Game Hosting'}
      = image_tag 'techcrunch.png'

    %a.span2{href: 'http://kotaku.com/5846894/minefold-offers-hosted-minecraft-servers-for-you-and-your-friends', title: 'Minefold Offers Hosted Minecraft Servers for You and Your Friends'}
      = image_tag 'kotaku.png'

    %a.span2{href: 'http://www.gamasutra.com/view/news/165765/Minefold_launches_with_accessible_Minecraft_server_hosting.php', title: 'Minefold launches with accessible Minecraft server hosting'}
      = image_tag 'gamasutra.png'

