- title 'Simple Minecraft servers'
- layout :home
- track 'visited homepage'

.hero-unit
  %h1 Simple game servers.
  %h2 Available instantly. Free to get started.

#movie{width: 640, height: 360}

%section.games-list
  .row
    .span2
      %h3 Games
      
    - @featured_games.each do |game, servers_count|
      .game.span2
        = link_to game.name, game
        %i= pluralize servers_count, 'server', 'servers'
    
    - @coming_soon_games.each do |game|
      .game.coming-soon.span2
        = game
        %i Coming soon!


%section.feature-list
  .row
    .feature.span4
      %h4 Setup
      %p It takes seconds to start a game server for you and your friends. No technical mumbo-jumbo needed: just choose the settings you want and you're ready to play.
      
      %br
      
      = image_tag 'setup.png'
        
    .feature.span4
      %h4 Play
      %p Our servers are super fast. Using Minefold's proprietry networking software you'll never experience lag again.
      
      %br
      %br
      
      #map_canvas{style: 'width:300px;height:200px;'}
      - content_for :tail do
        = javascript_include_tag '//maps.google.com/maps/api/js?sensor=false'
        :javascript
          // EC2 location data from https://github.com/turnkeylinux/aws-datacenters/blob/master/input/datacenters
          var usEast1 = new google.maps.LatLng(38.13, -78.45),
              usWest1 = new google.maps.LatLng(41.48, -120.53),
              usWest2 = new google.maps.LatLng(46.15, -123.88),
              euWest1 = new google.maps.LatLng(53, -8),
              saEast1 = new google.maps.LatLng(-23.34, -46.38),
              apSoutheast1 = new google.maps.LatLng(1.37, 103.8),
              apNortheast1 = new google.maps.LatLng(35.41, 139.42);
              
          var datacentres = [usEast1, usWest1, usWest2, euWest1, saEast1, apSoutheast1, apNortheast1];
        
          var mapOptions = {
            center: new google.maps.LatLng(0,0),
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            zoom: 0,
            disableDefaultUi: true,
            zoomControl: false,
            mapTypeControl: false,
            streetViewControl: false
          };
          
          $(document).ready(function() {
            var map = new google.maps.Map(document.getElementById('map_canvas'),
                        mapOptions);
            
            for(var i=0, l=datacentres.length; i<l; ++i) {
              new google.maps.Marker({position: datacentres[i], map: map});
            }
          });

    
    .feature.span4
      %h4 Show off
      %p Once you've finished playing, you get maps, leaderboards and stats about your game.
      
      %br
      %br
      %br
      
      = image_tag 'show-off.jpg'

%section.press
  .row
    .span2
      %h3 Featured in
  
    %a.span2{href: 'http://kotaku.com/5846894/minefold-offers-hosted-minecraft-servers-for-you-and-your-friends', title: 'Minefold Offers Hosted Minecraft Servers for You and Your Friends'}
      = image_tag 'kotaku.png'
  
    .span2
      = image_tag 'ign.png'
  
    .span2
      = image_tag 'gamasutra.png'
  
    .span2
      = image_tag 'rps.png'
  
    .span2
      = image_tag 'techcrunch.png'


%section
  .row.call-to-action
    %center.span4.offset4
      %p Sign up for your free account now
      %a.btn.btn-large.btn-block.btn-success Sign up now
