- title 'Simple game servers'
- layout :home
:javascript
  analytics.track('Viewed homepage');

= landing_page :home

.jumbotron
  %h1 Simple game servers
  %h2 Available instantly. Free to start.

.container
  %section
    = render partial: 'funpacks/library', object: @funpacks

  %section.feature-list
    .row
      .feature.span4
        %h3 Fast setup
        %p It takes seconds to start playing with your friends. No tech mumbo-jumbo required: just pick your settings and go.

      .feature.span4
        %h3 Lag free
        %p Minefold uses cutting-edge cloud technology to give you the smoothest gaming experience possible.

      .feature.span4
        %h3 Instant community
        %p Every server gets its own site. Chat with your friends, browse interactive maps and even brag about your last win.

      .feature.span4
        %h3 Simple billing
        %p One plan lets you run servers for any game we support. Play Minecraft on Wednesday, Feed The Beast on Thursday and Team Fortress 2 on Friday night!

      .feature.span4
        %h3 Grief control
        %p Secure your server so that only your friends can play. Mess up? Rollback your server to an earlier backup.

      .feature.span4
        %h3 Friendly support
        %p We care deeply about your experience. Every employee at Minefold does support and we only hire lovely people!


  %section.call-to-action
    .row
      .span6.offset3
        %p
          Sign up now and play for #{Bonuses::GettingStarted.coins} minutes <strong>free</strong>!

        %a.btn.btn-large.btn-block.btn-success{href: new_user_registration_path}
          Sign up now!


  %section.press
    %p As seen on…

    .row
      %a.span2.offset3{href: 'http://techcrunch.com/2012/03/12/minefold-launch', title: 'Y Combinator-Backed Minefold Launches Affordable, On-Demand Platform For Game Hosting'}
        = image_tag 'techcrunch.png'

      %a.span2{href: 'http://kotaku.com/5846894/minefold-offers-hosted-minecraft-servers-for-you-and-your-friends', title: 'Minefold Offers Hosted Minecraft Servers for You and Your Friends'}
        = image_tag 'kotaku.png'

      %a.span2{href: 'http://www.gamasutra.com/view/news/165765/Minefold_launches_with_accessible_Minecraft_server_hosting.php', title: 'Minefold launches with accessible Minecraft server hosting'}
        = image_tag 'gamasutra.png'
