- title 'Simple Minecraft servers'
- layout :home

- track 'Viewed homepage'


- provide :hero_unit do
  #viewport
    #canvas
  %h1 Simple game servers.
  %h2 Available instantly. Free to get started.

- content_for :tail do
  /
    :javascript
      var drawPipe, grid, gridScaleX, gridScaleY, h, paper, start, w;

      paper = Raphael('canvas');

      gridScaleX = 20;
      gridScaleY = 12;

      drawPipe = function(pipe) {
        var path, pt;
        path = [];

        for (var i = 0; i < pipe.pts.length; i++) {
          pt = pipe.pts[i];
          path.push('L');
          path.push(pt.x * gridScaleX);
          path.push(pt.y * gridScaleY);
        }

        path[0] = 'M';

        paper.path(path).attr({
          stroke: 'white',
          'stroke-width': 6,
          opacity: 0.1
        });
      };

      w = Math.ceil(paper.width / gridScaleX);

      h = Math.ceil(paper.height / gridScaleY);

      grid = new PipesView.Grid(w, h);

      start = new PipesView.Pt(10, 0);
      pipe = new PipesView.Pipe(grid);
      pipe.add(start);

      pipe.build();

      drawPipe(pipe);


      // for (var i = 0; i < grid.width; i++) {
      //   start = new PipesView.Pt(i, 0);
      //   window.pipe = new PipesView.Pipe(grid);
      //   pipe.add(start);
      //   pipe.build();
      //   drawPipe(pipe);
      // }



%section.games-list
  - @featured_games.each do |game, servers_count|
    .game
      = image_tag 'homepage_games/minecraft.png', class: 'north-west-to-south-east'
      %h3= game.name
      %p= pluralize servers_count, 'server', 'servers'

  .game.coming-soon
    = image_tag "homepage_games/team-fortress.png", alt: 'Team Fortress', class: 'west-to-east'
    %h3 Team Fortress
    %p Coming soon!

  .game.coming-soon
    = image_tag "homepage_games/counter-strike.png", alt: 'Counter-Strike', class: 'north-west-to-south-east'
    %h3 Counter-Strike
    %p Coming soon!

  .game.coming-soon
    = image_tag "homepage_games/call-of-duty.png", alt: 'Call of Duty', class: 'north-west-to-south-east'
    %h3 Call of Duty
    %p Coming soon!

  .game.coming-soon
    = image_tag "homepage_games/battlefield.png", alt: 'Battlefield', class: 'north-west-to-south-east'
    %h3 Battlefield
    %p Coming soon!

  .game.coming-soon
    = image_tag "homepage_games/dayz.png", alt: 'DayZ', class: 'west-to-east'
    %h3 DayZ
    %p Coming soon!



%section.feature-list
  .row
    .feature.span4
      %h4 Fast setup
      %p It takes seconds to start a playing with your friends. No tech mumbo-jumbo required: just pick your settings and go.

    .feature.span4
      %h4 Lag free
      %p Minefold uses cutting-edge cloud technology to give you the smoothest gaming experience possible.

    .feature.span4
      %h4 Instant community
      %p Every server gets it's own site. Chat with your friends, browse interactive maps and even brag about your last win.

    .feature.span4
      %h4 Split costs
      %p Don't want to pay for a full server? Split the cost with shared servers: everybody pays as they play.

    .feature.span4
      %h4 Grief control
      %p Secure your server so that only your friends can play. Mess up? Rollback your server to an earlier backup.

    .feature.span4
      %h4 Friendly support
      %p We care deeply about your experience. Every employee at Minefold does support and we only hire lovely people!


%section.call-to-action
  .row
    .span6.offset3
      %p Sign up now and get <span class="cr">#{Bonuses::GettingStarted.credits}</span> for <strong>free</strong>!
      %a.btn.btn-super.btn-block.btn-success{href: new_user_registration_path}
        Sign up now!


%section.press
  %p As seen on…

  .row
    %a.span2.offset3{href: 'http://techcrunch.com/2012/03/12/minefold-launch', title: 'Y Combinator-Backed Minefold Launches Affordable, On-Demand Platform For Game Hosting'}
      = image_tag 'techcrunch.png'

    %a.span2{href: 'http://kotaku.com/5846894/minefold-offers-hosted-minecraft-servers-for-you-and-your-friends', title: 'Minefold Offers Hosted Minecraft Servers for You and Your Friends'}
      = image_tag 'kotaku.png'

    %a.span2{href: 'http://www.gamasutra.com/view/news/165765/Minefold_launches_with_accessible_Minecraft_server_hosting.php', title: 'Minefold launches with accessible Minecraft server hosting'}
      = image_tag 'gamasutra.png'

