- title 'Simple Minecraft servers'
- layout :home
- track_pageview

.hero-unit
  %h1 Simple game servers.
  %h2 Available instantly. Free to get started.

/ Commenting this out makes me sad panda
/ #movie{width: 640, height: 360}

%section.games-list
  .row
    .span2
      %h3 Games
      
    - @featured_games.each do |game, servers_count|
      .game.span2
        = game.name
        %i= pluralize servers_count, 'server', 'servers'
    
    - @coming_soon_games.each do |game|
      .game.coming-soon.span2
        = game
        %i Coming soon!


%section.feature-list
  .row
    .feature.span4
      %h4 Setup
      %p It takes seconds to start a game server for you and your friends. No technical mumbo-jumbo needed: just choose your settings and it's ready to go. If you want more control you can upload your own custom configuration.
      
      %br
      
      = image_tag 'setup.png'
        
    .feature.span4
      %h4 Play
      %p Our servers are custom built to deliver the smoothest gaming experience possible. Minefold seamlessly geolocates your server and dynamically manage it's resources. No more RAM, no more lag.
      
      %br
      
      #map_canvas{style: 'width:300px;height:200px;'}
      - content_for :tail do
        = javascript_include_tag '//maps.google.com/maps/api/js?sensor=false'
        :javascript
          // EC2 location data from https://github.com/turnkeylinux/aws-datacenters/blob/master/input/datacenters
          var usEast1 = new google.maps.LatLng(38.13, -78.45),
              usWest1 = new google.maps.LatLng(41.48, -120.53),
              usWest2 = new google.maps.LatLng(46.15, -123.88),
              euWest1 = new google.maps.LatLng(53, -8),
              saEast1 = new google.maps.LatLng(-23.34, -46.38),
              apSoutheast1 = new google.maps.LatLng(1.37, 103.8),
              apNortheast1 = new google.maps.LatLng(35.41, 139.42);
              
          var datacentres = [usEast1, usWest1, usWest2, euWest1, saEast1, apSoutheast1, apNortheast1];
        
          var mapOptions = {
            center: new google.maps.LatLng(0,0),
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            zoom: 0,
            disableDefaultUi: true,
            zoomControl: false,
            mapTypeControl: false,
            streetViewControl: false
          };
          
          $(document).ready(function() {
            var map = new google.maps.Map(document.getElementById('map_canvas'),
                        mapOptions);
            
            for(var i=0, l=datacentres.length; i<l; ++i) {
              new google.maps.Marker({position: datacentres[i], map: map});
            }
          });

    
    .feature.span4
      %h4 Show off
      %p Every one of your servers gets it's own community page. Chat with your friends, organize parties & discuss builds. For supported games you can browse georgous interactive maps, leaderboards and other stats.
      
      %br
      
      = image_tag 'show-off.jpg'

%section.press
  %center
    %h3 As featured in
    %br
    
  .row
    %a.span2.offset3{href: 'http://techcrunch.com/2012/03/12/minefold-launch', title: 'Y Combinator-Backed Minefold Launches Affordable, On-Demand Platform For Game Hosting'}
      = image_tag 'techcrunch.png'
  
    %a.span2{href: 'http://kotaku.com/5846894/minefold-offers-hosted-minecraft-servers-for-you-and-your-friends', title: 'Minefold Offers Hosted Minecraft Servers for You and Your Friends'}
      = image_tag 'kotaku.png'
  
    %a.span2{href: 'http://www.gamasutra.com/view/news/165765/Minefold_launches_with_accessible_Minecraft_server_hosting.php', title: 'Minefold launches with accessible Minecraft server hosting'}
      = image_tag 'gamasutra.png'


%section
  .row.call-to-action
    %center.span4.offset4
      %p Sign up for your free account now
      %a.btn.btn-large.btn-block.btn-success Sign up now
