- track 'visited homepage'
- masthead do
  %h1 Unlimited on-demand Minecraft servers
  %h2 with super simple setup.

  = link_to user_omniauth_authorize_path(:facebook), class: 'btn' do
    Sign in with Facebook now!
    %span 10 hours FREE per month

  = link_to 'Sign up without facebook', new_user_path


%ol.features
  %li.perspective

    %figure
      = link_to '/chrislloyd/minebnb' do
        = image_tag 'maps.png'

    %h2 A fresh perspective
    %p
      Every world you create (or upload) gets a beautiful, interactive map that helps you find your bearings.

  %li.pricing
    %figure
      = image_tag 'pricing-traditional.png'
      %figcaption Traditional Pricing

    %figure
      = image_tag 'pricing-minefold.png'
      %figcaption Minefold's Pricing

    %h2 Pay individually
    %p Instead of one person bearing the cost of a server, Minefold lets everybody join individually. Play for 10 hours a month <em>FREE</em> or upgrade to Minefold <span class="pro">Pro</span> for <em>unlimited</em> hours.

  %li.sharing
    %figure
      = image_tag 'share.png'

    %h2 Show off
    %p Minefold is the easiest way to display and share your builds. Anybody can explore your world's map and then “clone” it to have an instantly playable copy.


