- title 'Simple game servers'
- layout :home

- track 'Viewed homepage'


- provide :breakout do
  .hero-unit
    #viewport
      #canvas
    %h1 Simple game servers.
    %h2 Available instantly. Free to get started.

- content_for :tail do
  :javascript
    var paper, scaleX, scaleY, w, h, grid;

    paper = Raphael('canvas');

    scaleX = 20;
    scaleY = 12;

    w = Math.ceil(paper.width / scaleX);
    h = Math.ceil(paper.height / scaleY);

    grid = new Application.PipesView.Grid(w, h + 1, scaleX, scaleY);

    every(500, function() {
      var pt, pipe;

      pt = new Application.PipesView.Pt(rand(w), 0);

      if(grid.isFree(pt)) {
        pipe = new Application.PipesView.Pipe(grid, pt);
        pipe.draw(paper);
        pipe.grow();
      }
    });

#serverlist
  %h1 Popular Servers
  .pooter
    .row
      %center.span1 Rank
      .span2.offset6 Game
      %center.span1 Online

  - @servers.each_with_index do |server, i|
    %div[server]
      .row
        .score.span1= i + 1
        %a.span6{href: server_path(server)}
          %strong= server.name
          %small.server-address= server.address
        .span2{style: 'color:#999;font-size:14px;font-weight:400'}
          = server.game.name
          %br
          = %w(Survival Creative Adventure)[server.settings['game_mode'].to_i]
        %center.span1= server.count_online_players
        .span1
          - disabled = server.votes.where(ip: request.remote_ip).where('created_at > ?', 1.hour.ago).exists?
          = button_to 'Vote!', server_votes_path(server), method: 'post', class: %w(btn btn-small btn-primary btn-vote), data: {toggle: 'button'}, disabled: disabled

- content_for :tail do
  :javascript
    $('.server .btn-vote').click(function(e) {
      e.preventDefault();

      $(this).val('Voted!').attr('disabled', true);

      var form = $(this).parents('form');

      $.post(form.attr('action'));

    });


%a.announcement.section.christmas-gift{href: xmas_promo_path}
  Give someone Minefold this Christmas and you'll get an extra <strong>360 coins</strong> for free!

%section.games-list
  - @featured_games.each do |game, servers_count|
    .game
      = image_tag 'homepage_games/minecraft.png', class: 'north-west-to-south-east'
      %h3= game.name
      %p= pluralize servers_count, 'server', 'servers'

  .game.coming-soon
    = image_tag "homepage_games/team-fortress.png", alt: 'Team Fortress', class: 'west-to-east'
    %h3 Team Fortress
    %p Coming soon!

  .game.coming-soon
    = image_tag "homepage_games/counter-strike.png", alt: 'Counter-Strike', class: 'north-west-to-south-east'
    %h3 Counter-Strike
    %p Coming soon!

  .game.coming-soon
    = image_tag "homepage_games/call-of-duty.png", alt: 'Call of Duty', class: 'north-west-to-south-east'
    %h3 Call of Duty
    %p Coming soon!

  .game.coming-soon
    = image_tag "homepage_games/battlefield.png", alt: 'Battlefield', class: 'north-west-to-south-east'
    %h3 Battlefield
    %p Coming soon!

  .game.coming-soon
    = image_tag "homepage_games/dayz.png", alt: 'DayZ', class: 'west-to-east'
    %h3 DayZ
    %p Coming soon!



%section.feature-list
  .row
    .feature.span4
      %h4 Fast setup
      %p It takes seconds to start playing with your friends. No tech mumbo-jumbo required: just pick your settings and go.

    .feature.span4
      %h4 Lag free
      %p Minefold uses cutting-edge cloud technology to give you the smoothest gaming experience possible.

    .feature.span4
      %h4 Instant community
      %p Every server gets it's own site. Chat with your friends, browse interactive maps and even brag about your last win.

    .feature.span4
      %h4 Pay when you play
      %p You're only charged when you <em>actually</em> play. You can choose to split the cost or cover your friends too.

    .feature.span4
      %h4 Grief control
      %p Secure your server so that only your friends can play. Mess up? Rollback your server to an earlier backup.

    .feature.span4
      %h4 Friendly support
      %p We care deeply about your experience. Every employee at Minefold does support and we only hire lovely people!


%section.call-to-action
  .row
    .span6.offset3
      %p
        Sign up now and play for #{Bonuses::GettingStarted.coins} minutes <strong>free</strong>!

      %a.btn.btn-super.btn-block.btn-success{href: new_user_registration_path}
        Sign up now!


%section.press
  %p As seen on…

  .row
    %a.span2.offset3{href: 'http://techcrunch.com/2012/03/12/minefold-launch', title: 'Y Combinator-Backed Minefold Launches Affordable, On-Demand Platform For Game Hosting'}
      = image_tag 'techcrunch.png'

    %a.span2{href: 'http://kotaku.com/5846894/minefold-offers-hosted-minecraft-servers-for-you-and-your-friends', title: 'Minefold Offers Hosted Minecraft Servers for You and Your Friends'}
      = image_tag 'kotaku.png'

    %a.span2{href: 'http://www.gamasutra.com/view/news/165765/Minefold_launches_with_accessible_Minecraft_server_hosting.php', title: 'Minefold launches with accessible Minecraft server hosting'}
      = image_tag 'gamasutra.png'

