- title 'Plans'
- layout :plans
= track 'Viewed pricing'

- tradein_coins = 0
- current_discount = 0

- if signed_in?
  - if current_user.coins >= (40 * 60)
    - tradein_coins = current_user.coins
  - if subscription = current_user.subscription
    - current_discount = subscription.discount

- tradein = tradein_coins > 0
- tradein_discount = [5, tradein_coins / 40 / 60].min

.jumbotron
  %h1 Subscription Plans

.salotron
  %h2 SALE! $1.00 off until April 20th
  - if tradein
    %h3 Trade in your current Minefold time for a further $#{tradein_discount} discount

.container
  .row
    .offset2.span8
      %table.table
        %thead
          %tr
            %th{style: 'width: 33%'}
            %th{style: 'width: 33%'} Minecraft
            %th{style: 'width: 33%'} Team Fortress 2

        %tbody
          %tr
            %th Bronze
            %td 10 players
            %td 24 players

          %tr
            %th Silver
            %td 25 players
            %td 32 players

          %tr
            %th Gold
            %td 50 players
            %td

  .plan-list.row
    .info.span3
      .old-price Regular
      - if tradein
        .old-price Sale
        .price With trade in
      - else
        .price Sale

    - Plan.all.each_with_index do |plan, i|
      = form_tag subscriptions_path, method: 'POST', class: %w(coin-pack span3) do |f|
        %input{type: 'hidden', name: 'plan_id', value: plan.id}
        %input{type: 'hidden', name: 'stripeToken'}
        %input{type: 'hidden', name: 'last4'}
        %input{type: 'hidden', name: 'tradein' }

        .old-price= number_to_currency((plan.cents) / 100.0, precision: 2)
        - if tradein
          .old-price= number_to_currency((plan.discounted_cents(intro: true)) / 100.0, precision: 2)
          .price= number_to_currency((plan.discounted_cents(intro: true, tradein: tradein_coins)) / 100.0, precision: 2)
        - else
          .price= number_to_currency((plan.discounted_cents(intro: true, discount: current_discount)) / 100.0, precision: 2)


        - if signed_in?
          - current_plan = current_user.active_subscription? && current_user.subscription.plan
          - if plan != current_plan
            %a.btn.btn-block.btn-large.btn-stripe{href: '#', data: {id: plan.id, name: plan.name, amount: plan.cents, coins: tradein_coins, bolts: plan.bolts, image: image_path("coin_packs/#{i+1}.png")}}
              - if current_plan && plan.cents < current_plan.cents
                Downgrade to #{plan.name}
              - else
                Upgrade to #{plan.name}

            - if tradein
              %a.btn-block.btn-small.btn-stripe{href: '#', data: {id: plan.id, name: plan.name, amount: plan.cents, coins: 0, bolts: plan.bolts, image: image_path("coin_packs/#{i+1}.png")}}
                - if !current_plan || plan.cents < current_plan.cents
                  Upgrade to #{plan.name}
                with no trade in

          - else
            %p.btn.btn-block.btn-large Current Plan
        - else
          %a.btn.btn-block.btn-large{href: new_user_registration_path} Sign up now!

  %hr.small.hidden

  - content_for :tail do
    = javascript_include_tag "https://checkout.stripe.com/v2/checkout.js"
    :javascript
      $('.btn-stripe').click(function(){
        var $this = $(this),
            $form = $this.parents('form');

        var coins = $this.data('coins');
        var hours = Math.round(Number(coins/60));
        var discount = #{tradein_discount};

        if (coins > 0) {
          if (!confirm('Trade in ' + hours + ' hours for an additional $' + discount + ' discount?')) {
            return;
          }
        }

        var token = function(res) {
          $form.find('input[name=stripeToken]').val(res.id);
          $form.find('input[name=last4]').val(res.card.last4);
          $form.find('input[name=tradein]').val(coins > 0);
          $form.submit();
        }

        var amount = $this.data('amount');
        amount -= 100; // sale
        amount -= discount * 100;

        var description = $this.data('name') + " plan";
        if (hours > 0) {
          description += " with trade in of "+ hours+ " hours";
        }

        StripeCheckout.open({
          key: #{ENV["STRIPE_PUBLISHABLE"].to_json},
          amount: amount,
          name: 'Minefold',
          description: description,
          image: $this.data('image'),
          panelLabel: 'Subscribe',
          token: token
        });

        mixpanel.track('Clicked Stripe button', {
          'coin pack': $this.data('id')
        });

        return false;
      });

  %hr.large

  .testimonials
    %center
      %h3 Everybody loves us

    .row
      .span6
        .testimonial.row
          .span1
            = image_tag 'twavatars/technoweenie.jpeg', width: 60
          .span5
            %q{cite: 'https://twitter.com/technoweenie/status/139955603111018496'}
              “Really impressed with how easy
              = link_to '@minefold', 'https://twitter.com/minefold'
              is to play Minecraft with my son.”
            %cite
              %a{href: 'https://twitter.com/technoweenie'} Rick Olson

        .testimonial.row
          .span1
            = image_tag 'twavatars/Tracy_Young.jpeg', width: 60
          .span5
            %q{cite: 'https://twitter.com/Tracy_Young/status/267420189262499840'}
              “Thanks to the good folks at
              = link_to '@minefold', 'https://twitter.com/minefold'
              for making many Saturdays so deliciously pleasant with
              = link_to '@ralphleon', 'https://twitter.com/ralphleon'
              ”
            %cite
              %a{href: 'https://twitter.com/Tracy_Young'} Tracy Young

        .testimonial.row
          .span1
            = image_tag 'twavatars/EvilKimau.jpeg', width: 60
          .span5
            %q{cite: 'https://twitter.com/EvilKimau/status/264487886475370497'}
              “The #{link_to '@minefold', 'https://twitter.com/minefold'} guys gave some AMAZING support. Sent them a tracert which helped them find the problem. Highly recommend them!”
            %cite
              %a{href: 'https://twitter.com/EvilKimau'} Claire Blackshaw

        .testimonial.row
          .span1
            = image_tag 'twavatars/iWaffles.jpeg', width: 60
          .span5
            %q{cite: 'https://twitter.com/iWaffles/status/255770776291115008'}
              “#{link_to '@minefold', 'https://twitter.com/minefold'} Pretty neat service you guys have there. It's an awesome twist on server based gaming :)”
            %cite
              %a{href: 'https://twitter.com/iWaffles'} Matt Gardner


      .span6

        .testimonial.row
          .span1
            = image_tag 'twavatars/kevinelliott.jpeg', width: 60
          .span5
            %q{cite: 'https://twitter.com/kevinelliott/status/255585383906172928'}
              “#{link_to '@minefold', 'https://twitter.com/minefold'} Awesome service! How are you spawning MC servers? Virtual machines for each world? Pretty wild.”
            %cite
              %a{href: 'https://twitter.com/kevinelliott.jpeg'} Kevin Elliott

        .testimonial.row
          .span1
            = image_tag 'twavatars/abdelmaseh.png', width: 60
          .span5
            %q{cite: 'https://twitter.com/abdelmaseh/status/225323855806337024'}
              “For the record: the guys at #{link_to '@minefold', 'https://twitter.com/minefold'} are awesome.”
            %cite
              %a{href: 'https://twitter.com/abdelmaseh'} Aaron Abdelmaseh

        .testimonial.row
          .span1
            = image_tag 'twavatars/marcocarag.png', width: 60
          .span5
            %q{cite: 'https://twitter.com/marcocarag/status/211268520451911681'}
              “#{link_to '@minefold', 'https://twitter.com/minefold'} I really think your product is great. <a href="http://marcocarag.com/2012/06/08/minefold-for-casual-minecrafting">Thanks!</a>”
            %cite
              %a{href: 'https://twitter.com/marcocarag'} Marco Carag

        .testimonial.row
          .span1
            = image_tag 'twavatars/qrush.jpeg', width: 60
          .span5
            %q{cite: 'https://twitter.com/qrush/status/117244523083595776'}
              “Wow, pay by the hour Minecraft with chat, live maps, and more.”
            %cite
              %a{href: 'https://twitter.com/qrush/status/117244523083595776'} Nick Quaranto

  %center
    %a.btn.btn-small.btn-primary{href: 'https://twitter.com/minefold'} Spread the warm & fuzzies on Twitter too!
