- title 'Pricing'
- layout :pricing
= track 'Viewed pricing'

.jumbotron
  %h1 Pay when you play
  %h2 Your first #{pluralize Bonuses::GettingStarted.coins, 'minute', 'minutes'} are free.

.salotron
  %h2 SALE! 20% off until April 20th

.container
  .coin-pack-list.row
    - @packs.each_with_index do |pack, i|

      = form_tag orders_path, method: 'POST', class: %w(coin-pack span3) do |f|
        %input{type: 'hidden', name: 'coin_pack_id', value: pack.id}
        %input{type: 'hidden', name: 'stripeToken'}

        .price= number_to_currency(pack.cents / 100, precision: 0)
        .coins Play for #{number_with_delimiter(pack.shared_hours)} hours

        .nopa
          - if i != 0
            .savings
              You save
              - p = @packs.first
              #{number_to_percentage(100 * (1 - (pack.cents / pack.coins.to_f) / (p.cents / p.coins.to_f)), precision: 0)}!


        - if signed_in?
          %a.btn.btn-block.btn-large.btn-stripe{href: '#', data: {id: pack.id, amount: pack.cents, coins: pack.coins, image: image_path("coin_packs/#{i+1}.png")}} Buy #{time_left(pack.coins)}
        - else
          %a.btn.btn-block.btn-large{href: new_user_registration_path} Sign up now!

  %hr.small.hidden

  - content_for :tail do
    = javascript_include_tag "https://checkout.stripe.com/v2/checkout.js"
    :javascript
      $('.btn-stripe').click(function(){
        var $this = $(this),
            $form = $this.parents('form');

        var token = function(card) {
          $form.find('input[name=stripeToken]').val(card.id);
          $form.submit();
        }

        StripeCheckout.open({
          key: #{ENV["STRIPE_PUBLISHABLE"].to_json},
          amount: $this.data('amount'),
          name: 'Minefold',
          description: (formatNumber($this.data('coins')) + " minutes"),
          image: $this.data('image'),
          panelLabel: 'Pay',
          token: token
        });

        mixpanel.track('Clicked Stripe button', {
          'coin pack': $this.data('id')
        });

        return false;
      });

  %hr.large

  .row
    %center.q-and-a.span6.offset3
      %h3 Quick answers to common questions

      %h4#friends Can I pay for my friends?
      %p Yes! You can choose to pay for yourself or everybody who plays on your server.

      %h4 Will that be expensive if 100 people play on my server?
      %p No! When you pay for your friends, we cap the cost at <span class="highlight">10 people per minute</span>. If you have 100 people playing on your server it costs you the same as 10 people.

      %h4#slots How many people can play on my server?
      %p Unlimited. Minefold's custom built hosting platform dynamically allocates resources to servers. This means that they're lag-free no matter how many of your friends are playing.

  %hr.large

  .testimonials
    %center
      %h3 Everybody loves us

    .row
      .span6
        .testimonial.row
          .span1
            = image_tag 'twavatars/technoweenie.jpeg', width: 60
          .span5
            %q{cite: 'https://twitter.com/technoweenie/status/139955603111018496'}
              “Really impressed with how easy
              = link_to '@minefold', 'https://twitter.com/minefold'
              is to play Minecraft with my son.”
            %cite
              %a{href: 'https://twitter.com/technoweenie'} Rick Olson

        .testimonial.row
          .span1
            = image_tag 'twavatars/Tracy_Young.jpeg', width: 60
          .span5
            %q{cite: 'https://twitter.com/Tracy_Young/status/267420189262499840'}
              “Thanks to the good folks at
              = link_to '@minefold', 'https://twitter.com/minefold'
              for making many Saturdays so deliciously pleasant with
              = link_to '@ralphleon', 'https://twitter.com/ralphleon'
              ”
            %cite
              %a{href: 'https://twitter.com/Tracy_Young'} Tracy Young

        .testimonial.row
          .span1
            = image_tag 'twavatars/EvilKimau.jpeg', width: 60
          .span5
            %q{cite: 'https://twitter.com/EvilKimau/status/264487886475370497'}
              “The #{link_to '@minefold', 'https://twitter.com/minefold'} guys gave some AMAZING support. Sent them a tracert which helped them find the problem. Highly recommend them!”
            %cite
              %a{href: 'https://twitter.com/EvilKimau'} Claire Blackshaw

        .testimonial.row
          .span1
            = image_tag 'twavatars/iWaffles.jpeg', width: 60
          .span5
            %q{cite: 'https://twitter.com/iWaffles/status/255770776291115008'}
              “#{link_to '@minefold', 'https://twitter.com/minefold'} Pretty neat service you guys have there. It's an awesome twist on server based gaming :)”
            %cite
              %a{href: 'https://twitter.com/iWaffles'} Matt Gardner


      .span6

        .testimonial.row
          .span1
            = image_tag 'twavatars/kevinelliott.jpeg', width: 60
          .span5
            %q{cite: 'https://twitter.com/kevinelliott/status/255585383906172928'}
              “#{link_to '@minefold', 'https://twitter.com/minefold'} Awesome service! How are you spawning MC servers? Virtual machines for each world? Pretty wild.”
            %cite
              %a{href: 'https://twitter.com/kevinelliott.jpeg'} Kevin Elliott

        .testimonial.row
          .span1
            = image_tag 'twavatars/abdelmaseh.png', width: 60
          .span5
            %q{cite: 'https://twitter.com/abdelmaseh/status/225323855806337024'}
              “For the record: the guys at #{link_to '@minefold', 'https://twitter.com/minefold'} are awesome.”
            %cite
              %a{href: 'https://twitter.com/abdelmaseh'} Aaron Abdelmaseh

        .testimonial.row
          .span1
            = image_tag 'twavatars/marcocarag.png', width: 60
          .span5
            %q{cite: 'https://twitter.com/marcocarag/status/211268520451911681'}
              “#{link_to '@minefold', 'https://twitter.com/minefold'} I really think your product is great. <a href="http://marcocarag.com/2012/06/08/minefold-for-casual-minecrafting">Thanks!</a>”
            %cite
              %a{href: 'https://twitter.com/marcocarag'} Marco Carag

        .testimonial.row
          .span1
            = image_tag 'twavatars/qrush.jpeg', width: 60
          .span5
            %q{cite: 'https://twitter.com/qrush/status/117244523083595776'}
              “Wow, pay by the hour Minecraft with chat, live maps, and more.”
            %cite
              %a{href: 'https://twitter.com/qrush/status/117244523083595776'} Nick Quaranto

  %center
    %a.btn.btn-small.btn-primary{href: 'https://twitter.com/minefold'} Spread the warm & fuzzies on Twitter too!
