- title 'Pricing'
- layout :pricing
- track_pageview

.hero-unit
  %h1 Pricing
  %h2
    Buy credits to run your own #{link_to 'normal server', '#normal-servers'} or to play on #{link_to 'super servers', '#super-servers'}.

.credit-pack-display.row
  - @packs.each_with_index do |pack, i|
    .credit-pack.span3{class: ('best-value' if i == 3)}
      - case i
      - when 1
        .note Most popular
      - when 3
        .note Best value

      %h4.price= number_to_currency(pack.cents / 100)
      = credits_with_image pack.credits
      
      %p.rate #{number_to_currency(pack.cents_per_credit)} per 100 credits
      
      / TODO Rename this class, it sucks
      %p.equiv 
        %strong= pluralize pack.normal_hours, 'hr', 'hrs'
        running a normal server
        
      %p.equiv
        %strong= pluralize pack.super_hours, 'hr', 'hrs'
        playing on Super Servers


%hr


.row
  - 4.times do |i|
    %center.span3
      - if signed_in?
        - if i != 3
          %a.btn{href: new_orders_path, data: { toggle: 'modal', target: '#buy-credits-modal' }} Buy Credits
        - else
          %a.btn.btn-primary{href: new_orders_path, data: { toggle: 'modal', target: '#buy-credits-modal' }} Buy Credits

      - else
        - if i != 3
          = link_to 'Sign up now', new_user_registration_path, class: %w(btn)
        - else
          = link_to 'Sign up now', new_user_registration_path, class: %w(btn btn-primary)


%hr.x-large


.row
  .testimonials.span6.offset3
    %h3 Happy Campers

    .testimonial
      %q{cite: 'https://twitter.com/technoweenie/status/139955603111018496'}
        “Really impressed with how easy
        = link_to '@minefold', 'https://twitter.com/minefold'
        is to play Minecraft with my son.”
      %cite
        %a{href: 'https://twitter.com/technoweenie/status/139955603111018496'} Rick Olsen
  
    .testimonial
      %q{cite: 'https://twitter.com/qrush/status/117244523083595776'}
        “Wow, pay by the hour Minecraft with chat, live maps, and more.”
      %cite
        %a{href: 'https://twitter.com/qrush/status/117244523083595776'} Nick Quaranto

    .testimonial
      %q
        “I have only been playing for about 30 minutes, but I am loving it so far.”
      %cite Joshua Antonishen

    .testimonial
      %q
        “Thank you so much guys, you are so boss.”
      %cite Chris Elliott


%hr.x-large


%center.q-and-a.row
  .span6.offset3
    %h2 Questions you might have
  
    %h3#slots How many slots do your servers have?
    %p Unlimited. Your server will run on Minefold's custom build hosting platform. It dynamically allocates resources to servers depending on how much they require. If lots of people are playing or lag gets too high the platform will magically rebalance processess across our grid.
    
    %h3#super-servers What are super servers?
    %p Super servers are paid for by everybody who plays on them. Everybody who plays on a super server covers the cost of the server. They are great for small groups of friends and they are always up. At the moment only Minecraft supports super servers.

    %h3#normal-servers What are normal servers?
    %p Normal servers are similar to what you're used to with traditional hosting providers. One person pays for them and anybody can play. To help save the owner money, normal servers need to be started and stopped.
