- title 'Pricing'
- layout :pricing

.hero-unit
  %h1 Pricing
  %h2
    Buy credits to #{link_to 'run your own server', new_server_path} or to play on #{link_to 'Super Servers', '#'}.

.credit-pack-display.row
  - @packs.each_with_index do |pack, i|
    .credit-pack.span3{class: ('highlight' if i == 3)}
      - case i
      - when 1
        .note Most popular
      - when 3
        .note Best value

      %h4.price= number_to_currency(pack.cents / 100)
      = credits_with_image pack.credits
      
      %p.rate #{number_to_currency(pack.cents_per_credit)} per 100 credits
      
      / TODO Rename this class, it sucks
      %p.equiv 
        %strong= pluralize pack.normal_hours, 'hr', 'hrs'
        running a normal server
        
      %p.equiv
        %strong= pluralize pack.super_hours, 'hr', 'hrs'
        playing on Super Servers


%hr

.row
  - 4.times do |i|
    %center.span3
      - if i != 3
        %a.btn Sign up now
      - else
        %a.btn.btn-primary Sign up now

%hr.x-large

.row
  .span6
    %h3 Quick Questions
    %h4 How much RAM does my server have?
    %p Unlimited. Your server will run on Minefold's custom build hosting platform.
    
    %h4 What are super servers?
    %p Super servers are servers that are supported by everybody who play on it
  
  .testimonials.span6
    %h3 Happy Campers

    .testimonial
      %q{cite: 'https://twitter.com/technoweenie/status/139955603111018496'}
        Really impressed with how easy
        = link_to '@minefold', 'https://twitter.com/minefold'
        is to play Minecraft with my son.
      %cite
        %a{href: 'https://twitter.com/technoweenie/status/139955603111018496'} Rick Olsen
  
    .testimonial
      %q{cite: 'https://twitter.com/qrush/status/117244523083595776'}
        Wow, pay by the hour Minecraft with chat, live maps, and more.
      %cite
        %a{href: 'https://twitter.com/qrush/status/117244523083595776'} Nick Quaranto

    .testimonial
      %q
        I have only been playing for about 30 minutes, but I am loving it so far.
      %cite Joshua Antonishen

    .testimonial
      %q
        Thank you so much guys, you are so boss.
      %cite Chris Elliott
