- title  'Help Center'
- layout :support
:javascript
  analytics.track('Viewed help');

.page.typographic-page
  .page-header.center
    %h1 Help & Support

  .page-section#support-getting-started
    %h2 Getting Started

    .question
      %h3 Do you have to have Minecraft?
    .answer
      %p Yes, you need a paid copy of Minecraft for the PC or Mac before you can play on Minefold servers. You can buy it from #{link_to 'http://minecraft.net/store', 'http://minecraft.net/store'}.

    .question
      %h3 Do you have to pay for Minecraft?
    .answer
      %p Yes. You can't play multiplayer with the demo of Minecraft.

    .question
      %h3 “End of Stream” errors
    .answer
      %p There are a lots of causes of “end of stream” errors like running a modified client or a pre-release version of Minecraft. A good test is to see if you can connect to another (non-Minefold) server like <code>mc-lc.com</code>. If you can't then the problem is likely with your client. If you can connect to other servers please contact support.

  .page-section#support-servers
    %h2 Servers

    .question
      %h3 How do I upload a world to Minefold?
    .answer
      %p First create your server. On the settings page you will find instructions on how to upload your world.

    .question
      %h3 Where are our servers located?
    .answer
      %p Our servers are located in North Virginia. We've found this is the best location to provide the best service for the majority of our users. More locations are coming soon.

    .question
      %h3 Experiencing lag?
    .answer
      %p Please #{link_to 'contact support', '#contact'}. We hate lag and want to kill it.

  .page-section#support-billing
    %h2 Billing

    .question
      %h3 My child stole my coin card to pay for coins
    .answer
      %p Please #{link_to 'contact support', '#contact'}. You may be eligable for a refund.

    .question
      %h3 Do you accept PayPal?
    .answer
      %p No.

  .page-section#support-minecraft
    %h2 Minecraft

    .question
      %h3 Can I run a cracked / offline server?
    .answer
      %p No. Please support Mojang by #{link_to 'buying the full copy of Minecraft', 'http://minecraft.net/store'}.

    .question
      %h3 You've started playing, what happens now?
    .answer
      %p Minecraft is all about exploration and creativity. You can do anything! It's a good idea to build a small house so that you can survive the first night. For more detailed help, there is a #{link_to 'series of videos', '//minecraft.net/game/howtoplay'} on the official Minecraft website.

    .question
      %h3 Blocks keep reappearing / can't build around spawn
    .answer
      %p This happens if you dig too close to where you spawned. Minecraft does this to ensure the area doesn't get “griefed”. Sometimes people do nasty things like placing a big lava pool there so other players die as soon as they join. Ouch!

    .question
      %h3 Missing big chunks of the world
    .answer
      %p Chunk errors can happen sometimes but they don't affect your world. You can simply walk around them and everything should be fine. You can try and fix them by either waiting it out or disconnecting and reconnecting to the world. You can also try killing your player by typing <code>t</code> and entering the <code>/kill</code> command. Only do this as a last resort!

    .question
      %h3 What commands can you use in the game?
    .answer
      %p Minecraft Wiki has a <a href="http://www.minecraftwiki.net/wiki/SMP_Server_commands">comprehensive list</a> of all the commands you can use in the game.

    .question
      %h3 Changing the spawn point
    .answer
      %p Vanilla Minecraft lets you change the spawn point individually by crafting a bed and sleeping in it.

    .question
      %h3 My map hasn't updated
    .answer
      %p The maps can take a while to render, especially on large worlds. We run tens of thousands of servers so sometimes rendering a map can take up to two days. If your map still hasn't updated after two days, please contact support and include the name of your server.



  .page-header
    %h1 Need help with something else?

  .page-section.support-contacts-list
    .item
      %a.icon{href: 'https://twitter.com/minefold', title: 'Minefold on Twitter'}
        %img{src: 'https://twitter.com/images/resources/twitter-bird-white-on-blue.png', width: 60, height: 60}

      %p Get speedy answers by following and tweeting <a href="https://twitter.com/minefold" title="Minefold on Twitter">@minefold</a> on Twitter.

      %a.btn.btn-primary.twitter-mention-button{href: 'https://twitter.com/intent/tweet?screen_name=minefold', data: {lang: 'en'}, target: '_blank'} Tweet @minefold

    - if signed_in?
      .item.email
        %a.icon.large{href: '#', data: {icon: '&#xF152;'.html_safe}}

        %p
          For longer questions, please send an email to our friendly support team.
        = mail_to 'support@minefold.com', 'Email support', class: %(btn btn-danger)
