- title 'Get more time'
- layout :referrals

.hero-unit
  %h1 Get more server time
  %p You currently have #{time_left(current_user.coins)}.


.bonus-list
  %a.bonus{href: pricing_page_path}
    .row
      .description.span5
        %h3.name Buy time
        .muted They say time is money.
      .reward.span3
        %h3.coins= time_left @small_coin_pack.coins
        .conditions or more

  %a.bonus{href: url_for(:controller => :invitations, :action => :show, invitation_token: current_user.invitation_token)}
    .row
      .description.span5
        %h3.name Refer your friends to Minefold
        .muted Spread the love to your friends and family.

      .reward.span3
        %h3.coins= time_left Bonuses::ReferredFriend.coin_limit
        .conditions #{time_left Bonuses::ReferredFriend.coins} per friend


  %a.bonus.bonus-mini{href: edit_user_registration_path(anchor: 'accounts'), class: ('is-done' unless Bonuses::LinkedFacebookAccount.new(user: current_user).claimable?)}
    .row
      .description.span5
        %h4.name Link your Facebook account
      .reward.span2
        %h4.coins= time_left Bonuses::LinkedFacebookAccount.coins

  %a.bonus.bonus-mini{href: edit_user_registration_path(anchor: 'accounts'), class: ('is-done' unless Bonuses::LinkedMojangAccount.new(user: current_user).claimable?)}
    .row
      .description.span5
        %h4.name Link your Mojang account
      .reward.span2
        %h4.coins= time_left Bonuses::LinkedMojangAccount.coins
