- title 'Get more time'
- layout :referrals

.jumbotron
  %h1 Get more server time
  - if current_user.coins > 0
    %h2 You have #{prepaid_time_left(current_user.coins)} left.
  - if current_user.active_subscription?
    %h2 You are on the #{current_user.subscription.plan.name} plan.

.container
  .bonus-list
    %a.bonus{href: plans_page_path}
      .row
        .description.span5
          %h3.name Upgrade subscription

    %a.bonus{href: url_for(:controller => :invitations, :action => :show, invitation_token: current_user.invitation_token)}
      .row
        .description.span5
          %h3.name Refer your friends to Minefold
          .muted Spread the love to your friends and family.

        .reward.span3
          %h3.coins #{time_left Bonuses::ReferredFriend.coins} per friend


    %a.bonus.bonus-mini{href: edit_user_registration_path(anchor: 'accounts'), class: ('is-done' unless Bonuses::LinkedFacebookAccount.new(user: current_user).claimable?)}
      .row
        .description.span5
          %h4.name Link your Facebook account
        .reward.span2
          %h4.coins= time_left Bonuses::LinkedFacebookAccount.coins

    %a.bonus.bonus-mini{href: edit_user_registration_path(anchor: 'accounts'), class: ('is-done' unless Bonuses::LinkedMojangAccount.new(user: current_user).claimable?)}
      .row
        .description.span5
          %h4.name Link your Mojang account
        .reward.span2
          %h4.coins= time_left Bonuses::LinkedMojangAccount.coins

    .bonus.bonus-mini{class: ('is-done' if current_user.confirmed?)}
      .row
        .description.span5
          %h4.name Confirm your email address
        .reward.span2
          %h4.coins= time_left Bonuses::GettingStarted.coins
