- title "#{world.name} photos" do
  %h1= world.name

= render partial: 'worlds/header'

%aside
  - if can? :operate, world
    = link_to new_world_photo_path(world), class: 'btn' do
      Upload a new photo

%article
  - if world.photos.any?
    #photos
      - world.photos.each do |photo|
        %figure
          = link_to [world, photo] do
            = image_tag photo.file_url(:thumb), width: 120, height: 120

  - else
    .placeholder
      %p You can take screen shots in Minecraft by pressing <code>F2</code>.
