- title "Upload photo" do
  %h1 Upload a new photo
  = link_to world_photos_path(world) do
    &larr; Back to #{world.name}


%article
  = form_for photo, url: world_photos_path(world), method: :post, html: {multipart: true} do |f|
    %section
      = f.file_field :file

    %section
      = f.label :title
      = f.text_field :title

    %section
      = f.label :caption
      = f.text_area :caption, rows: 3

    .hint
      Your Minecraft screenshots are located at
      %code
        - case os
        - when :windows
          \%appdata%\.minecraft\screenshots
        - when :mac
          \~/Library/Application Support/minecraft/screenshots
        - when :linux
          \~/.minecraft/screenshots

    %section
      = f.submit 'Upload photo'

