- title 'Your invitation page'
- layout :invitations

.container
  .jumbotron
    %h1 Invite your friends!

    %p For every friend who joins Minefold, we'll give you #{pluralize Bonuses::ReferredFriend.coins, 'minute', 'minutes'} and your friend #{pluralize Bonuses::Referred.coins, 'minute', 'minutes'} bonus (up to a limit of #{pluralize Bonuses::ReferredFriend.coin_limit, 'minute', 'minutes'})!

  %center

    %p
      %a.btn.btn-info.btn-large.btn-twitter{href: "https://twitter.com/share?url=#{URI.encode(url_for(only_path: false))}", target: '_blank', data: {icon: 'T'}} Tweet on Twitter
      %a.btn.btn-primary.btn-large.btn-facebook#share-on-facebook-btn{style: 'margin-left:10px', data: {icon: 'F'}} Share on Facebook

    %p Emebed this code into your forum signature:

    %pre
      %code
        [url=#{url_for(only_path: false)}]Minefold: Simple game servers. Sign up now and get an extra #{pluralize Bonuses::Referred.coins, 'minute', 'minutes'}![/url]

    %p or share a link to this page with them:

    %pre
      %code= url_for(only_path: false)

  - content_for :tail do
    :javascript
      app.on('fb:init', function() {

        var obj = {
          method: 'feed',
          link: #{invitation_url(utm_source: 'fb').to_json},
          picture: "https:#{image_path('facebook_share.png')}",

          name: 'Minefold',
          caption: 'Simple Minecraft servers',
          description: "Available instantly, free to get started. Join me there and we'll both get an extra #{Bonuses::Referred.coins} minutes to play together!",
          ref: 'invitation'
        };

        function callback(response) {
          mixpanel.track('shared', {
            platform: 'facebook',
            url: window.location.href,
            'post id': response.post_id
          });
        }

        $('#share-on-facebook-btn').click(function() {
          FB.ui(obj, callback);
        });
      });
