- title game.name
- layout :game
- track 'Viewed landing page', type: 'game', game: game.slug
- track_landing_type 'game'

.container
  .page-header
    %h1= game.name

  %ul.breadcrumb
    %li
      %a{href: root_path} Home
      %span.divider /
    %li.active= game.name

  .row
    .span8
      = render partial: game.slug.gsub('-', '_')

    .span4
      - if game.url
        %a.btn.btn-large.btn-block.btn-primary{href: game.url, target: '_blank'}
          Get #{game.name}
        %hr

      %a.btn.btn-large.btn-block.btn-success{href: new_server_path(game: game.slug)}
        Start a #{game.name} server

      - if not signed_in?
        %br
        %center
          %p Servers are <strong>free</strong> for #{Bonuses::GettingStarted.coins} minutes.
          %p.muted Minefold's #{game.name} servers are blazingly fast to setup and are lag free. You'll be playing with your friends in minutes!

      - if @popular_funpacks.any?
        %hr
        %h3 Popular Funpacks
        %ul
          - @popular_funpacks.each do |funpack|
            %li
              %strong= link_to funpack.name, game_funpack_path(funpack.game, funpack)
              %p= markdown funpack.description

  %br
  %br
  %br

  %h2 Other games on Minefold
  %br
  .game-library.row
    - GAMES.each do |game|
      - if game.published?
        %a.span2.item{href: game_path(game)}
          = image_tag "homepage_games/#{game.slug}.png"
          - if game.new?
            .label.label-success New!
          .name= game.name
      - else
        .span2.item.coming-soon
          = image_tag "homepage_games/#{game.slug}.png"
          .label Coming soon
          .name= game.name
