- title game.name
- layout :game
- track 'Viewed landing page', type: 'game', game: game.slug
- track_landing_type 'game'

.container
  .page-header
    %h1= game.name

  %ul.breadcrumb
    %li
      %a{href: root_path} Home
      %span.divider /
    %li.active= game.name

  .row
    .span8
      = render partial: game.slug

    .span4
      - if game.url
        %a.btn.btn-large.btn-block.btn-primary{href: game.url, target: '_blank'}
          Get #{game.name}
        %hr

      %a.btn.btn-large.btn-block.btn-success{href: new_server_path(game: game.slug)}
        Start a #{game.name} server
      %br
      %center
        Servers are <strong>free</strong> for #{Bonuses::GettingStarted.coins} minutes.

      %hr

      %h3 Popular Funpacks

      %ul
        - game.funpacks.reject {|funpack| game.default_funpack == funpack }.each do |funpack|
          %li
            %strong= link_to funpack.name, game_funpack_path(funpack.game, funpack)
            %p= markdown funpack.description
