= render partial: 'worlds/header'

/ %article
/   - if can? :operate, world
/     #add-friend
/       %button
/         %span.icon
/         Add a friend
/
/       = form_tag world_members_path(world), method: :post do
/         = hidden_field_tag :id
/
/         %section.search
/           %span.avatar
/           %input{type: 'text'}
/
/         %section.hint
/           %p
/             %em ENTER
/             a friend's username
/           %p
/             or
/             %a.cancel{href: ''} cancel
/
/
/   %h2 Friends playing here
/   %ul.players
/     - # TODO Refactor
/     - sorted_memberships(world).each do |membership|
/       - user = membership.user
/       %li{ class: [world.players.include?(user) ? :online : :offline, membership.op? && :op]}= link_to user.username, user
/
/   - if can?(:operate, world) and world.membership_requests.any?
/     %h2 Pending Membership Requests
/     %ul.membership-requests
/       = render 'membership_request', collection: world.membership_requests
/
/   %p.social
/     %a.twitter-share-button{href: 'https://twitter.com/share', data: {text: "Play Minecraft with me in #{world.name} - #{world_url(world)}", url: world_url(world), count: 'horizontal', via: 'minefold'}} Tweet
/     %script{type: 'text/javascript', src: '//platform.twitter.com/widgets.js'}
/
/     %iframe.facebook-like-button{src: "//www.facebook.com/plugins/like.php?href=#{world_url(world)}&send=true&layout=button_count&show_faces=false&height=50&action=like&colorscheme=light&appId=#{ENV['FB_APP_ID'].to_i}", allowTransparency: true, scrolling: 'no', frameborder: 0}/