- title "#{world.name} members"
- masthead do
  %h1 #{world.name} members
  %p
    = link_to player_world_path(creator_player, world) do
      ← back to #{world.name}

- if can? :operate, world
  - if world.membership_requests.any?
    %h2 Pending Membership Requests
    %section.members
      %ul
        - world.membership_requests.each do |r|
          %li
            = link_to user_path(r.user) do
              = avatar_tag r.user, :medium, width: 40, height: 40
            .meta
              .username= r.user.username
              .actions
                = button_to 'Approve', approve_player_world_membership_request_path(creator_player, world, r), method: :put, class: 'approve'
                = button_to 'Ignore', player_world_membership_request_path(creator_player, world, r), method: :delete, class: 'ignore'

  %h2 Add a friend
  = form_tag player_world_players_path, method: :post, id: 'add-member' do
    = hidden_field_tag :id
    %fieldset.username
      = text_field_tag :username, nil, placeholder: 'notch'
      = image_tag 'spinner.gif', class: 'loading'

    %fieldset.submit
      = submit_tag 'Add member'

  - js do
    :javascript
      $(document).ready(function() {
        var addFriendView = new Mf.AddFriendView({
          searchPath: #{search_player_world_players_path(world.creator, world).to_json}
        });
        addFriendView.setElement($('form#add-member'));
        addFriendView.render();
      });

%section.members
  %ul
    - world.players.each do |p|
      %li
        = link_to player_path(p.slug), class: 'avatar' do
          = avatar_tag p, :medium, width: 40, height: 40
        .meta
          .username
            = p.username
            - if world.opped_players.include? p
              %em.highlight (op)
          Joined #{time_ago_in_words(p.created_at)} ago.
          - if p.played?
            Last played #{time_ago_in_words(p.last_connected_at)} ago.

          - if can?(:destroy, p)
            = link_to 'Remove', player_world_player_path(world.creator, world, m), method: :delete
