- title player.username

.page-header
  .row
    - if signed_in? && player == current_user.minecraft_player
      .pull-right
        = link_to 'Edit your profile', edit_user_path, class: %w(btn btn-primary)

    .span1
      = player_avatar_tag player, size: :large
    .span9
      %h1
        %span.username= player.username
        - if player.user && not player.user.full_name.blank?
          %span.fullname (#{player.user.full_name})

      %p
        Member since
        = player.created_at.strftime("%B %-d, %Y")

.row
  .span6
    %h3 Worlds

    - player.worlds.each do |world|
      = render partial: 'worlds/card_mini', locals: {world: world}

  .span6
    %h3 Bio

    = markdown player.user.bio
