<h4><%= link_to @user.username, user_url(@user, auth_token: @user.authentication_token) %></h4>
<p class="muted">User since <%=l @user.created_at %></p>
<% if @user.customer? %>
<p>
  <a href="https://manage.stripe.com/customers/<%= @user.customer_id %>">Stripe <%= @user.customer_id %></a>
</p>
<% end %>
<p>
<ul>
  <% AnalyticsProfile.new(@user).profile.each do |key, value| %>
  <li><%= key.to_s.titleize %>: <%= value %></li>
  <% end %>
</ul>
<ul>
  <% @user.created_servers.order(:name).each do |s| %>
  <li><%= link_to s.name, server_path(s) %> – <%= link_to 'Download', party_cloud_world_download_url(s)%></li>
  <% end %>
</ul>
</p>
