- title "#{photo.title} by #{photo.creator.username}"
- head do
  %link{rel: 'alternate', type: 'application/json+oembed', href: oembed_url(url: photo_url(photo), format: :json), title: photo.title}

.row
  %article
    .file= image_tag photo.file.large.url, alt: photo.title

    - if photo.title?
      %h1= photo.title
    - if photo.desc?
      %p= photo.desc

    #disqus_thread
    - if Rails.env.development?
      :javascript
        var window.discus_developer = 1;

    :javascript
      var disqus_shortname = 'minefold',
          disqus_identifier = #{['photos', photo.id.to_s].join('/').to_json};

      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

  %aside
    %section.creator
      .avatar= image_tag photo.creator.avatar.small.url, width: 20, height: 20
      .username
        By
        = link_to_user photo.creator

    %section.album
      - if photo.first?
        .photo.previous.empty
          first photo
      - else
        .photo.previous
          = link_to photo_path(photo.previous) do
            = image_tag photo.previous.file.small.url, width: 60, height: 60

      .photo.current
        = link_to photo_path(photo) do
          = image_tag photo.file.small.url, width: 60, height: 60

      - if photo.last?
        .photo.next.empty
          newest photo
      - else
        .photo.next
          = link_to photo_path(photo.next) do
            = image_tag photo.next.file.small.url, width: 60, height: 60

    %section.created-at
      Posted #{time_ago_in_words photo.created_at} ago

    %section.social
      - # %script{type: 'text/javascript', src: '//www.reddit.com/static/button/button1.js'}

      = link_to 'Tweet', '//twitter.com/share', class: 'twitter-share-button', data: {url: url_for(only_path: false), text:  photo.title, via: 'minefold'}
      :javascript
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");


      .fb-like{data: {href: url_for(only_path: false), layout: 'button_count', send: false, width: 220, show_faces: true}}
