- title "#{photo.title} by #{photo.creator.username}"
- head do
  %link{rel: 'alternate', type: 'application/json+oembed', href: oembed_url(url: photo_url(photo), format: :json), title: photo.title}

.photo
  .body= image_tag photo.file.large.url

  %aside
    .user
      .avatar= image_tag photo.creator.avatar.small.url, width: 20, height: 20
      .username
        By
        = link_to photo.creator.username, user_path(photo.creator)

    .time-and-place
      This photo was taken #{time_ago_in_words photo.created_at} ago
      - if photo.world
        in #{link_to world_fullname(photo.world), user_world_path(photo.world.creator, photo.world)}
      \.

    .social
      %script{type: 'text/javascript', src: 'http://www.reddit.com/static/button/button3.js'}

- if photo.title?
  %h1= photo.title
