<div class="funpack-picker">
  <% picker.each do |funpack| %>
    <a class="item funpack" data-id="<%= funpack.id %>" data-name="<%= funpack.name %>" data-slug="<% funpack.slug %>">
      <div class="image">
        <%= image_tag funpack_image_path(funpack) %>
      </div>

      <div class="name">
        <%= funpack.name %>
      </div>

      <div class="card">
        <div class="description">
          <%= funpack.description %>
        </div>

        <div class="tick huge" data-icon="&#xF164;"></div>
      </div>
    </a>
  <% end %>
</div>
