<div class="funpack-picker">
  <% picker.each do |funpack| %>
    <div class="item funpack" data-id="<%= funpack.id %>" data-name="<%= funpack.name %>" data-slug="<% funpack.slug %>">
      <div class="image">
        <%= image_tag funpack_image_path(funpack) %>
      </div>

      <div class="main">
        <div class="name">
          <%= funpack.name %>
        </div>

        <div class="description">
          <%= markdown funpack.description %>
        </div>
      </div>
    </div>
  <% end %>
</div>
