- title funpack.name

= track_landing_type 'funpack'
= track 'Viewed landing page', type: 'funpack', funpack: funpack.slug

.container
  .page-header
    %h1= funpack.name

  %ul.breadcrumb
    %li
      = link_to 'Home', root_path
      %span.divider /

    %li.active= link_to funpack.name, funpack_path(funpack)

  .row
    .span8
      = render partial: funpack_public_template(funpack)

    - if signed_in?
      .span4
        %a.btn.btn-large.btn-block.btn-success{href: new_server_path(funpack: funpack.slug)}
          Start a #{funpack.name} server

    - if not signed_in?
      .span4
        %a.btn.btn-large.btn-block.btn-success{href: new_user_registration_path(funpack: funpack.slug)}
          Start a #{funpack.name} server

        %p
          %center
            Sign up now and play for #{Bonuses::GettingStarted.coins} minutes <strong>free</strong>!
