- title funpack.name

= track_landing_type 'funpack'
= track 'Viewed landing page', type: 'funpack', funpack: funpack.slug

.container
  .page-header
    %h1= funpack.name

  %ul.breadcrumb
    %li
      = link_to 'Home', root_path
      %span.divider /

    %li.active= link_to funpack.name, funpack_path(funpack)

  .row
    .span8
      = render partial: funpack_public_template(funpack)

    .span4
      - if signed_in?
        %a.btn.btn-large.btn-block.btn-success{href: new_server_path(funpack: funpack.slug)}
          Start a #{funpack.name} server
      - else
        %a.btn.btn-large.btn-block.btn-success{href: new_user_registration_path(funpack: funpack.slug)}
          Start a #{funpack.name} server

        %p
          %center
            Sign up now and play for #{Bonuses::GettingStarted.coins} minutes <strong>free</strong>!

      %br

      .creator
        This funpack is managed by
        .image.pull-left
          = image_tag funpack.creator.avatar.large.url, width: 40, height: 40, alt: funpack.creator.username
        = link_to funpack.creator.username, user_path(funpack.creator)

