- title  'Upload a world'

- after do
  = image_tag 'help/upload-goto.png'
  = image_tag 'help/upload-compress.png'

%p
  If you've been playing single player you can upload your world to Minefold. You need to follow the following instructions carefully so that you send us the right data.

%h2 Instructions

%ol.instructions
  %li
    %p Go to
    %pre
      %code ~/Library/Application Support/minecraft/saves
    %p.hint
      You can get there quicker in Finder by either pressing <code>CMD⌘+SHIFT+g</code> or by selecting "Go" and "Go to folder" in the menu.

  %li
    You should see all your Minecraft worlds here. Select the folder of the world you want to upload right mouse button click and select "Compress".

  %li Click the button below and select that <code>.zip</code> file.




= form_for :world_upload do |f|

  = f.file_field :path

  .progress{hidden}
    .bar
  .status{hidden}

  %p.processing{hidden}
    %strong Processing world
    This may take a few minutes depending on the size of your world.

  %p.error{hidden}
    %strong Error:
    %span.message


  %p.note{hidden}
    Make sure you've followed the instructions to the tee. If you <em>still</em> continue to have problems, email your world as an attachment to #{mail_to 'support@minefold.com'}.

= javascript_include_tag '//ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js'
= javascript_include_tag '//d3ds63zw57jt09.cloudfront.net/1.7/pusher.min.js'

:coffeescript
  pusher = new Pusher(#{Pusher.key.to_json}, encrypted: true)
  maxFileSize = 1 * 1024 * 1024 * 1024 # 1Gb

  status = $('form .status')
  processing = $('form .processing')

  $('form').s3upload
    prefix: '#{Time.now.strftime('%Y%m%d%H%M%S')}-#{current_user.safe_username}-#{current_user.id}-'
    text: 'Upload your world'
    signature_url: #{policy_upload_path(forma: :xml).to_json}
    required: true
    submit_on_all_complete: false
    onselect: (info, swf) ->
      if parseInt(info.size) < maxFileSize
        swf.upload()
        $('#world_upload_path').val('Uploading '+info.name)
        return false

    onstart: ->
      $('.error').hide()
      $('.progress').show()
      status.show()

    onprogress: (progress, info) ->
      $('form .progress .bar').css width: (progress * 100) + '%'
      status.text(Math.ceil( progress * 100 ) + '%')
      false

    onerror: (msg) ->
      status.addClass('error').text(msg)

    oncomplete: (info) ->
      $('.progress').add($('.status')).slideUp()
      processing.show()

      $.ajax
        type: 'POST'
        url: '#{upload_path}'
        data: info
        dataType: 'json'
        success: (data) ->
          channel = pusher.subscribe 'ImportWorldJob-' + data.world_upload_id

          channel.bind 'success', (data) ->
            window.location = data.world.url

          channel.bind 'error', (message) ->
            $('.progress').hide()
            processing.hide()
            $('#world_upload_path').val('Upload your world')
            $('.error .message').text(message)
            $('.error').show()
            $('.note').show()
