!!!
%html{'xmlns:og' => 'http://ogp.me/ns#', id: page_css_selector}
  %head
    %meta{charset: 'utf-8'}
    = stylesheet_link_tag 'application'

    %title
      - if content_for? :title
        = content_for(:title)
        —
      Minefold

    /
      \
      \ /'\_/`\  __                  /'___\     /\_ \     /\ \
      \/\      \/\_\    ___      __ /\ \__/  ___\//\ \    \_\ \
      \\ \ \__\ \/\ \ /' _ `\  /'__`\ \ ,__\/ __`\\ \ \   /'_` \
      \ \ \ \_/\ \ \ \/\ \/\ \/\  __/\ \ \_/\ \L\ \\_\ \_/\ \L\ \
      \  \ \_\\ \_\ \_\ \_\ \_\ \____\\ \_\\ \____//\____\ \___,_\
      \   \/_/ \/_/\/_/\/_/\/_/\/____/ \/_/ \/___/ \/____/\/__,_ /

    %meta{name:'description', content:'Play Minecraft on demand with friends.'}
    %meta{name:'keywords', content:%w(gaming games game minecraft server hosting multiplayer).join(',')}
    = favicon_link_tag

    %meta{'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge,chrome=1'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
    %meta{property: 'og:site_name', content: 'Minefold'}
    %meta{property: 'fb:app_id', content: ENV['FB_APP_ID']}
    = csrf_meta_tags

    = render partial: 'shared/exceptional'


    = javascript_include_tag '//d3ds63zw57jt09.cloudfront.net/1.10/pusher.min.js'
    = javascript_include_tag '//maps.google.com/maps/api/js?sensor=false'
    = javascript_include_tag 'application'

    /[if lt IE 9]
      = javascript_include_tag '//html5shim.googlecode.com/svn/trunk/html5.js'

    = javascript_include_tag "//use.typekit.com/#{ENV['TYPEKIT_ID']}.js"
    :javascript
      try{Typekit.load();}catch(e){}

    = render partial: 'shared/mixpanel'

    = yield :head

  %body{lang: 'en'}

    #backside
      .map
      .overlay

    %header
      .wrapper
        %h1
          = link_to root_url do
            Minefold
            %em Beta

        %ol#nav
          - if not user_signed_in?
            %li.pricing= link_to 'Pricing', pricing_page_path
            %li.feedback= link_to 'Help', 'http://getsatisfaction.com/minefold'
            %li.blog= link_to 'Blog', 'http://blog.minefold.com'

            %li.signin= link_to 'Sign In', new_user_session_path
            %li.signup= link_to 'Sign Up', new_user_path

          - else
            %li.dashboard= link_to 'Dashboard', user_root_path
            %li.blog= link_to 'Blog', 'http://blog.minefold.com'
            %li.feedback= link_to 'Feedback', 'http://getsatisfaction.com/minefold'

            %li.user
              = link_to current_user do
                = avatar_tag(current_user, 20)

              %ol
                %li.profile= link_to 'Profile', current_user
                %li.settings= link_to 'Settings', account_path
                %li.sign-out= link_to 'Signout', destroy_user_session_path, method: :delete


              %li.buy= link_to 'Buy time', time_account_path
              %li.time
                .hours #{current_user.hours_left}h left

        :javascript
          var userMenuView = new Mf.UserMenuView({el: $('header #nav .user')});

    - if not flash.empty?
      #flash
        - flash.each do |type, message|
          %div.message{class: type}
            %a.hide{href: '#'} Hide
            = simple_format(message)

      :javascript
        // Manual hide
        $('#flash a.hide').click(function() { $(this).parent().hide(); });

        // Staggers multiple messages from hiding.
        var t = 2000;

        // Timeout hide
        $('#flash .message').each(function(i){
          var elm = $(this);
          // Counts the number of words in the message, giving 600ms to read each word.
          t += (elm.text().split(/\s+/).length * 600) + (i * 300);
          delay(t, function(){ elm.slideUp(); });
        });

    = yield :masthead

    = yield

    %footer
      %ul
        %li.about= link_to 'About', about_page_path
        %li.help= link_to 'Help & FAQ', help_page_path
        %li.blog= link_to 'Blog', 'http://blog.minefold.com'
        %li.feedback= link_to 'Feedback', 'http://getsatisfaction.com/minefold'
        -# %li.press= link_to 'Press', press_page_path
        -# %li.jobs= link_to 'Jobs', jobs_page_path

        %li.twitter= link_to 'Follow us on Twitter', 'https://twitter.com/minefold'

      %p.fineprint
        #{link_to 'Privacy', privacy_page_path} &amp; #{link_to 'Terms', terms_page_path}.

    - if Rails.env.production?
      = render partial: 'shared/analytics'
