!!!
%html{page_attributes}
  %head
    = render partial: 'shared/head'

  %body
    #backside= yield :backside
    = render partial: 'shared/header'
    = render partial: 'shared/flash_messages'

    #masthead
      .container= yield :masthead

    #page
      .container= yield

    = render partial: 'shared/footer'
