!!!
%html{lang: 'en', dir: 'ltr'}
  %head{prefix: fb_head_prefix}
    %meta{charset: 'utf-8'}
    = stylesheet_link_tag 'application', media: 'all'

    %title
      - if content_for?(:title)
        = yield :title
      - else
        Minefold

    %meta{name: 'author', content: 'Mütli Corp <http://mutlicorp.com>'}
    %meta{name: 'description', content: 'Simple game servers on demand.'}

    - case Rails.env
    - when 'production'
      = favicon_link_tag 'favicon.ico'
    - when 'staging'
      = favicon_link_tag 'favicon-staging.ico'
    - else
      = favicon_link_tag 'favicon-development.ico'

    %link{title: 'channel-url', href: facebook_channel_url(protocol: '//'), type: 'text/html'}
    %meta{property: 'fb:app_id', content: ENV['FACEBOOK_KEY']}
    = yield :open_graph

    - [144, 114, 72, 57].each do |size|
      = favicon_link_tag "apple-touch-icon-#{size}-precomposed.png", rel: 'apple-touch-icon-precomposed', sizes: "#{size}x#{size}", type: 'image/png'

    /[if lt IE 9]
      %script{src: '//html5shim.googlecode.com/svn/trunk/html5.js'}
    %meta{'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge,chrome=1'}

    = csrf_meta_tags

    %script{src: '//d2wy8f7a9ursnm.cloudfront.net/bugsnag-1.0.6.min.js',  data: {apikey: '3e70e9ec8cbba1a9eeb8b8fc83251a6f'}}
    %script{src: ENV['ABBA_URL'] }

    // Mixpanel
    = render partial: 'shared/mixpanel'

    // Typekit
    %script{type: 'text/javascript', src: '//use.typekit.net/qzl8aqw.js'}
    :javascript
      try{Typekit.load();}catch(e){}

    = yield :head

    = render partial: 'shared/pusher'
    = render partial: 'shared/stripe'
    = render partial: 'shared/intercom'
    = javascript_include_tag 'application'

    - if signed_in?
      :javascript
        window.app.setCurrentUser(#{current_user.to_json});

    = render partial: 'shared/facebook'


  %body{class: @layouts}
    #fb-root
    #Intercom

    .navbar
      .navbar-inner
        %h1.brand= link_to 'Minefold', root_path
        %nav= render partial: 'shared/nav'

    - flash.select {|key,_| [:error, :notice, :success].include? key }.each do |name, msg|
      %div.alert.alert-block{class: "alert-#{name}"}
        %a.close{data: {dismiss: 'alert'}} &#215;
        %div{:id => "flash_#{name}"}= msg

    #app= yield

    %footer
      %ul.unstyled.pull-left
        %li= link_to 'Pricing', plans_page_path
        %li= link_to 'Support', support_page_path
        %li= link_to 'About', about_page_path
        %li= link_to 'Servers', list_servers_path
        %li= link_to 'Developers', developers_page_path
        %li= link_to 'Blog', 'http://blog.minefold.com'

      %ul.social.unstyled.pull-right
        %li.twitter= link_to 'Twitter', 'https://twitter.com/minefold'
        %li.facebook= link_to 'Facebook', 'https://facebook.com/minefold'

      %p.copyright
        &copy;
        %a{href: 'http://mutlicorp.com'} Mütli Corp.

        Made for fun in San Francisco. #{link_to 'Privacy', privacy_page_path} & #{link_to 'Terms', terms_page_path}.

      .mixpanel-badge
        %a{href: 'https://mixpanel.com/f/partner'}
          %img{src: '//cdn.mxpnl.com/site_media/images/partner/badge_light.png', alt: 'Mobile Analytics'}


    - # --

    = yield :tail

    - if flash[:signed_up]
      = render partial: 'users/signed_up'

    - if flash[:signed_in]
      = render partial: 'users/signed_in'

    - if flash[:abba_group]
      :javascript
        Abba('Sign up url').start('#{flash[:abba_group]}')

    - # Analytics
    - if Rails.env.production?
      = render partial: 'shared/gauges'
      = render partial: 'shared/google_analytics'
      = render partial: 'shared/perfect_audience'
    = render partial: 'shared/customer_io'
