!!!
%html{page_attributes}
  %head
    = render partial: 'shared/head'

  %body
    <div id="fb-root"></div>
    :javascript
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=#{ENV['FB_APP_ID']}";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    #backside= yield :backside
    = render partial: 'shared/header'
    = render partial: 'shared/flash_messages'

    #masthead
      .container= yield :masthead

    #page
      .container= yield

    = render partial: 'shared/footer'

    - if signed_in?
      :coffeescript
        mpq.identify #{current_user.mpid.to_json}
        mpq.name_tag #{current_user.email.to_s.to_json}

    - else
      :coffeescript
        mpid = $.cookie('mpid')
        if not mpid?
          mpid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace /[xy]/g, (c) ->
            r = Math.random()*16|0
            v = if c == 'x' then r else (r&0x3|0x8)
            v.toString(16)

          $.cookie('mpid', mpid, expires: 365)

        mpq.identify(mpid)

    - if params[:ref]
      :javascript
        mpq.register_once({ref: #{params[:ref].to_json}}, "all", "False", 365);
