!!!
%html
  %head
    %meta{charset: 'utf-8'}
    %meta{'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge,chrome=1'}

    %title Minefold
    = csrf_meta_tags

    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}

    = render partial: 'shared/typekit'
    = stylesheet_link_tag 'application'
    = favicon_link_tag

    = javascript_include_tag 'application'

    /[if lt IE 9]
      = javascript_include_tag '//html5shim.googlecode.com/svn/trunk/html5.js'


    %meta{name:'description', content:'Social Minecraft. Play with friends in the clouds.'}
    %meta{name:'keywords', content:%w(gaming games game minecraft server hosting multiplayer).join(',')}

  %body{lang: 'en', id: page_css_selector}
    %header
      .wrapper
        %h1
          = link_to root_url do
            Minefold
        %aside
          = render partial: 'shared/nav'

    %section#masthead
      .wrapper= yield :masthead

    %section#content
      .wrapper
        #before-page= yield :before
        #page= yield
        #after-page= yield :after

    %footer
      .wrapper
        %ul
          %li
            %a{href: '//flickr.com/photos/toolmantim/3451060043/'} Made in Sydney, Australia

          .spaceball

          %li= link_to 'About', about_page_path

          .spaceball

          %li= link_to 'Contact', contact_page_path

          - #.spaceball

          - #%li= link_to 'Jobs', jobs_path

          .spaceball

          %li= link_to 'Help', help_page_path

          - #.spaceball

          - #%li= link_to 'Contact', contact_path

          - #.spaceball

          - #%li= link_to 'Referrals', new_referral_path

          .spaceball

          %li.facebook
            %a{href: '//facebook.com/pages/Minefold/212665678793611'} Become a fan

          .spaceball

          %li.twitter
            %a{href: '//twitter.com/minefold'} Follow us


        %p.fineprint
          &copy; #{Time.now.year} Minefold.
          #{link_to 'Privacy', privacy_page_path}, #{link_to 'Terms', terms_page_path}.

    - if Rails.env.production?
      = render partial: 'shared/analytics'
