!!!
%html
  %head
    %meta{charset: 'utf-8'}
    %title Minefold
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Paytone+One:regular&v1'
    = stylesheet_link_tag    'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body{page_css_selector}
    %header
      .cramp
        %h1
          %a{href: root_url} Minefold
        %h2 Social crafting

    .notice= notice
    .alert= alert

    #content
      = yield

    %footer
      %strong
        &copy; #{Time.now.year} Minefold.