!!!
%html{lang: 'en', dir: 'ltr'}
  %head{prefix: fb_head_prefix}
    %meta{charset: 'utf-8'}
    = stylesheet_link_tag 'application', media: 'all'

    - # TODO Improve titles for SEO
    %title
      - if content_for?(:title)
        =  yield :title
        —
      Minefold

    %meta{name: 'author', content: 'Mütli Corp <http://mutlicorp.com>'}
    %meta{name: 'description', content: 'Play Minecraft on demand with friends.'}

    - if Rails.env.production?
      = favicon_link_tag 'favicon.ico'
    - else
      = favicon_link_tag 'favicon-dev.ico'

    %link{title: 'channel-url', href: facebook_channel_url(protocol: '//'), type: 'text/html'}
    %meta{property: 'fb:app_id', content: ENV['FACEBOOK_KEY']}
    = yield :open_graph

    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    - [144, 114, 72, 57].each do |size|
      = favicon_link_tag "apple-touch-icon-#{size}-precomposed.png", rel: 'apple-touch-icon-precomposed', sizes: "#{size}x#{size}", type: 'image/png'

    = stylesheet_link_tag '//get.pictos.cc/fonts/3288/1'

    /[if lt IE 9]
      %script{src: '//html5shim.googlecode.com/svn/trunk/html5.js'}
    %meta{'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge,chrome=1'}

    = csrf_meta_tags

    // Crashm.at
    - if Rails.env.production?
      :javascript
        var _crashmat = #{crashmat_config.to_json};

        (function(w, d, cm, woe) {
          w.onerror = function(e,f,l,c) {
            cm.e = cm.e || []; cm.e.push([e,f,l,c]);
            if (woe) woe(e,f,l,c);
          };
          var e = d.createElement('script');
          e.async = true;
          e.src = '//db2uk9yp28y61.cloudfront.net/';
          (d.head || d.getElementsByTagName('head')[0]).appendChild(e);
        })(window, document, window._crashmat, window.onerror);

    // Mixpanel
    :javascript
      (function(c,a){window.mixpanel=a;var b,d,h,e;b=c.createElement("script");b.type="text/javascript";b.async=!0;b.src=("https:"===c.location.protocol?"https:":"http:")+'//api.mixpanel.com/site_media/js/api/mixpanel.2.js';d=c.getElementsByTagName("script")[0];d.parentNode.insertBefore(b,d);a._i=[];a.init=function(b,c,f){function d(a,b){var c=b.split(".");2==c.length&&(a=a[c[0]],b=c[1]);a[b]=function(){a.push([b].concat(Array.prototype.slice.call(arguments,0)))}}var g=a;"undefined"!== typeof f?g=a[f]=[]:f="mixpanel";g.people=g.people||[];h="disable track track_pageview track_links track_forms register register_once unregister identify name_tag set_config people.set people.increment".split(" ");for(e=0;e<h.length;e++)d(g,h[e]);a._i.push([b,c,f])};a.__SV=1.1})(document,window.mixpanel||[]);
      mixpanel.init(#{ENV['MIXPANEL'].to_json}, {cookie_name: 'mixpanel'});
      mixpanel.register_once({'landing page': window.location.href});

    // Mixpanel
    - if signed_in?
      :javascript
        mixpanel.identify(#{current_user.distinct_id.to_json});
        mixpanel.people.set(#{mixpanel_person.to_json});

    // Typekit
    %script{type: 'text/javascript', src: '//use.typekit.net/qzl8aqw.js'}
    :javascript
      try{Typekit.load();}catch(e){}

    = yield :head


  %body{class: @layouts}
    #fb-root
    #Intercom

    -#= render partial: 'orders/buy_credits_modal'

    #page-background-block
      %header
        .navbar.navbar-static-top
          .navbar-inner
            .pull-left
              = link_to 'Minefold', root_path, class: 'brand'

            .pull-right
              %ul.nav
                - if signed_in?
                  %li.servers= link_to 'Servers', servers_path

                %li.support= link_to 'Support', support_page_path

                - if not signed_in?
                  %li.pricing= link_to 'Pricing', pricing_page_path
                  %li.sign-up= link_to 'Sign Up', new_user_registration_path
                  %li.divider-vertical
                  %li.sign-in= link_to 'Sign In', new_user_session_path

                - else
                  %li.divider-vertical
                  %li.credits
                    %a{href: edit_user_registration_path(anchor: 'billing')}
                      = credits_with_image(current_user.credits)
                  - content_for :tail do
                    :javascript
                      app.creditsView = new Application.CreditsView({
                        model: app.currentUser,
                        el: $('header .credits .cr')
                      });

                  %li.user.dropdown
                    %a.dropdown-toggle{href: '#', data: {toggle: 'dropdown'}}
                      = current_user.username
                      %b.caret.white

                    %ul.dropdown-menu.pull-right
                      %li= link_to 'Settings', edit_user_registration_path
                      %li= link_to 'Get free credits', '#'
                      %li= link_to 'Sign out', destroy_user_session_path, method: :delete


      .container
        - flash.select {|_,msg| msg.is_a?(String) }.each do |name, msg|
          %div.alert.alert-block{class: "alert-#{name}"}
            %a.close{data: {dismiss: 'alert'}} &#215;
            %div{:id => "flash_#{name}"}= msg

      .container
        #app= yield


    %footer
      %ul.unstyled.social
        %li.twitter= link_to 'Follow @minefold on Twitter', 'https://twitter.com/minefold'
        %li.facebook= link_to 'Like Minefold on Facebook', 'https://facebook.com/minefold'

      %ul.unstyled
        %li= link_to 'Pricing', pricing_page_path
        %li= link_to 'Support', support_page_path
        %li= link_to 'About', about_page_path
        %li= link_to 'Developers', 'http://partycloud.com'
        %li= link_to 'Blog', 'http://blog.mutlicorp.com'

      %p.copyright
        &copy;
        %a{href: 'http://mutlicorp.com'} Mütli Corp.

        Made for fun in San Francisco. #{link_to 'Privacy', privacy_page_path} & #{link_to 'Terms', terms_page_path}.


    / ---

    = javascript_include_tag '//d3dy5gmtp8yhk7.cloudfront.net/1.12/pusher.min.js'
    = javascript_include_tag 'https://js.stripe.com/v1'
    = javascript_include_tag 'application'

    :javascript
      window.pusher = new Pusher(#{Pusher.key.to_json});

    :javascript
      Stripe.setPublishableKey(#{ENV['STRIPE_PUBLISHABLE'].to_json});

    :javascript
      window.app = new Application();

    - if signed_in?
      :javascript
        window.app.currentUser = new Application.User(#{current_user.to_json});

    :javascript
      $(function() {
        Backbone.history.start();
      });

      window.fbAsyncInit = function() {
        FB.init({
          appId: #{ENV['FACEBOOK_KEY'].to_json},
          cookie: true,
          xfbml: true,
          logging: #{(not Rails.env.production?).to_json},
          channelUrl: #{facebook_channel_url(protocol: '//').to_json}
        });

        app.trigger('fb:init');

        FB.Event.subscribe('auth.authResponseChange', function(response) {
          if(response.status === 'connected') {
            app.trigger('fb:connected', response);
          } else if (response.status === 'not_authorized') {
            app.trigger('fb:not_authorized', response);
          } else {
            app.trigger('fb:'+response.status, response);
          }
        });

        FB.Event.subscribe('edge.create', function(url) {
          alert('You liked the URL: ' + url);
        });
      }

    = yield :tail


    // Facebook
    :javascript
      (function(d){
         var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement('script'); js.id = id; js.async = true;
         js.src = "//connect.facebook.net/en_US/all.js";
         ref.parentNode.insertBefore(js, ref);
       }(document));


    // Intercom
    - if signed_in?
      = intercom_script_tag

    - if signed_in?
      :javascript
        (function() {
          function async_load() {
            var s = document.createElement('script');
            s.type = 'text/javascript'; s.async = true;
            s.src = 'https://api.intercom.io/api/js/library.js';
            var x = document.getElementsByTagName('script')[0];
            x.parentNode.insertBefore(s, x);
          }
          if (window.attachEvent) {
            window.attachEvent('onload', async_load);
          } else {
            window.addEventListener('load', async_load, false);
          }
        })();


    // Gauges
    - if Rails.env.production?
      :javascript
        var _gauges = _gauges || [];
        (function() {
          var t   = document.createElement('script');
          t.type  = 'text/javascript';
          t.async = true;
          t.id    = 'gauges-tracker';
          t.setAttribute('data-site-id', #{ENV['GAUGES'].to_json});
          t.src = '//secure.gaug.es/track.js';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(t, s);
        })();
