!!!
%html
  %head
    %meta{charset: 'utf-8'}
    %title Minefold
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Paytone+One:regular&v1'
    = stylesheet_link_tag    'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags

    %meta{name:'description', content:'Social Minecraft. Play with friends in the clouds.'}
    %meta{name:'keywords', content:%w().join(',')}

    %link{rel:'shortcut icon', href:url_for('/favicon.ico')}

    - # OpenGraph tags
    %meta{property:'og:title', content:'Minefold'}
    %meta{property:'og:type', content:'website'}
    %meta{property:'og:url', content:'http://www.minefold.com'}
    %meta{property:'og:site_name', content:'Minefold'}
    - # %meta{property:'og:description', content:'Minefold'}
    - # %meta{property:'fb:app_id', content:1234567}
    - # %meta{property:'fb:admins', content:[1,2,3].join(',')}

  %body{page_css_selector}
    %header
      %h1
        %a{href: root_url} Minefold

    #content
      = yield

    %footer
      %a{href: '//twitter.com/#!/minefold'} @minefold
      %p.designed
        Designed in Sydney, Australia.
      %p.copyright
        &copy; #{Time.now.year} Minefold.


    - if Rails.env.production?
      = render partial: 'shared/clicky'
