!!!
%html
  %head
    %meta{charset: 'utf-8'}
    %meta{'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge'}

    %title Minefold
    = stylesheet_link_tag '//fonts.googleapis.com/css?family=Paytone+One:regular&v1'
    = stylesheet_link_tag 'application'
    = csrf_meta_tags

    - # TODO: Write description
    %meta{name:'description', content:'Social Minecraft. Play with friends in the clouds.'}
    - # TODO: Write tags
    %meta{name:'keywords', content:%w().join(',')}

    %link{rel:'shortcut icon', href:url_for('/favicon.ico'), type:'image/x-icon'}

    - # OpenGraph tags
    %meta{property:'og:title', content:'Minefold'}
    %meta{property:'og:type', content:'website'}
    %meta{property:'og:url', content:'//www.minefold.com'}
    %meta{property:'og:site_name', content:'Minefold'}

  %body{page_css_selector}
    %header.global
      .container
        %h1
          %a{href: root_url} Minefold
          %span.beta Beta
        %aside
          = render template: 'sessions/show'

    #content
      .container
        #content-body= yield

        %aside= yield(:aside)

    %footer.global
      .container= render partial: 'shared/footer'

    - if Rails.env.production?
      = render partial: 'shared/clicky'

    = javascript_include_tag 'application'
    %script(type="text/javascript")
      = yield :javascript
    