!!!
%html{lang: 'en', dir: 'ltr', data: {clipboardSwf: asset_path('ZeroClipboard.swf')}}
  %head{prefix: fb_head_prefix}
    %meta{charset: 'utf-8'}
    = stylesheet_link_tag 'application', media: 'all'

    %title
      - if content_for?(:title)
        = yield :title
      - else
        Minefold

    %meta{name: 'author', content: 'Mütli Corp <http://mutlicorp.com>'}
    %meta{name: 'description', content: 'Simple game servers on demand.'}

    - case Rails.env
    - when 'production'
      = favicon_link_tag 'favicon.ico'
    - when 'staging'
      = favicon_link_tag 'favicon-staging.ico'
    - else
      = favicon_link_tag 'favicon-development.ico'

    %link{title: 'channel-url', href: facebook_channel_url(protocol: '//'), type: 'text/html'}
    %meta{property: 'fb:app_id', content: ENV['FACEBOOK_KEY']}
    = yield :open_graph

    - [144, 114, 72, 57].each do |size|
      = favicon_link_tag "apple-touch-icon-#{size}-precomposed.png", rel: 'apple-touch-icon-precomposed', sizes: "#{size}x#{size}", type: 'image/png'

    /[if lt IE 9]
      %script{src: '//html5shim.googlecode.com/svn/trunk/html5.js'}
    %meta{'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge,chrome=1'}

    = csrf_meta_tags

    %script{src: '//d2wy8f7a9ursnm.cloudfront.net/bugsnag-1.0.6.min.js',  data: {apikey: '3e70e9ec8cbba1a9eeb8b8fc83251a6f'}}
    %script{src: ENV['ABBA_URL'] }

    :javascript
      var analytics=analytics||[];(function(){var e=["identify","track","trackLink","trackForm","trackClick","trackSubmit","page","pageview","ab","alias","ready","group"],t=function(e){return function(){analytics.push([e].concat(Array.prototype.slice.call(arguments,0)))}};for(var n=0;n<e.length;n++)analytics[e[n]]=t(e[n])})(),analytics.load=function(e){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src=("https:"===document.location.protocol?"https://":"http://")+"d2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/"+e+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n)};
      analytics.load(#{ENV["SEGMENT_KEY"].to_json.html_safe});

    // Typekit
    %script{type: 'text/javascript', src: '//use.typekit.net/qzl8aqw.js'}
    :javascript
      try{Typekit.load();}catch(e){}

    = yield :head

    = render partial: 'shared/pusher'
    = render partial: 'shared/stripe'
    = javascript_include_tag 'application'

    - if signed_in?
      :javascript
        window.app.setCurrentUser(#{current_user.to_json});
        if (window.pusher) {
          channel = pusher.subscribe("private-user-"+app.currentUser.get('id'))
        }

    = render partial: 'shared/facebook'
    = render partial: 'shared/twitter'


  %body{class: @layouts}
    #fb-root

    - if flash[:alert].is_a?(Symbol)
      = render partial: File.join('alerts', flash[:alert].to_s)
    - else
      - [:alert, :notice, :error].each do |type|
        - if flash.key?(type)
          .alert{class: "alert-#{type}"}
            .alert-inner
              %a.close{data: {dismiss: 'alert'}} &#215;
              = flash[type]


    .navbar-new
      .navbar-new-inner
        %h1.brand= link_to 'Minefold', signed_in? ? dashboard_path : root_path
        = render partial: 'shared/navbar'

    #app= yield

    %footer
      %ul
        %li= link_to 'Plans & Pricing', plans_page_path
        %li= link_to 'Support', support_page_path
        %li= link_to 'About', about_page_path
        %li= link_to 'Servers', list_servers_path
        %li= link_to 'Developers', developers_page_path
        %li= link_to 'Blog', 'http://blog.minefold.com'
        %li.twitter= link_to 'Twitter', 'https://twitter.com/minefold'
        %li.facebook= link_to 'Facebook', 'https://facebook.com/minefold'

      %p.copyright
        &copy;
        %a{href: 'http://mutlicorp.com'} Mütli Corp.
        #{link_to 'Privacy', privacy_page_path} & #{link_to 'Terms', terms_page_path}.

      .mixpanel-badge
        %a{href: 'https://mixpanel.com/f/partner'}
          %img{src: '//cdn.mxpnl.com/site_media/images/partner/badge_light.png', alt: 'Mobile Analytics'}


    - # --

    = yield :tail

    - if flash[:signed_up]
      = render partial: 'users/signed_up'

    - if flash[:signed_in]
      = render partial: 'users/signed_in'

    - if flash[:abba_group]
      :javascript
        Abba('Sign up url').start('#{flash[:abba_group]}')

    - # Analytics
    - if signed_in?
      :javascript
        analytics.identify(
          #{current_user.id.to_json},
          #{AnalyticsProfile.new(current_user).to_json.html_safe}
        );
        analytics.ready(function(){
          window.mixpanel.register_once({'landing page': window.location.href });
        });
