!!!
%html{'xmlns:og' => 'http://ogp.me/ns#'}
  %head
    %meta{charset: 'utf-8'}
    %meta{'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge,chrome=1'}

    %title= content_for?(:title) ? "#{content_for(:title)} — Minefold" : 'Minefold'

    = csrf_meta_tags

    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
    %meta{name:'description', content:'Play Minecraft on demand with friends.'}

    = stylesheet_link_tag 'application'
    = favicon_link_tag

    = javascript_include_tag 'application'

    /[if lt IE 9]
      = javascript_include_tag '//html5shim.googlecode.com/svn/trunk/html5.js'


    %meta{name:'description', content:'Social Minecraft. Play with friends in the clouds.'}
    %meta{name:'keywords', content:%w(gaming games game minecraft server hosting multiplayer).join(',')}

    %meta{property: 'og:site_name', content: 'Minefold'}
    %meta{property: 'fb:app_id', content: ENV['FB_APP_ID']}

    = yield :head
    = render partial: 'shared/mixpanel'

  %body{lang: 'en', id: page_css_selector}
    <div id="fb-root"></div>
    <script>
    (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=160107270726261";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>

    %header
      .wrapper
        %h1
          = link_to root_url do
            Minefold
            %span.beta Beta
        %aside
          = render partial: 'shared/nav'

    #map-canvas

    %section#masthead
      .wrapper= yield :masthead

    - flash.each do |type, message|
      %section.flash{class: type}
        .wrapper
          %a.close{href: '#'}
          = simple_format(message)

    :coffeescript
      $(document).ready ->
        $('.flash a.close').click (e) ->
          e.preventDefault()
          $(e.target).parent().parent('.flash').slideUp()

    %section#before= yield :before

    %section#page
      .wrapper= yield

    %section#after= yield :after

    %footer
      .wrapper
        %ul
          %li.help= link_to 'Help', help_page_path
          %li.about= link_to 'About', about_page_path
          %li.contact= link_to 'Contact', contact_page_path

          %li.facebook= link_to 'Become a fan', 'https://facebook.com/minefold'
          %li.twitter= link_to 'Follow us', 'https://twitter.com/minefold'

        %p.fineprint
          &copy; 2011 Minefold.
          #{link_to 'Privacy', privacy_page_path} &amp; #{link_to 'Terms', terms_page_path}.

    - if Rails.env.production?
      = render partial: 'shared/analytics'
