!!!
%html
  %head
    %meta{charset: 'utf-8'}
    %meta{'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge'}

    %title Minefold

    = render partial: 'shared/typekit'
    = stylesheet_link_tag 'application'
    = favicon_link_tag

    = csrf_meta_tags
    %meta{name: 'pusher_key', content: Pusher.key}

    - # TODO: Write description
    %meta{name:'description', content:'Social Minecraft. Play with friends in the clouds.'}
    - # TODO: Write tags
    %meta{name:'keywords', content:%w().join(',')}

    - # TODO: OpenGraph tags

    = javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js'
    = javascript_include_tag 'http://js.pusherapp.com/1.8/pusher.min.js'
    = javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js'

  %body{page_css_selector}
    %header.global
      .container
        %h1
          = link_to root_url do
            Minefold

        %aside
          = render template: 'sessions/show'

    #content
      = yield :before

      #page.container
        = yield

      = yield :after

    %footer.global
      .container
        = render partial: 'shared/footer'

    = javascript_include_tag 'application'

    - if Rails.env.production?
      = render partial: 'shared/analytics'
