!!!
%html.home{app_html_attrs}
  %head{prefix: fb_head_prefix}
    = render partial: 'shared/head'

  %body
    #fb-root

    = render partial: 'shared/header'
    = render partial: 'shared/flash_messages'

    = yield :masthead

    .container= yield

    = render partial: 'shared/footer'

    = javascript_include_tag 'application'
    = yield :js
