!!!
%html.system{app_html_attrs}
  %head{prefix: fb_head_prefix}
    = render partial: 'shared/head'

  %body
    #fb-root

    %header.header
      .container
        = render partial: 'shared/header/logo'

    = yield :masthead

    #page.page
      .container= yield

    = render partial: 'shared/footer'

    = javascript_include_tag 'application'
    = yield :js
