%html
  %head
    %title
    %meta{'http-equiv' => 'Content-Type', 'content' => 'text/html;charset=utf-8'}
    %meta{name: 'viewport', content: 'width=device-width'}

    = stylesheet_link_tag 'campaigns'

    %meta{name: 'robots', content: 'noindex,nofollow'}
    %meta{property: 'og:title', content: "March '12: New host names, easier friend inviting"}
    %body

      / Background
      /   margin: 40px 0;

      %table#background-table.w480{align: 'center'}
        %tbody
          %tr
            %td

              / Container
              /   padding: 0 10px;

              %table#container-table
                %tbody
                  %tr
                    %td.w10{width: 10}
                    %td

                      / Article
                      %table#article-table
                        %tbody
                          %tr#article-header
                            %td
                              = image_tag 'logo40.png', width: 40, height: 40

                          %tr.h40

                          %tr
                            %td
                              %table#article
                                %tbody
                                  %tr
                                    %td.w40{valign: 'top'}
                                      = yield :image
                                    %td.w20
                                    %td{valign: 'top'}
                                      %strong Hi #{@user.username},
                                      %br
                                      = yield

                          %tr
                            %td
                              = yield :buttons

                          %tr.h40

                          %tr#article-footer
                            %td
                              To manage your notifications, visit your #{link_to 'account settings', edit_user_path(auth_token: @user.authentication_token)}.

                    %td.w10

          %tr
            %td.h40
