- if account.linked?
  .item[account]{data: {linked: true}}
    .profile-image
      = image_tag account.avatar_url, width: 40, height: 40, alt: account.username

    .details
      .name Facebook (#{account.username})
      .actions
        %a{href: account.profile_url} Profile
        &middot;
        = link_to 'Unlink account', account_path(account), :method => :delete, class: 'account-list-unlink'

- else
  .item[account]
    .profile-image
    .details
      .name Facebook
      .actions
        = link_to user_omniauth_authorize_path(:facebook) do
          Link your Facebook account
          - if Bonuses::LinkedFacebookAccount.new(user: current_user).claimable?
            and get
            %strong= pluralize(Bonuses::LinkedFacebookAccount.coins, "minute", "minutes")
            bonus time
