.wrapper
  %section.casual
    %h3 Casual
    %p
      pre-paid only
      %br
      %br

    = form_tag customer_unsubscribe_path, method: :delete do
      - if current_user.casual?
        %button{disabled: true} Current plan
      - else
        %button Downgrade

  %section.small
    %h3 Small
    %p 40 hours every month
    %p
      = number_to_currency 4.95
      \/ mo

    = form_tag customer_subscribe_path do
      = hidden_field_tag :plan_id, 'small'
      - case plan_change_action(current_user.plan_id, 'small')
      - when :upgrade
        %button Upgrade
      - when :downgrade
        %button Downgrade
      - else
        %button{disabled: true} Current plan

  %section.medium
    %h3 Medium
    %p 100 hours every month
    %p
      = number_to_currency 9.95
      \/ mo

    = form_tag customer_subscribe_path do
      = hidden_field_tag :plan_id, 'medium'
      - case plan_change_action(current_user.plan_id, 'medium')
      - when :upgrade
        %button Upgrade
      - when :downgrade
        %button Downgrade
      - else
        %button{disabled: true} Current plan

  %section.large
    %h3 Large
    %p 260 hours every month
    %p
      = number_to_currency 19.95
      \/ mo

    = form_tag customer_subscribe_path do
      = hidden_field_tag :plan_id, 'large'
      - case plan_change_action(current_user.plan_id, 'large')
      - when :upgrade
        %button Upgrade
      - when :downgrade
        %button Downgrade
      - else
        %button{disabled: true} Current plan