= render partial: 'header'
= render partial: 'plan'

#card
  = image_tag 'card.png'
  - if current_user.card.nil?
    %p No card on file
  - else
    %p
      %strong Card on file:
      = current_user.card.type


#plans
  %table
    %thead
      %tr
        %th
        %th Price
        %th Hours / mo
        %th Worlds

    %tbody
      - Plan.all.sort_by {|plan| plan.price}.reverse.each do |plan|
        %tr{class: plan.stripe_id}
          %th.name= plan.name
          %td.price= number_to_currency(plan.price.to_f / 100)
          %td.hours= plan.credits / 60
          %td.worlds= plan.worlds
          %td.change
            - if current_user.plan == plan.stripe_id
              Current plan
            - else
              - action = plan_change_action(current_user, plan)
              = button_to action, plan_account_path(plan_id: plan.stripe_id), method: :put, confirm: "Are you sure you want to #{action.downcase}?", class: 'button'
