- title_and_masthead 'Dashboard'

-# TODO: "Confirm email address" new_confirmation_path(resource_name)

#page
  - if not current_user.confirmed?
    %aside
      .note.small.warning
        %h3 Confirm your account
        %p You should have recieved an email with instructions on how to confirm your account. If you haven't got it we can #{link_to 'resend it to you', '#'} or you #{link_to 'change your email address', edit_account_path}.

  %p= link_to 'Create a new world!', new_world_path, class: 'btn'

  %article
    #worlds
      %ul
        - current_user.worlds.each do |world|
          %li{class: ('active' if current_user.current_world?(world))}
            %a{href: world_path(world) }
              %img.thumb{src: "#{world.map_assets_url}/thumb.png"}
            = link_to_world world.name, world
            %p= pluralize world.members.count, 'member'
