- title 'Dashboard'

/ - masthead do
/   %p Steps to enlightenment:
/   %p 1. Create or join a world
/   %p 2. Invite your friends
/   %p 3. Play some minecraft

%aside
  %p= link_to 'Create a new world', new_world_path, class: 'btn'
  %p= link_to 'Upload an existing world',new_upload_path

%article
  / .note Please add #{current_user.host} to Minecraft.

  / - if current_user.current_world.nil?
  /   %p You need to select a world from the list below to play in.

  #worlds
    %ul
      - current_user.worlds.each do |world|
        %li{class: ('active' if current_user.current_world?(world))}
          = image_tag 'default-world.png', width: 24, height: 24
          .info
            %h2= link_to world.name, world
            %p= pluralize world.players.count, 'player', 'friends'
          / .current
          /   - if current_user.current_world == world
          /     %button{disabled: true} Currently playing here
          /   - else
          /     = button_to 'Play here', [:play, world], method: :put

          / - unless world.players.empty?
          /   .players
          /     = world.players[0..5].map {|p| p.username }.to_sentence
          /     - if world.players.length == 1
          /       is
          /     - else
          /       are
          /     playing here.