%header
  %h1= current_user.username

= form_for current_user, url: account_path, format: :post do |f|
  %section
    = f.label :username
    = f.text_field :username

  %section
    = f.submit 'Update your deets'