- title_and_masthead 'Account Settings'

#page
  = render partial: 'accounts/nav'

  %article
    = form_for current_user, url: account_path do |f|
      %fieldset
        %h3 Worlds

        = f.fields_for :notifications do |n|
          %div
            = n.check_box :world_membership_created, checked:  (current_user.notifications['world_membership_created'] == '1')
            = n.label :world_membership_created do
              Somebody wants to play in one of your worlds

          %div
            = n.check_box :world_started, checked: (current_user.notifications['world_started'] == '1')
            = n.label :world_started do
              A friend starts playing a world

      %fieldset.submit
        = f.submit 'Update notifications'
