- track_pageview
- title 'Upgrade to Pro'
- masthead do
  %h1
    Upgrade to Minefold
    %span.pro Pro

- head do
  = javascript_include_tag 'https://js.stripe.com/v1'
  :javascript
    Stripe.setPublishableKey(#{ENV['STRIPE_PUBLISHABLE'].to_json});

%ol.time-packs
  %li{data: {months: 3, amount: 1500}}
    %a
      %h1.time
        Buy for
        %strong 3 months
      %h2
        %span.price= number_to_currency(15.00)

  %li.six-months{data: {months: 6, amount: 2500}}
    %a
      %h1.time
        Buy for
        %strong 6 months
      %h2
        %span.price= number_to_currency(25.00)

  %li{data: {months: 12, amount: 4500}}
    %a
      %h1.time
        Buy for
        %strong 12 months
      %h2
        %span.price= number_to_currency(45.00)



= form_tag order_path, method: :post, id: 'new-order', style: 'display:none' do
  = hidden_field_tag :hours

  .row
    %fieldset.card

      .errors{hidden}

      %section.card-number
        = label_tag :number, 'Card Number'
        = text_field_tag :number, nil, name: nil, size: 20, autocomplete: 'off', id: 'card-number'
        = image_tag 'cc-types.png'

      %section.card-cvc
        = label_tag :cvc, 'CVC'
        = text_field_tag :cvc, nil, name: nil, size: 4, autocomplete: 'off', id: 'card-cvc'

      %section.card-expiry
        = label_tag :expiry_month, 'Expiry Date'

        = text_field_tag :expiry_month, nil, name: nil, size: 2, id: 'card-exp-month', placeholder: 'MM'
        %span.slash /
        = text_field_tag :expiry_year, nil, name: nil, size: 4, id: 'card-exp-year', placeholder: 'YYYY'

    %aside
      %p
        You will be charged
        %strong.dollar-amount $74.95
        for
        %strong.months 0
        months of Minefold <span class="pro">Pro</span>.

      %p.security AES-256 Secure payment by #{link_to 'Stripe', 'https://stripe.com/help/security', target: '_blank'}.

  %fieldset.submit
    = submit_tag 'Purchase Pro'
    = button_tag 'Reset', type: 'reset'


:coffeescript
  timePacks = $('ol.time-packs li')
  form = $('form#new-order')
  aside = form.find('aside')

  timePacksData = #{TimePack.all.to_json}

  timePacks.find('a').click (e) ->
    pack = $(@).parent('li')
    timePacks.removeClass('active')
    pack.addClass('active')

    price = pack.data('amount') / 100
    months = pack.data('months')

    aside.find('.dollar-amount').text("$" + price)
    aside.find('.months').text(months)

    form.find('input[name=months]').val(months)

    form.show()


  form.find('button[type=reset]').click ->
    timePacks.removeClass('active')
    form.hide()

  form.submit (e) ->
    e.preventDefault()

    submitButton = form.find('input[type=submit]').attr(disabled: true)

    card =
      number:    form.find('#card-number').val()
      cvc:       form.find('#card-cvc').val()
      exp_month: form.find('#card-exp-month').val()
      exp_year:  form.find('#card-exp-year').val()

    selectedPack = timePacks.filter('.active')

    months = parseInt(selectedPack.data('months'), 10)

    pack = _(timePacksData).find((pack) -> pack.months is months)
    amount = pack.cents

    # Protects against DOM modification attacks
    return alert('Nice try buddy') unless amount?

    Stripe.createToken card, amount, (status, response) ->
      if status isnt 200
        submitButton.attr(disabled: false)

        $('<p></p>')
          .addClass('stripe')
          .text(response.error.message)
          .appendTo form.find('.errors').empty().show()

      else
        token = response.id
        $('<input></input>')
          .attr(type: 'hidden', name: 'stripe_token')
          .val(token)
          .appendTo(form)

        $('<input></input>')
          .attr(type: 'hidden', name: 'pack_id')
          .val(pack.id)
          .appendTo(form)

        form.get(0).submit()
