= render partial: 'header'
= render partial: 'plan'

= form_for edit_account_path, object: current_user, method: :put, class: 'stripe-target' do |f|
  %section
    %h2 Username
    = f.text_field :username, value: current_user.username
    :coffeescript
      username = $('input#user_username')
      fetchUser = ->
        u = username.val()
        if u isnt ''
          $.getJSON '/signup/check', {username: u}, (data, status) ->
              username.siblings('.hint').toggle(not data.paid)

      username.keyup _.debounce(fetchUser, 300)

    .hint{hidden}
      %p
        You need a <em>paid</em> Minecraft account to play on Minefold. They are €14.95 at
        %a{href: 'http://minecraft.net/store', target: '_blank'} http://minecraft.com/store
        or you can change your username later.

  %section
    = f.submit 'Update settings'

- after do
  - if card = current_user.card
    %h2 Card

    %p #{card.type} *****#{card.last4} exp. #{card.exp_month}/#{card.exp_year}
