- track_pageview
- title_and_masthead 'Buy Time'

- head do
  = javascript_include_tag 'https://js.stripe.com/v1'
  :javascript
    Stripe.setPublishableKey(#{ENV['STRIPE_PUBLISHABLE'].to_json});

%ol.time-packs
  - TimePack.all.each do |pack|
    %li{data: {hours: pack.hours, amount: pack.amount}}
      %a
        %h1.time
          Buy
          %strong= pack.hours
          hours
        %h2
          %span.price= number_to_currency(pack.dollars)
          %span.rate #{pack.rate}¢/h

= form_tag order_path, method: :post, id: 'new-order', style: 'display:none' do
  .row
    %fieldset.card
      %input{type: 'hidden', name: 'hours'}

      .errors{hidden}

      %section.card-number
        = label_tag :number, 'Card Number'
        = text_field_tag :number, nil, name: nil, size: 20, autocomplete: 'off', id: 'card-number'
        = image_tag 'cc-types.png'

      %section.card-cvc
        = label_tag :cvc, 'CVC'
        = text_field_tag :cvc, nil, name: nil, size: 4, autocomplete: 'off', id: 'card-cvc'

      %section.card-expiry
        = label_tag :expiry_month, 'Expiry Date'

        = text_field_tag :expiry_month, nil, name: nil, size: 2, id: 'card-exp-month', placeholder: 'MM'
        %span.slash /
        = text_field_tag :expiry_year, nil, name: nil, size: 4, id: 'card-exp-year', placeholder: 'YYYY'

    %aside
      %p
        You will be charged
        %strong.dollar-amount $74.95
        for
        %strong.hours 500
        hours.

      %p.security AES-256 Secure payment by #{link_to 'Stripe', 'https://stripe.com/help/security', target: '_blank'}.

  %fieldset.submit
    = submit_tag 'Purchase time'
    = button_tag 'Reset', type: 'reset'


:coffeescript
  timePacks = $('ol.time-packs li')
  form = $('form#new-order')
  aside = form.find('aside')

  timePacksData = #{TimePack.all.to_json}

  timePacks.find('a').click (e) ->
    pack = $(@).parent('li')
    console.log timePacks
    timePacks.removeClass('active')
    pack.addClass('active')

    price = pack.data('amount') / 100
    hours = pack.data('hours')

    console.log price, hours

    aside.find('.dollar-amount').text("$" + price)
    aside.find('.hours').text(hours)

    form.find('input[name=hours]').val(hours)

    form.show()


  form.find('button[type=reset]').click ->
    timePacks.removeClass('active')
    form.hide()

  form.submit (e) ->
    e.preventDefault()

    submitButton = form.find('input[type=submit]').attr(disabled: true)

    card =
      number:    form.find('#card-number').val()
      cvc:       form.find('#card-cvc').val()
      exp_month: form.find('#card-exp-month').val()
      exp_year:  form.find('#card-exp-year').val()

    selectedPack = timePacks.filter('.active')

    hours = parseInt(selectedPack.data('hours'), 10)

    amount = _(timePacksData).find((pack) -> pack.hours is hours).amount

    # Protects against DOM modification attacks
    return alert('Nice try buddy') unless amount?

    Stripe.createToken card, amount, (status, response) ->
      if status isnt 200
        submitButton.attr(disabled: false)

        $('<p></p>')
          .addClass('stripe')
          .text(response.error.message)
          .appendTo form.find('.errors').empty().show()

      else
        token = response.id
        $('<input></input>')
          .attr(type: 'hidden', name: 'stripe_token')
          .val(token)
          .appendTo(form)

        form.get(0).submit()
