- track_pageview
- title 'Buy Time'
- masthead do
  .row
    %h1 No time left?

- head do
  = javascript_include_tag 'https://js.stripe.com/v1'
  :javascript
    Stripe.setPublishableKey(#{ENV['STRIPE_PUBLISHABLE'].to_json});

.row
  %article
    %h2 1. Choose how long you want to play for
  %ol.time-packs
    - TimePack.all.each do |pack|
      %li
        %a{data: {hours: pack.hours, amount: pack.amount}}
          .time
            %strong= pack.hours
            hours
          %span.price= number_to_currency(pack.dollars)
          %span.rate #{pack.rate}¢/h

#order
  .row
    %article
      %h2 2. Enter in your payment details

  = form_tag order_path, method: :post do
    = hidden_field_tag :hours

    .errors{hidden}

    %fieldset
      %section.card-number
        = label_tag :number, 'Card Number'
        = text_field_tag :number, nil, name: nil, size: 20, autocomplete: 'off', id: 'card-number'

        .hint= image_tag 'cc-types.png'

        :javascript
          var number = $('#stripe-number');
          number.blur(function(){
            number.val(number.val().replace(/[^0-9]/g, ''));
          });

      %section.card-cvc
        = label_tag :cvc, 'CVC'
        = text_field_tag :cvc, nil, name: nil, size: 4, autocomplete: 'off', id: 'card-cvc'

      %section.card-expiry
        = label_tag :expiry_month, 'Expiry Date'
        = text_field_tag :expiry_month, nil, name: nil, size: 2, id: 'card-exp-month', placeholder: 'MM'
        %span.slash /
        = text_field_tag :expiry_year, nil, name: nil, size: 4, id: 'card-exp-year', placeholder: 'YYYY'

    %fieldset.submit
      = submit_tag 'Confirm order'
      = button_tag 'Cancel', type: 'reset'

    %p.security AES-256 Secure payments by #{link_to 'Stripe', 'https://stripe.com/help/security', target: '_blank'}.



:coffeescript
  products = $('ol.time-packs')
  order = $('#order')
  form = order.find('form')

  timePacks = #{TimePack.all.to_json}

  products.find('a').click (e) ->
    product = $(@)
    products.find('li').removeClass('active')
    product.parent().addClass('active')

    price = product.data('amount') / 100
    hours = product.data('hours')

    order.find('aside .dollar-amount').text("$" + price)
    order.find('aside .hours').text(hours)

    form.find('input[name=hours]').val(hours)

    order.show()


  card.find('input[type=reset]').click ->
    card.hide()
    products.find('a').parent().removeClass('active')

  form.submit (e) ->
    e.preventDefault()

    button = form.find('input[type=submit]')

    button.attr(disabled: true)

    card =
      number:    form.find('#stripe-number').val()
      cvc:       form.find('#stripe-cvc').val()
      exp_month: form.find('#stripe-exp-month').val()
      exp_year:  form.find('#stripe-exp-year').val()

    hours = parseInt(products.find('.active').data('hours'), 10)

    amount = _(timePacks).find((pack) -> pack.hours is hours).amount

    # Protects against DOM modification attacks
    return unless amount

    Stripe.createToken card, amount, (status, response) ->
      if status isnt 200
        button.attr(disabled: false)

        $('<p></p>')
          .addClass('stripe')
          .text(response.error.message)
          .appendTo form.find('.errors').empty()

      else
        token = response.id
        $('<input></input>')
          .attr(type: 'hidden', name: 'stripe_token')
          .val(token)
          .appendTo(form)

        form.get(0).submit()
